<div class="card" id="newspupup">
  <div class="card-content">
    <div class="card-head">
      <h2>
        {{ HEAD }}
        <span
          class="card-title activator info-act"
          (click)="isCollapseTodayContri = !isCollapseTodayContri"
        ></span>
      </h2>
    </div>

    <ng-container *ngIf="data_news; else loadingTemplate">
      <ng-container *ngIf="data_news.length > 0; else noDataTemplate">
        <!-- Content to show if data exists -->
        <div #childDiv class="news list-mojo">
          <div
            *ngFor="let item of data_news"
            ng-if="loader[0].pf_today_news == false &amp;&amp; error_flag[0].actionToday_news == 0"
            class="ng-scope"
          >
            <div class="news-item ng-scope" ng-if="value.imgurl == ''">
              <div class="news-cont-noimg">
                <div class="newshead">
                  <a
                    [href]="
                      'https://www.marketsmojo.com/Stocks?StockId=' +
                      item.sid +
                      '&Exchange=0'
                    "
                    target="_blank"
                    ><strong class="ng-binding"> {{ item.sname }} : </strong></a
                  >

                  <a [href]="item.siteurl" target="_blank" class="ng-binding">
                    {{ item.title }}
                  </a>
                </div>
                <div class="news-date ng-binding">
                  {{ item.date }}
                  <span class="ng-binding"> {{ item.domain }} </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #loadingTemplate>
      <!-- Content to show while loading -->
      <div>
        <div id="loading" class="ng-scope">
          <img
            id="loading-image"
            src="https://i.marketsmojo.com/loading.gif"
            alt="Loading..."
          />
        </div>
      </div>
    </ng-template>

    <ng-template #noDataTemplate>
      <!-- Content to show if no data found -->
      <div class="alert alert-warning mar-empty ng-scope">
        <h4 dynamic="Act_corp_ErrorMsg">No Upcoming Events</h4>
      </div>
    </ng-template>
  </div>

  <!-- extend -->
  <div
    class="card-reveal animate-slide"
    [ngClass]="{ 'ng-hide': isCollapseTodayContri }"
    ng-show="isCollapseTodayNews"
  >
    <span class="card-title grey-text text-darken-4">
      Card Title<i
        class="material-icons right"
        (click)="isCollapseTodayContri = !isCollapseTodayContri"
        >close</i
      >
    </span>
    <div class="card-reveal-text">
      <ul>
        <li>
          The card lists the latest news from across the web on your portfolio
          stocks
        </li>
        <li>Click on See More News for more news items</li>
      </ul>
    </div>
  </div>
</div>

<!-- more news button -->
<div class="porbottomlink">
  <div class="bottom-card-links">
    <div class="bottom-card-links no-web">
      <a
        (click)="sendToParent()"
        class="seefull waves-light modal-trigger"
        href="javascript:void(0)"
        ><img
          src="https://i.marketsmojo.com/arrow_rt.png"
          alt="ArrowRight"
          height="16"
        />
        See More News</a
      >
    </div>
    <div class="bottom-card-links no-mob">
      <a
        (click)="sendToParent()"
        class="seefull waves-light"
        href="javascript:void(0)"
        ><img
          src="https://i.marketsmojo.com/arrow_rt.png"
          alt="ArrowRight"
          height="16"
        />
        See More News</a
      >
    </div>
  </div>
</div>
