<div class="card">
  <div class="card-content">
    <div class="card-head">
      <h2>
        {{ HEAD }}
        <ng-container *ngIf="HEAD == 'Return'"> s </ng-container>
        Scorecard
      </h2>
    </div>

    <!-- body -->
    <ng-container *ngIf="DATA!; else loadingTemplate">
      <!-- Content to show if data exists -->
      <div class="sevn-dot-card ng-scope">
        <div class="head-7dot">{{ HEAD }}</div>

        <ng-container *ngIf="DATA.text!">
          <p class="sev-txt3 ng-binding">
            {{ DATA.text }}
          </p>
        </ng-container>

        <ng-container *ngIf="DATA.txt1!">
          <p class="sev-txt3 ng-binding">
            {{ DATA.txt1 }}
            <ng-container *ngIf="DATA.txt2!">
              <br />
              {{ DATA.txt2 }}
            </ng-container>
          </p>
        </ng-container>

        <div [ngClass]="(DATA.dotclr! || DATA.color!) + '-7dot'">
          <div class="con-7dot">
            <ng-container>
              <div class="sev-txt1 ng-binding" *ngIf="DATA.c_text!">
                {{ DATA.c_text }}
              </div>

              <div
                class="sev-txt1 ng-binding"
                *ngIf="DATA.text! && HEAD == 'Diversification'"
              >
                {{ DATA.text }}
              </div>
            </ng-container>

            <ng-container *ngIf="DATA.dt!">
              <div class="sev-txt1 ng-binding">
                <small> Since Inception</small>
                <small
                  ><i class="ng-binding">({{ DATA.dt }})</i>
                </small>
                {{ DATA.return | roundOff | twoCommas }} %
              </div>
            </ng-container>
          </div>
        </div>
        <div [ngClass]="DATA.dotclr! || DATA.color!" class="condi-p-7">
          For detailed {{ HEAD }} analysis<br />
          <span class="readon" style="color: black"
            >Swipe right..
            <img
              src="https://i.marketsmojo.com/arrow_rt.png"
              alt="ArrowRight"
              data-pin-nopin="true"
              height="16"
              width="23"
          /></span>
        </div>
      </div>
    </ng-container>

    <ng-template #loadingTemplate>
      <!-- Content to show while loading -->
      <div>
        <div id="loading" class="ng-scope">
          <img
            id="loading-image"
            src="https://i.marketsmojo.com/loading.gif"
            alt="Loading..."
          />
        </div>
      </div>
    </ng-template>

  </div>
  <div class="condi-p ng-scope" *ngIf="HEAD == 'Return'">
    Absolute total returns
  </div>
</div>
