<div class="card">
  <div class="card-content">
    <div class="card-head">
      <h2>Returns Scorecard</h2>
    </div>

    <!-- body -->
    <div class="sevn-dot-card ng-scope" *ngIf="DATA!">
      <div class="head-7dot">Risk</div>
      <p class="sev-txt3 ng-binding">
        {{ DATA.text }}
      </p>
      <div [ngClass]="DATA.color + '-7dot'">
        <div class="con-7dot">
          <div class="sev-txt1 ng-binding">{{ DATA.c_text }}</div>
        </div>
      </div>
      <div
      [ngClass]="DATA.color"
      class="condi-p-7">
        For detailed {{ NAME }} analysis<br />
        <span class="readon" style="color: black"
          >Swipe right..
          <img
            src="https://i.marketsmojo.com/arrow_rt.png"
            alt="ArrowRight"
            data-pin-nopin="true"
            height="16"
            width="23"
        /></span>
      </div>
    </div>
    <!-- end ngIf: loader[0].pf_return_score == false && error_flag[0].return_scorecard == 0 -->
  </div>
  <!-- ngIf: loader[0].pf_return_score == false && error_flag[0].return_scorecard == 0 -->
  <div
    class="condi-p ng-scope"
    ng-if="loader[0].pf_return_score == false &amp;&amp; error_flag[0].return_scorecard == 0"
    style=""
  >
    Absolute total returns
  </div>
  <!-- end ngIf: loader[0].pf_return_score == false && error_flag[0].return_scorecard == 0 -->
</div>
