<div class="card">
  <div class="card-content breakupcard">
    <!-- head -->
    <div class="card-head">
      <h2>
        <div>
          {{ HEAD }}
          <span
            class="card-title activator info-act"
            (click)="isCollapseTodayContri = !isCollapseTodayContri"
          ></span>
        </div>
      </h2>
    </div>

    <ng-container *ngIf="data_mcap!; else loadingTemplate">
      <!-- Content to show if data exists -->

      <div class="pf-rtn-breakup">
        <div class="pf-by-m-cap-sec pf-by-margin">
          <div class="pf-undr-txt txt-cr pf-by-margin pf-by-margin02">
            <h6
              class="ng-binding"
              [ngClass]="
                this.fun.getDirClrDefault(data_mcap.large.labeldir, 'orange')
              "
            >
              {{ data_mcap.large.label }}
            </h6>
          </div>
          <table class="pftbl-lt">
            <tbody>
              <tr>
                <td>
                  <div class="pf-txt-1"><span>Large Caps</span></div>
                  <div
                    [ngClass]="
                      this.fun.getDirClrDefault(
                        data_mcap.large.gaindir,
                        'orange'
                      )
                    "
                    class="ng-binding pf-txt-2"
                  >
                    Rs.{{ data_mcap.large.gain | roundOff | twoCommas }} ({{
                      data_mcap.large.gainp | roundOff | twoCommas
                    }}%)
                  </div>
                </td>
                <td>
                  <div class="pf-txt-3">V/S</div>
                </td>
                <td>
                  <div class="pf-txt-1">Sensex</div>
                  <div
                    [ngClass]="
                      this.fun.getDirClrDefault(
                        data_mcap.large.idxpdir,
                        'orange'
                      )
                    "
                    class="ng-binding pf-txt-2"
                  >
                    ({{ data_mcap.large.idxp | roundOff | twoCommas }}%)
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pf-by-m-cap-sec pf-by-margin">
          <div class="pf-undr-txt txt-cr pf-by-margin">
            <h6
              [ngClass]="
                this.fun.getDirClrDefault(data_mcap.mid.labeldir, 'orange')
              "
              class="ng-binding"
            >
              {{ data_mcap.mid.label }}
            </h6>
          </div>
          <table class="pftbl-lt">
            <tbody>
              <tr>
                <td>
                  <div class="pf-txt-1"><span>Mid Caps</span></div>
                  <div
                    [ngClass]="
                      this.fun.getDirClrDefault(data_mcap.mid.gaindir, 'orange')
                    "
                    class="ng-binding pf-txt-2"
                  >
                    Rs.{{ data_mcap.mid.gain | roundOff | twoCommas }} ({{
                      data_mcap.mid.gainp | roundOff | twoCommas
                    }}%)
                  </div>
                </td>
                <td>
                  <div class="pf-txt-3">V/S</div>
                </td>
                <td>
                  <div class="pf-txt-1">BSE Midcap</div>
                  <div
                    [ngClass]="
                      this.fun.getDirClrDefault(data_mcap.mid.idxpdir, 'orange')
                    "
                    class="ng-binding pf-txt-2"
                  >
                    ({{ data_mcap.mid.idxp | roundOff | twoCommas }}%)
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pf-by-m-cap-sec pf-by-margin">
          <div class="pf-undr-txt txt-cr pf-by-margin">
            <h6
              class="ng-binding"
              [ngClass]="
                this.fun.getDirClrDefault(
                  data_mcap.smallmicro.labeldir,
                  'orange'
                )
              "
            >
              {{ data_mcap.smallmicro.label }}
            </h6>
          </div>
          <table class="pftbl-lt">
            <tbody>
              <tr>
                <td>
                  <div class="pf-txt-1">
                    <span>Small / Micro Caps</span>
                  </div>
                  <div
                    [ngClass]="
                      this.fun.getDirClrDefault(
                        data_mcap.smallmicro.gaindir,
                        'orange'
                      )
                    "
                    class="ng-binding pf-txt-2"
                  >
                    Rs.{{
                      data_mcap.smallmicro.gain | roundOff | twoCommas
                    }}
                    ({{ data_mcap.smallmicro.gainp | roundOff | twoCommas }}%)
                  </div>
                </td>
                <td>
                  <div class="pf-txt-3">V/S</div>
                </td>
                <td>
                  <div class="pf-txt-1">BSE Smallcap</div>
                  <div
                    [ngClass]="
                      this.fun.getDirClrDefault(
                        data_mcap.smallmicro.idxpdir,
                        'orange'
                      )
                    "
                    class="ng-binding pf-txt-2"
                  >
                    ({{ data_mcap.smallmicro.idxp | roundOff | twoCommas }}%)
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

    <ng-template #loadingTemplate>
      <!-- Content to show while loading -->
      <div>
        <div id="loading" class="ng-scope">
          <img
            id="loading-image"
            src="https://i.marketsmojo.com/loading.gif"
            alt="Loading..."
          />
        </div>
      </div>
    </ng-template>
  </div>

  <!-- extend -->
  <div
    class="card-reveal animate-slide ng-hide"
    [ngClass]="{ 'ng-hide': isCollapseTodayContri }"
    ng-show="isCollapseTodayBreak"
  >
    <span class="card-title grey-text text-darken-4">
      Card Title<i
        class="material-icons right"
        (click)="isCollapseTodayContri = !isCollapseTodayContri"
        >close</i
      >
    </span>
    <div class="card-reveal-text">
      <ul>
        <li>
          Your portfolio stocks are grouped as per their market cap categories
          and the performance of the group is compared with its market index
        </li>
        <li>Returns include effect of buys/sell transactions during the day</li>
        <li>
          It helps to identify which part of your portfolio is pulling and
          dragging your portfolio today
        </li>
        <li>
          Click on All Stocks to see breakup of the information on the card
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- full details button -->
<div class="porbottomlink">
  <div class="bottom-card-links">
    <div class="bottom-card-links no-web">
      <a
        (click)="sendToParent()"
        class="seefull waves-light modal-trigger"
        href="javascript:void(0)"
        ng-click="getDiversMcap();modalOpen('divrse_sector_pop_today', 0)"
        ><img
          src="https://i.marketsmojo.com/arrow_rt.png"
          alt="ArrowRight"
          height="16"
        />
        Full Details
      </a>
    </div>
    <div class="bottom-card-links no-mob">
      <a
        (click)="sendToParent()"
        class="seefull waves-light"
        href="javascript:void(0)"
        ng-click="getDiversMcap();modalOpen('divrse_sector_pop_today', 0)"
        ><img
          src="https://i.marketsmojo.com/arrow_rt.png"
          alt="ArrowRight"
          height="16"
        />
        <span *ngIf="isLoading">
          Loading...
        </span>
        <span *ngIf="!isLoading  "> Full Details </span>
        <!-- <span *ngIf="this.error"> {{this.error}} </span> -->
        
      </a>
    </div>
  </div>
</div>

<!-- detailed data -->
<div [hidden]="true">
  <div
    #childDiv
    class="modal-content contentbg ng-scope"
  >
    <div>
      <table class="table1 mod-table">
        <thead>
          <tr>
            <th class="ng-binding">Market Cap<br /></th>
            <th>
              Portfolio<br />
              Weight
            </th>
            <th>Day's<br />Gain/Loss</th>
            <th>Day's<br />Gain/Loss in%</th>
          </tr>
        </thead>
        <tbody *ngIf="diversify_Data!">
          <!-- large cap-->
          <tr *ngIf="diversify_Data['Large Cap']!" class="mod-hed-td ng-scope">
            <td class="ng-binding">{{ diversify_Data["Large Cap"].name }}</td>
            <td class="ng-binding">
              {{
                diversify_Data["Large Cap"].total["pwt"] | roundOff | twoCommas
              }}%
            </td>
            <td
              [ngClass]="
                this.fun.getDirClrDefault(
                  diversify_Data['Large Cap'].total['dgainpdir'],
                  'grey'
                )
              "
              class="ng-binding"
            >
              {{
                diversify_Data["Large Cap"].total["dgain"]
                  | roundOff
                  | twoCommas
              }}
            </td>
            <td class="ng-binding">
              {{
                diversify_Data["Large Cap"].total["dgainp"]
                  | roundOff
                  | twoCommas
              }}%
            </td>
          </tr>
          <tr
            *ngFor="
              let item of diversify_Data['Large Cap'].details
                | keyvalue
                | orderObjectBy : 'pwt' : true
                | orderObjectBy : 'pwt' : true
            "
            ng-repeat-end=""
            ng-repeat="details in value.details|orderObjectBy:'pwt':'true'"
            class="ng-scope"
          >
            <td class="ng-binding">{{ item.value.short }}</td>
            <td class="ng-binding">
              {{ item.value.pwt | roundOff | twoCommas }}%
            </td>
            <td
              [ngClass]="
                this.fun.getDirClrDefault(item.value.dgainpdir, 'grey')
              "
              class="ng-binding"
            >
              {{ item.value.dgain | roundOff | twoCommas }}
            </td>
            <td class="ng-binding">
              {{ item.value.dgainp | roundOff | twoCommas }}%
            </td>
          </tr>

          <!-- Mid Cap-->
          <tr *ngIf="diversify_Data['Mid Cap']!" class="mod-hed-td ng-scope">
            <td class="ng-binding">{{ diversify_Data["Mid Cap"].name }}</td>
            <td class="ng-binding">
              {{
                diversify_Data["Mid Cap"].total["pwt"] | roundOff | twoCommas
              }}%
            </td>
            <td
              [ngClass]="
                this.fun.getDirClrDefault(
                  diversify_Data['Mid Cap'].total['dgainpdir'],
                  'grey'
                )
              "
              class="ng-binding"
            >
              {{
                diversify_Data["Mid Cap"].total["dgain"] | roundOff | twoCommas
              }}
            </td>
            <td class="ng-binding">
              {{
                diversify_Data["Mid Cap"].total["dgainp"]
                  | roundOff
                  | twoCommas
              }}%
            </td>
          </tr>
          <tr
            *ngFor="
              let item of diversify_Data['Mid Cap'].details
                | keyvalue
                | orderObjectBy : 'pwt' : true
            "
            ng-repeat-end=""
            ng-repeat="details in value.details|orderObjectBy:'pwt':'true'"
            class="ng-scope"
          >
            <td class="ng-binding">{{ item.value.short }}</td>
            <td class="ng-binding">
              {{ item.value.pwt | roundOff | twoCommas }}%
            </td>
            <td
              [ngClass]="
                this.fun.getDirClrDefault(item.value.dgainpdir, 'grey')
              "
              class="ng-binding"
            >
              {{ item.value.dgain | roundOff | twoCommas }}
            </td>
            <td class="ng-binding">
              {{ item.value.dgainp | roundOff | twoCommas }}%
            </td>
          </tr>

          <!-- Small Cap-->
          <tr *ngIf="diversify_Data['Small Cap']!" class="mod-hed-td ng-scope">
            <td class="ng-binding">{{ diversify_Data["Small Cap"].name }}</td>
            <td class="ng-binding">
              {{
                diversify_Data["Small Cap"].total["pwt"] | roundOff | twoCommas
              }}%
            </td>
            <td
              [ngClass]="
                this.fun.getDirClrDefault(
                  diversify_Data['Small Cap'].total['dgainpdir'],
                  'grey'
                )
              "
              class="ng-binding"
            >
              {{
                diversify_Data["Small Cap"].total["dgain"]
                  | roundOff
                  | twoCommas
              }}
            </td>
            <td class="ng-binding">
              {{
                diversify_Data["Small Cap"].total["dgainp"]
                  | roundOff
                  | twoCommas
              }}%
            </td>
          </tr>
          <!-- ngRepeat: details in value.details|orderObjectBy:'pwt':'true' -->
          <tr
            *ngFor="
              let item of diversify_Data['Small Cap'].details
                | keyvalue
                | orderObjectBy : 'pwt' : true
            "
            ng-repeat-end=""
            ng-repeat="details in value.details|orderObjectBy:'pwt':'true'"
            class="ng-scope"
          >
            <td class="ng-binding">{{ item.value.short }}</td>
            <td class="ng-binding">
              {{ item.value.pwt | roundOff | twoCommas }}%
            </td>
            <td
              [ngClass]="
                this.fun.getDirClrDefault(item.value.dgainpdir, 'grey')
              "
              class="ng-binding"
            >
              {{ item.value.dgain | roundOff | twoCommas }}
            </td>
            <td class="ng-binding">
              {{ item.value.dgainp | roundOff | twoCommas }}%
            </td>
          </tr>

          <!-- Micro Cap -->
          <tr *ngIf="diversify_Data['Micro Cap']!" class="mod-hed-td ng-scope">
            <td class="ng-binding">{{ diversify_Data["Micro Cap"].name }}</td>
            <td class="ng-binding">
              {{
                diversify_Data["Micro Cap"].total["pwt"] | roundOff | twoCommas
              }}%
            </td>
            <td
              [ngClass]="
                this.fun.getDirClrDefault(
                  diversify_Data['Micro Cap'].total['dgainpdir'],
                  'grey'
                )
              "
              class="ng-binding"
            >
              {{
                diversify_Data["Micro Cap"].total["dgain"]
                  | roundOff
                  | twoCommas
              }}
            </td>
            <td class="ng-binding">
              {{
                diversify_Data["Micro Cap"].total["dgainp"]
                  | roundOff
                  | twoCommas
              }}%
            </td>
          </tr>
          <!-- ngRepeat: details in value.details|orderObjectBy:'pwt':'true' -->
          <tr
            *ngFor="
              let item of diversify_Data['Micro Cap'].details
                | keyvalue
                | orderObjectBy : 'pwt' : true
            "
            ng-repeat-end=""
            ng-repeat="details in value.details|orderObjectBy:'pwt':'true'"
            class="ng-scope"
          >
            <td class="ng-binding">{{ item.value.short }}</td>
            <td class="ng-binding">
              {{ item.value.pwt | roundOff | twoCommas }}%
            </td>
            <td
              [ngClass]="
                this.fun.getDirClrDefault(item.value.dgainpdir, 'grey')
              "
              class="ng-binding"
            >
              {{ item.value.dgain | roundOff | twoCommas }}
            </td>
            <td class="ng-binding">
              {{ item.value.dgainp | roundOff | twoCommas }}%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
