<div
  class="slide-card cf ng-scope"
  id="MenusectValuation"
  ng-if="other_card_visibile"
>
  <div class="swiper-container swiper-6 swiper-container-horizontal">
    <div class="section-head cf">
      <h3>Valuation</h3>
    </div>
    <div class="SectionDetails">
      <span class="txt-sml no-tab"></span>
      <div
        class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
      >
        <span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
        ></span
        ><span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span>
      </div>
    </div>
    <div
      class="swiper-wrapper reco-slide"
      id="sectValuation"
      sect-reveal="true"
      style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px)"
    >
      <section
        data-reveal="true"
        id="sectValuation_scorecard"
        class="swiper-slide small-card marginright swiper-slide-visible swiper-slide-active"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>Valuation Scorecard</h2>
            </div>
            <!-- ngIf: loader[0].pf_val_score == true -->
            <!-- ngIf: loader[0].pf_val_score == false && error_flag[0].val_scorecard == 1 -->

            <!-- ngIf: loader[0].pf_val_score == false && error_flag[0].val_scorecard == 0 -->
            <div
              class="sevn-dot-card ng-scope"
              ng-if="loader[0].pf_val_score == false &amp;&amp; error_flag[0].val_scorecard == 0"
              style=""
            >
              <div class="head-7dot" style="">Valuation</div>
              <p class="sev-txt3"></p>
              <p
                class="sev-txt3 ng-binding"
                ng-bind-html="qvf.valuation.score.text"
              >
                Only <b>37.0%</b> of your portfolio has Very Attractive or
                Attractive Valuation
              </p>
              <div
                ng-class="qvf.valuation.score.color + '-7dot'"
                class="red-7dot"
              >
                <div class="con-7dot">
                  <div class="sev-txt1"></div>
                  <!--div class="sev-txt2">Underperformed</div-->
                </div>
              </div>
              <div class="condi-p-7 red">
                For detailed valuation analysis<br />
                <span class="readon" style="color: black"
                  >Swipe right..
                  <img
                    src="https://i.marketsmojo.com/arrow_rt.png"
                    alt="ArrowRight"
                    data-pin-nopin="true"
                    height="16"
                    width="23"
                /></span>
              </div>
            </div>
            <!-- end ngIf: loader[0].pf_val_score == false && error_flag[0].val_scorecard == 0 -->
          </div>
        </div>
      </section>

      <!-- summary -->
      <section
        id="sectValuation_summary"
        class="swiper-slide padnno-sec marginright swiper-slide-visible swiper-slide-next"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content liquidity">
            <div class="card-head">
              <h2>
                Valuation Summary
                <span
                  class="card-title activator info-act"
                  ng-click="isCollapseValSum = !isCollapseValSum"
                ></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_val_summary == true -->
            <!-- ngIf: loader[0].pf_val_summary == false && error_flag[0].val_summary == 1 -->

            <div
              class="ql-sec"
              ng-show="loader[0].pf_val_summary == false &amp;&amp; error_flag[0].val_summary == 0"
              style=""
            >
              <div class="sec1">
                <div class="pbt-mojo">
                  <div
                    ng-class="
                      qvf.valuation.score.color == 'yellow'
                        ? 'orange'
                        : qvf.valuation.score.color
                    "
                    ng-bind-html="qvf.valuation.score.text"
                    class="ng-binding red"
                    style=""
                  >
                    Only <b>37.0%</b> of your portfolio has Very Attractive or
                    Attractive Valuation
                  </div>
                </div>
                <div
                  class="smallgraph"
                  id="container_val_summary"
                  data-highcharts-chart="11"
                >
                  <div
                    id="highcharts-bb11egg-35"
                    dir="ltr"
                    class="highcharts-container"
                    style="
                      position: relative;
                      overflow: hidden;
                      width: 365px;
                      height: 200px;
                      text-align: left;
                      line-height: normal;
                      z-index: 0;
                      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    "
                  >
                    <svg
                      version="1.1"
                      class="highcharts-root"
                      style="
                        font-family: 'Lucida Grande', 'Lucida Sans Unicode',
                          Arial, Helvetica, sans-serif;
                        font-size: 12px;
                      "
                      xmlns="http://www.w3.org/2000/svg"
                      width="365"
                      height="200"
                      viewBox="0 0 365 200"
                    >
                      <desc>Created with Highstock 6.1.0</desc>
                      <defs>
                        <clipPath id="highcharts-bb11egg-36">
                          <rect
                            x="0"
                            y="0"
                            width="345"
                            height="175"
                            fill="none"
                          ></rect>
                        </clipPath>
                      </defs>
                      <rect
                        fill="#ffffff"
                        class="highcharts-background"
                        x="0"
                        y="0"
                        width="365"
                        height="200"
                        rx="0"
                        ry="0"
                      ></rect>
                      <rect
                        fill="none"
                        class="highcharts-plot-background"
                        x="10"
                        y="10"
                        width="345"
                        height="175"
                      ></rect>
                      <g class="highcharts-pane-group"></g>
                      <rect
                        fill="none"
                        class="highcharts-plot-border"
                        x="10"
                        y="10"
                        width="345"
                        height="175"
                      ></rect>
                      <g class="highcharts-series-group">
                        <g
                          class="highcharts-series highcharts-series-0 highcharts-pie-series highcharts-tracker"
                          transform="translate(10,10) scale(1 1)"
                          style="cursor: pointer"
                        >
                          <path
                            fill="green"
                            visibility="hidden"
                            d="M 208.2718711069183 133.35849267944573 A 57.25 57.25 0 0 1 118.66818307401542 102.19532359865975 L 119.6346776928099 101.93863672357399 A 56.25 56.25 0 0 0 207.67323580374068 132.55747097325454 Z"
                            class="highcharts-halo highcharts-color-1"
                            fill-opacity="1"
                          ></path>
                          <path
                            fill="red"
                            d="M 172.48833970908845 30.25000118744442 A 57.25 57.25 0 0 1 206.81771245602056 133.32419788480635 L 191.3747418508113 112.7033088366435 A 31.4875 31.4875 0 0 0 172.49358683999864 56.01250065309443 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-0"
                          ></path>
                          <path
                            fill="green"
                            d="M 206.7718711069183 133.35849267944573 A 57.25 57.25 0 0 1 117.16818307401542 102.19532359865975 L 142.06750069070847 95.58242797926286 A 31.4875 31.4875 0 0 0 191.34952910880506 112.72217097369516 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-1"
                          ></path>
                          <path
                            fill="orange"
                            d="M 117.15351541877214 102.13998444329455 A 57.25 57.25 0 0 1 140.91575523770962 39.75067557759867 L 155.1286653807403 61.23787156767927 A 31.4875 31.4875 0 0 0 142.05943348032469 95.551991443812 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-2"
                          ></path>
                          <path
                            fill="green"
                            d="M 140.96352034629487 39.719115212760634 A 57.25 57.25 0 0 1 160.32003749484429 31.560648793778448 L 165.80102062216434 56.733356836578146 A 31.4875 31.4875 0 0 0 155.1549361904622 61.22051336701835 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-3"
                          ></path>
                          <path
                            fill="red"
                            d="M 160.37598292670805 31.54849680297655 A 57.25 57.25 0 0 1 169.84518327869128 30.31158816529122 L 171.03985080328022 56.04637349091017 A 31.4875 31.4875 0 0 0 165.83179060968942 56.7266732416371 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-4"
                          ></path>
                          <path
                            fill="red"
                            d="M 169.90237300840286 30.308961943215913 A 57.25 57.25 0 0 1 172.4204808985454 30.250055225244942 L 172.45626449419996 56.012530373884715 A 31.4875 31.4875 0 0 0 171.07130515462157 56.04492906876875 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-5"
                          ></path>
                        </g>
                        <g
                          class="highcharts-markers highcharts-series-0 highcharts-pie-series"
                          transform="translate(10,10) scale(1 1)"
                        ></g>
                      </g>
                      <text
                        x="183"
                        text-anchor="middle"
                        class="highcharts-title"
                        style="color: #333333; font-size: 18px; fill: #333333"
                        y="24"
                      ></text>
                      <text
                        x="183"
                        text-anchor="middle"
                        class="highcharts-subtitle"
                        style="color: #666666; fill: #666666"
                        y="24"
                      ></text>
                      <g
                        class="highcharts-data-labels highcharts-series-0 highcharts-pie-series highcharts-tracker"
                        transform="translate(10,10) scale(1 1)"
                        opacity="1"
                        style="cursor: pointer"
                        visibility="visible"
                      >
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-0"
                          stroke="red"
                          stroke-width="1"
                          d="M 246.0650435255606 64.720682487441 C 241.0650435255606 64.720682487441 232.52406924555999 67.55824453052793 229.6770778188931 68.50409854489024 L 226.83008639222624 69.44995255925255"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-1"
                          stroke="green"
                          stroke-width="1"
                          d="M 143.7322397496364 155.72870416973515 C 148.7322397496364 155.72870416973515 151.6929296078131 147.22962683371276 152.67982622720538 144.39660105503864 L 153.66672284659765 141.56357527636453"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-2"
                          stroke="orange"
                          stroke-width="1"
                          d="M 95.85755477931332 96.85000228881836 C 100.85755477931332 96.85000228881836 113.3966151975772 64.9755154354925 116.19993779690161 66.04387043459957 L 119.00326039622601 67.11222543370664"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-3"
                          stroke="green"
                          stroke-width="1"
                          d="M 102.4541694496616 56.05000114440918 C 107.4541694496616 56.05000114440918 147.94690386372918 29.210138359033287 149.11147759351277 31.974874879553447 L 150.27605132329637 34.739611400073606"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-4"
                          stroke="red"
                          stroke-width="1"
                          d="M 158.15200286578963 15.25 C 163.15200286578963 15.25 164.3164592562103 24.781644147070196 164.7046113863505 27.756427823889002 L 165.09276351649072 30.731211500707808"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-5"
                          stroke="red"
                          stroke-width="1"
                          d="M 165.84319073706757 15.268999155028585 C 170.84319073706757 15.268999155028585 171.04957528193123 24.266632478277614 171.11837013021906 27.265843586027295 L 171.1871649785069 30.265054693776975"
                          visibility="hidden"
                        ></path>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-0"
                          style="cursor: pointer"
                          transform="translate(251,55)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Expensive
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              39.79 %
                            </tspan>
                            <tspan x="5" y="16">Expensive</tspan>
                            <tspan x="5" dy="14">39.79 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-1"
                          style="cursor: pointer"
                          transform="translate(76,146)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Attractive
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              31.09 %
                            </tspan>
                            <tspan x="5" y="16">Attractive</tspan>
                            <tspan x="5" dy="14">31.09 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-2"
                          style="cursor: pointer"
                          transform="translate(37,87)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Fair
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              19.83 %
                            </tspan>
                            <tspan x="5" y="16">Fair</tspan>
                            <tspan x="5" dy="14">19.83 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-3"
                          style="cursor: pointer"
                          transform="translate(7,46)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Very Attractive
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              5.89 %
                            </tspan>
                            <tspan x="5" y="16">Very Attractive</tspan>
                            <tspan x="5" dy="14">5.89 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-4"
                          style="cursor: pointer"
                          transform="translate(61,5)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Very Expensive
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              2.67 %
                            </tspan>
                            <tspan x="5" y="16">Very Expensive</tspan>
                            <tspan x="5" dy="14">2.67 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-5"
                          style="cursor: pointer"
                          transform="translate(113,5)"
                          visibility="hidden"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Risky
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              0.73 %
                            </tspan>
                            <tspan x="5" y="16">Risky</tspan>
                            <tspan x="5" dy="14">0.73 %</tspan>
                          </text>
                        </g>
                      </g>
                      <g class="highcharts-legend">
                        <rect
                          fill="none"
                          class="highcharts-legend-box"
                          rx="0"
                          ry="0"
                          x="0"
                          y="0"
                          width="8"
                          height="8"
                          visibility="hidden"
                        ></rect>
                        <g><g></g></g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="sec2">
                <strong> Stocks with Expensive or worse Valuation </strong>
                <ul class="ullist">
                  <!-- ngRepeat: value in qvf.valuation.summary.expen -->
                  <li
                    ng-repeat="value in qvf.valuation.summary.expen"
                    class="ng-binding ng-scope"
                    style=""
                  >
                    Persistent Sys 2.32%
                  </li>
                  <!-- end ngRepeat: value in qvf.valuation.summary.expen -->
                  <li
                    ng-repeat="value in qvf.valuation.summary.expen"
                    class="ng-binding ng-scope"
                  >
                    Shree Karni 0.35%
                  </li>
                  <!-- end ngRepeat: value in qvf.valuation.summary.expen -->
                  <li
                    ng-repeat="value in qvf.valuation.summary.expen"
                    class="ng-binding ng-scope"
                  >
                    Innovassynth Inv 0.33%
                  </li>
                  <!-- end ngRepeat: value in qvf.valuation.summary.expen -->
                  <li
                    ng-repeat="value in qvf.valuation.summary.expen"
                    class="ng-binding ng-scope"
                  >
                    One 97 0.28%
                  </li>
                  <!-- end ngRepeat: value in qvf.valuation.summary.expen -->
                  <li
                    ng-repeat="value in qvf.valuation.summary.expen"
                    class="ng-binding ng-scope"
                  >
                    Zomato Ltd 0.12%
                  </li>
                  <!-- end ngRepeat: value in qvf.valuation.summary.expen -->
                  <!--										<li>Relaxo Footwears 7.87%</li>
                  <li>Infomedia Press 0.00%</li>-->
                </ul>
              </div>
              <div class="sec2">
                <strong> Stocks with Attractive or better Valuation </strong>
                <ul class="ullist">
                  <!-- ngRepeat: value in qvf.valuation.summary.attr -->
                  <li
                    ng-repeat="value in qvf.valuation.summary.attr"
                    class="ng-binding ng-scope"
                    style=""
                  >
                    Coal India 16.99%
                  </li>
                  <!-- end ngRepeat: value in qvf.valuation.summary.attr -->
                  <li
                    ng-repeat="value in qvf.valuation.summary.attr"
                    class="ng-binding ng-scope"
                  >
                    Larsen &amp; Toubro 10.96%
                  </li>
                  <!-- end ngRepeat: value in qvf.valuation.summary.attr -->
                  <li
                    ng-repeat="value in qvf.valuation.summary.attr"
                    class="ng-binding ng-scope"
                  >
                    JP Power Ven. 3.03%
                  </li>
                  <!-- end ngRepeat: value in qvf.valuation.summary.attr -->
                  <li
                    ng-repeat="value in qvf.valuation.summary.attr"
                    class="ng-binding ng-scope"
                  >
                    Punjab Natl.Bank 2.41%
                  </li>
                  <!-- end ngRepeat: value in qvf.valuation.summary.attr -->
                  <li
                    ng-repeat="value in qvf.valuation.summary.attr"
                    class="ng-binding ng-scope"
                  >
                    Reliance Infra. 1.84%
                  </li>
                  <!-- end ngRepeat: value in qvf.valuation.summary.attr -->
                  <li
                    ng-repeat="value in qvf.valuation.summary.attr"
                    class="ng-binding ng-scope"
                  >
                    2 more stocks (1.75%)
                  </li>
                  <!-- end ngRepeat: value in qvf.valuation.summary.attr -->
                  <!--										<li>Infosys 18.33%</li>
                  <li>BPL Ltd. 11.71%</li>
                  <li>Balrampur Chini 2.36%</li>
                  <li>Tata Coffee 0.11%</li>
                  <li>1 more stocks (0.00%)</li>-->
                </ul>
              </div>
            </div>
            <p class="condi-p pad010 ng-binding">
              Valuation refers to attractiveness of the company at its current
              stock price by looking at its past financial performance and
              valuation matrices. We believe valuation helps the investor to
              estimate the timing of entry and exit in stocks.
            </p>
          </div>
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseValSum"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseValSum = !isCollapseValSum"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>
                  The card depicts the bifurcation of your portfolio as per the
                  quality grade calculated by Markets mojo process
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section
        data-reveal="true"
        id="sectValuation_details"
        class="swiper-slide padnno-sec marginright swiper-slide-visible"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>
                Valuation Analysis Details
                <span
                  class="card-title activator info-act"
                  ng-click="isCollapseValDtls = !isCollapseValDtls"
                ></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_val_dtls == true -->
            <!-- ngIf: loader[0].pf_val_dtls == false && error_flag[0].valuation_details == 1 -->

            <!-- ngIf: loader[0].pf_val_dtls == false && error_flag[0].valuation_details == 0 -->
            <div
              class="liquidityDetails list-mojo ng-scope"
              ng-if="loader[0].pf_val_dtls == false &amp;&amp; error_flag[0].valuation_details == 0"
            >
              <table class="table25">
                <thead>
                  <tr>
                    <th class="textcenter">Company</th>
                    <th class="textcenter">Valuation</th>
                    <th class="no-mob textcenter">Portfolio<br />Weight</th>
                    <th class="no-mob textcenter">Latest<br />Value</th>
                    <th class="no-web textcenter">
                      Value
                      <p class="scr-txt-2">Weight</p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <!-- ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                    style=""
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=454045&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=454045&amp;Exchange=0"
                          >Jubilant Inds.</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="red-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="red-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td
                      class="txt-lt selected-td ng-binding red"
                      ng-class="value.dotsum.v_clr"
                    >
                      Expensive
                    </td>
                    <td class="no-mob ng-binding">38.23%</td>
                    <td class="no-mob ng-binding">88,228</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      88,228
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        38.23%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=421555&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=421555&amp;Exchange=0"
                          >Coal India</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td
                      class="txt-lt selected-td ng-binding green"
                      ng-class="value.dotsum.v_clr"
                    >
                      Attractive
                    </td>
                    <td class="no-mob ng-binding">17.00%</td>
                    <td class="no-mob ng-binding">39,220</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      39,220
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        17.00%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=431628&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=431628&amp;Exchange=0"
                          >REC Ltd</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td
                      class="txt-lt selected-td ng-binding orange"
                      ng-class="value.dotsum.v_clr"
                    >
                      Fair
                    </td>
                    <td class="no-mob ng-binding">14.27%</td>
                    <td class="no-mob ng-binding">32,927</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      32,927
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        14.27%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=837957&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=837957&amp;Exchange=0"
                          >Larsen &amp; Toubro</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td
                      class="txt-lt selected-td ng-binding green"
                      ng-class="value.dotsum.v_clr"
                    >
                      Attractive
                    </td>
                    <td class="no-mob ng-binding">10.96%</td>
                    <td class="no-mob ng-binding">25,291</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      25,291
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        10.96%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=119922&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=119922&amp;Exchange=0"
                          >City Union Bank</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td
                      class="txt-lt selected-td ng-binding orange"
                      ng-class="value.dotsum.v_clr"
                    >
                      Fair
                    </td>
                    <td class="no-mob ng-binding">5.57%</td>
                    <td class="no-mob ng-binding">12,844</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      12,844
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        5.57%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=302744&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=302744&amp;Exchange=0"
                          >JP Power Ven.</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td
                      class="txt-lt selected-td ng-binding green"
                      ng-class="value.dotsum.v_clr"
                    >
                      Very Attractive
                    </td>
                    <td class="no-mob ng-binding">3.02%</td>
                    <td class="no-mob ng-binding">6,980</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      6,980
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        3.02%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                </tbody>
              </table>
            </div>
            <!-- end ngIf: loader[0].pf_val_dtls == false && error_flag[0].valuation_details == 0 -->
          </div>
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseValDtls"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseValDtls = !isCollapseValDtls"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>Details of Valuation of your portfolio stocks</li>
                <li>
                  Click on Full details to see the information for all stocks
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links">
              <a
                class="seefull waves-light"
                href="javascript:void(0)"
                ng-click="modalOpen('quality_details',2)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-button-next" style="margin-top: 0px">
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_next</i>
      </a>
    </div>
    <div
      class="swiper-button-prev swiper-button-disabled"
      style="margin-top: 0px"
    >
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_previous</i>
      </a>
    </div>
  </div>
</div>
