<div
  class="slide-card cf ng-scope"
  id="MenusectOverall"
  ng-if="other_card_visibile"
>
  <div
    class="swiper-container swiper-6 swiper-container-horizontal"
    id="scrollOverAll"
  >
    <div class="section-head cf">
      <h3>How am I doing overall</h3>
    </div>
    <div class="SectionDetails">
      <span class="txt-sml no-tab"></span>
      <div
        class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
      >
        <span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
        ></span
        ><span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span>
      </div>
    </div>
    <div
      class="swiper-wrapper reco-slide"
      id="sectOverall"
      sect-reveal="true"
      style="transform: translate3d(-783px, 0px, 0px); transition-duration: 0ms"
    >
      <!-- not this -->
      <section
        data-reveal="true"
        id="sectOverall_analysis"
        class="swiper-slide padnno-sec marginright no-web no-tab no-tab2 swiper-slide-visible swiper-slide-active"
        data-scrolled="0"
        data-visited="0"
      >
        <!-- <app-overall-portfolio-analysis
          [DATA]="main_data"
          [HEAD]="'Overall portfolio analysis'"
        /> -->

        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>Overall portfolio analysis hello</h2>
            </div>
            <!-- ngIf: loader[0].pf_overall_analysis == true -->
            <!-- ngIf: loader[0].pf_overall_analysis == false && error_flag[0].overall_analysis == 1 -->

            <!-- ngIf: loader[0].pf_overall_analysis == false && error_flag[0].overall_analysis == 0 -->
            <div
              class="pf-overall-boxs ng-scope"
              ng-if="loader[0].pf_overall_analysis == false &amp;&amp; error_flag[0].overall_analysis == 0"
              style=""
            >
              <div class="row">
                <div
                  class="pf-box col-md-12"
                  ng-click="other_section_visible('MenusectReturn')"
                >
                  <div
                    class="pf-box-hed red-dot"
                    onclick="javascript:jumpToSectionV2('#navReturns')"
                  >
                    Returns :
                    <span class="red"
                      >Underperformed Composite Index by -13.77%</span
                    >
                    <span></span>,
                    <span class="red">Composite Index Returns 74.45%</span>
                    <span></span>
                  </div>
                </div>

                <div
                  class="pf-box col-md-12"
                  ng-click="other_section_visible('MenusectRisk')"
                >
                  <div
                    class="pf-box-hed red-dot"
                    onclick="javascript:jumpToSectionV2('#navRisk')"
                  >
                    Risk : <span class="red">High Risk</span>
                  </div>
                </div>

                <div
                  class="pf-box col-md-12"
                  ng-click="other_section_visible('MenusectLiq')"
                >
                  <div
                    class="pf-box-hed green-dot"
                    onclick="javascript:jumpToSectionV2('#navLiquidity')"
                  >
                    Liquidity : <span class="green">No Liquidity Issues</span>
                  </div>
                </div>

                <div
                  class="pf-box col-md-12"
                  ng-click="other_section_visible('MenusectDiverse')"
                >
                  <div
                    class="pf-box-hed red-dot"
                    onclick="javascript:jumpToSectionV2('#navDiversification')"
                  >
                    Diversification:
                    <span class="red">Highly Concentrated</span>
                  </div>
                </div>

                <div
                  class="pf-box col-md-12"
                  ng-click="other_section_visible('MenusectQuality')"
                >
                  <div
                    class="pf-box-hed red-dot"
                    onclick="javascript:jumpToSectionV2('#navQuality')"
                  >
                    Quality : <span class="red"></span>
                    <small
                      ng-bind-html="overall.quality.text"
                      class="ng-binding"
                      ><strong class="red">60.0%</strong> of your portfolio has
                      Average or Below Average Quality</small
                    >
                  </div>
                </div>

                <div
                  class="pf-box col-md-12"
                  ng-click="other_section_visible('MenusectValuation')"
                >
                  <div
                    class="pf-box-hed red-dot"
                    onclick="javascript:jumpToSectionV2('#navValuation')"
                  >
                    Valuation : <span class="red"></span>
                    <small
                      ng-bind-html="overall.valuation.text"
                      class="ng-binding"
                      ><strong class="red">58.0%</strong> of your portfolio has
                      Expensive or worse Valuation</small
                    >
                  </div>
                </div>

                <div
                  class="pf-box col-md-12"
                  ng-click="other_section_visible('MenusectFintrend')"
                >
                  <div
                    class="pf-box-hed orange-dot"
                    onclick="javascript:jumpToSectionV2('#navFinancialTrend')"
                  >
                    Fin Trend : <span class="orange"></span>
                    <small
                      ng-bind-html="overall.fin_trend.text"
                      class="ng-binding"
                      ><strong class="yellow">64.0%</strong> of your portfolio
                      has Positive or better Financial Trend</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- end ngIf: loader[0].pf_overall_analysis == false && error_flag[0].overall_analysis == 0 -->
          </div>
        </div>
      </section>

      <!-- Overall portfolio analysis-->
      <section
        data-reveal="true"
        id="sectOverall_analysis"
        class="swiper-slide padnno-sec marginright no-mob swiper-slide-visible swiper-slide-next"
        data-scrolled="0"
        data-visited="0"
      >
        <app-overall-portfolio-analysis
          [DATA]="main_data"
          [HEAD]="'Overall portfolio analysis hello'"
          (send_element)="recieveElemment($event)"
        />
      </section>

      <!-- heros -->
      <section
        ng-if="!block_clmm_content"
        class="swiper-slide small-card marginright ng-scope swiper-slide-visible"
        style="padding: 0px !important; background-color: #2124a3 !important"
        data-scrolled="0"
        data-visited="0"
      >
        <div
          class="card"
          style="padding: 0px !important; background-color: #2124a3 !important"
        >
          <div
            class="card-content happend"
            style="
              padding: 0px !important;
              background-color: #2124a3 !important;
            "
          >
            <a href="/mojo/heroes" target="_blank"
              ><img
                src="https://i.marketsmojo.com/heroes/heroes-banner.png"
                style="width: 100%"
            /></a>
          </div>
        </div>
      </section>

      <script>
        function getStarted(url) {
          ga("send", "event", "Banners", "click", "Screener_Withrates");

          location.href = url;
        }
      </script>

      <!-- personal profile -->
      <section
        data-reveal="true"
        id="sectOverall_profile"
        class="swiper-slide small-card marginright swiper-slide-visible"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content portfoliocard">
            <div class="card-head">
              <h2>
                Portfolio Profile
                <span
                  class="card-title activator info-act"
                  (click)="isCollapsePP = !isCollapsePP"
                ></span>
              </h2>
            </div>

            <!-- body -->
            <ng-container *ngIf="main_data!; else loadingTemplate">
              <!-- Content to show if data exists -->

              <div class="card-body">
                <div class="pf-profile-sec1">
                  <div>
                    <div class="pf-profile-txt1">Portfolio Value</div>
                    <div class="pf-profile-txt2 ng-binding">
                      {{ main_data.lval | roundOff | twoCommas }}
                    </div>
                  </div>
                  <div>
                    <div class="pf-profile-txt1">Total Returns(%)</div>
                    <div
                      [ngClass]="main_data.tretdir | dirClrDefault : 'orange'"
                      class="ng-binding pf-profile-txt2"
                    >
                      {{ main_data.tret | roundOff | twoCommas }}
                    </div>
                    <!-- ngIf: overall.tretp != "" -->
                    <div
                      [ngClass]="main_data.tretdir | dirClrDefault : 'orange'"
                      class="ng-binding ng-scope pf-profile-txt3"
                    >
                      ({{ main_data.tretp | roundOff | twoCommas }}%)
                    </div>
                    <!-- end ngIf: overall.tretp != "" -->
                  </div>
                </div>

                <div class="pf-profile-sec2">
                  <div>
                    <div class="pf-profile-txt2 ng-binding">
                      {{ main_data.tstock | roundOff | twoCommas }}
                    </div>
                    <div class="pf-profile-txt3C">Stocks</div>
                  </div>
                  <div>
                    <div class="pf-profile-txt2 ng-binding">
                      {{ main_data.tsector | roundOff | twoCommas }}
                    </div>
                    <div class="pf-profile-txt3C">Sectors</div>
                  </div>
                  <div>
                    <div class="pf-profile-txt2 ng-binding">
                      {{ main_data.tailcnt | roundOff | twoCommas }}
                      <small class="ng-binding"
                        >({{
                          main_data.tailpwt | roundOff | twoCommas
                        }}%)</small
                      >
                    </div>
                    <div class="pf-profile-txt3C">Tail Stock</div>
                  </div>
                </div>
                <div class="pf-profile-sec3">
                  <div>
                    <div class="pf-profile-txt4">Highest Stock Holding</div>
                    <div class="pf-profile-txt2">
                      <a
                        target="_blank"
                        class="ng-binding"
                        [href]="
                          'https://www.marketsmojo.com/Stocks?StockId=' +
                          main_data.histock.sid +
                          '&Exchange=0'
                        "
                        >{{ main_data.histock.name }}</a
                      >
                      <!-- ngIf: overall.histock.pwt != "" --><span
                        class="ng-binding ng-scope"
                        >(
                        {{
                          main_data.histock.pwt | roundOff | twoCommas
                        }}%)</span
                      ><!-- end ngIf: overall.histock.pwt != "" -->
                    </div>
                  </div>
                </div>
                <div class="pf-profile-sec3">
                  <div class="pf-profile-txt4">Highest Sector Allocation</div>
                  <div class="pf-profile-txt2 ng-binding">
                    {{ main_data.hisect }} ({{
                      main_data.hisectpwt | roundOff | twoCommas
                    }}%)
                  </div>
                </div>

                <div class="pf-profile-sec3">
                  <div class="pf-profile-txt4">
                    Highest Market Cap Allocation
                  </div>
                  <div class="pf-profile-txt2 ng-binding">
                    {{ main_data.himcap }} ({{
                      main_data.himcappwt | roundOff | twoCommas
                    }}%)
                  </div>
                </div>
                <div class="pf-profile-sec4">
                  <div>
                    <div class="pf-profile-txt1">Portfolio Construct</div>
                    <div
                      [ngClass]="main_data.diversified.color"
                      class="pf-profile-txt2"
                    >
                      {{ main_data.diversified.text }}
                    </div>
                  </div>
                  <div>
                    <div class="pf-profile-txt1">Inception Date</div>
                    <div class="pf-profile-txt2">
                      <i class="ng-binding">{{ main_data.incepdt }}</i>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-template #loadingTemplate>
              <!-- Content to show while loading -->
              <div>
                <div id="loading" class="ng-scope">
                  <img
                    id="loading-image"
                    src="https://i.marketsmojo.com/loading.gif"
                    alt="Loading..."
                  />
                </div>
              </div>
            </ng-template>
          </div>

          <!-- expand -->
          <div
            *ngIf="SHOW_BUTTON"
            class="card-reveal animate-slide"
            [ngClass]="{ 'ng-hide': isCollapsePP }"
          >
            <span class="card-title grey-text text-darken-4">
              Card Title<i
                class="material-icons right"
                (click)="isCollapsePP = !isCollapsePP"
                >close</i
              >
            </span>
            <div class="card-reveal-text">
              <ul>
                <li>Important details of your portfolio at one glance</li>
                <li>
                  Total Returns include not just the unrealized return from your
                  current portfolio construct, but also realized returns on past
                  holdings and dividends received
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!--  Portfolio Networth Break-Up -->
      <section
        data-reveal="true"
        id="sectOverall_breakup"
        class="swiper-slide small-card marginright"
        data-scrolled="0"
        data-visited="0"
      >
        <app-breakup
          [DATA]="main_data"
          [HEAD]="'Portfolio Networth Break-Up'"
        />
      </section>

      <!--  Overall Contributors -->
      <section
        class="swiper-slide small-card marginright"
        data-scrolled="0"
        data-visited="0"
      >
        <app-card
          (sendElement)="receiveElement($event)"
          (sendClick_State)="receiveClickState($event)"
          (send_head)="receiveHead($event)"
          [HEAD]="'Overall Contributors'"
          [DATA]="data_contri"
        />
      </section>

      <!--  Overall Drags -->
      <section
        data-reveal="true"
        id="sectOverall_drags"
        class="swiper-slide small-card marginright"
        data-scrolled="0"
        data-visited="0"
      >
        <app-card
          (sendElement)="receiveElement($event)"
          (sendClick_State)="receiveClickState($event)"
          (send_head)="receiveHead($event)"
          [DATA]="data_drags"
          [HEAD]="'Overall Drags'"
        />
      </section>

      <!-- Overall Gainers -->
      <section
        data-reveal="true"
        id="sectOverall_gainer"
        class="swiper-slide small-card marginright"
        data-scrolled="0"
        data-visited="0"
      >
        <app-card
          (sendElement)="receiveElement($event)"
          (sendClick_State)="receiveClickState($event)"
          (send_head)="receiveHead($event)"
          [DATA]="data_gainers"
          [HEAD]="'Overall Gainers'"
        />
      </section>

      <!--  Overall Losers -->
      <section
        data-reveal="true"
        id="sectOverall_loser"
        class="swiper-slide small-card marginright"
        data-scrolled="0"
        data-visited="0"
      >
        <app-card
          (sendElement)="receiveElement($event)"
          (sendClick_State)="receiveClickState($event)"
          (send_head)="receiveHead($event)"
          [DATA]="data_losers"
          [HEAD]="'Overall Losers'"
        />
      </section>

      <!--//////section end//////////-->
    </div>
    <!-- <div class="swiper-scrollbar"></div> -->
    <div class="swiper-button-next" style="margin-top: 0px">
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_next</i> </a
      >`
    </div>
    <div
      class="swiper-button-prev swiper-button-disabled"
      style="margin-top: 0px"
    >
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_previous</i>
      </a>
    </div>
  </div>
</div>
