<footer
  class="footer"
  style="background-color: rgb(43, 43, 53); color: aliceblue"
>
  <!-- <footer class="page-footer"> -->

  <!-- four abcdef... -->
  <div class="page-footer">
    <div class="col-md-12">
      <div
        class="foot-atozlinks"
        style="text-align: center !important; margin-bottom: 10px"
      >
        <ul class="list14" style="color: gray">
          <li class="title">Stock List</li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=A"
              class="stock-name"
              title="A"
              >A</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=B"
              class="stock-name"
              title="B"
              >B</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=C"
              class="stock-name"
              title="C"
              >C</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=D"
              class="stock-name"
              title="D"
              >D</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=E"
              class="stock-name"
              title="E"
              >E</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=F"
              class="stock-name"
              title="F"
              >F</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=G"
              class="stock-name"
              title="G"
              >G</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=H"
              class="stock-name"
              title="H"
              >H</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=I"
              class="stock-name"
              title="I"
              >I</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=J"
              class="stock-name"
              title="J"
              >J</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=K"
              class="stock-name"
              title="K"
              >K</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=L"
              class="stock-name"
              title="L"
              >L</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=M"
              class="stock-name"
              title="M"
              >M</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=N"
              class="stock-name"
              title="N"
              >N</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=O"
              class="stock-name"
              title="O"
              >O</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=P"
              class="stock-name"
              title="P"
              >P</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=Q"
              class="stock-name"
              title="Q"
              >Q</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=R"
              class="stock-name"
              title="R"
              >R</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=S"
              class="stock-name"
              title="S"
              >S</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=T"
              class="stock-name"
              title="T"
              >T</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=U"
              class="stock-name"
              title="U"
              >U</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=V"
              class="stock-name"
              title="V"
              >V</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=W"
              class="stock-name"
              title="W"
              >W</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=X"
              class="stock-name"
              title="X"
              >X</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=Y"
              class="stock-name"
              title="Y"
              >Y</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=Z"
              class="stock-name"
              title="Z"
              >Z</a
            >
          </li>
          <li>
            <a
              href="/stocks-analysis/getstocksbyname?n=OTH"
              class="stock-name"
              title="Others"
              >Others</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- trail -->
  <div style="display: flex; width: 100%; height: auto">
    <div style="flex: 1; padding: 10px; border-right: 1px solid gray">
      <!-- data careers-->
      <div
        style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px"
      >
        <span class="finfoot"
          ><a style="color: #a2a2a4" href="/mojo/career" target="_blank"
            >Careers</a
          ></span
        >
        <span class="finfoot"
          ><a style="color: #a2a2a4" href="/mojo/feedback" target="_blank"
            >Contact Us</a
          ></span
        >
        <span class="finfoot"
          ><a style="color: #a2a2a4" href="/mojo/disclaimer" target="_blank"
            >Disclaimer</a
          ></span
        >
        <span class="finfoot"
          ><a style="color: #a2a2a4" href="/mojo/privacypolicy" target="_blank"
            >Privacy Policy</a
          ></span
        >
        <span class="finfoot"
          ><a style="color: #a2a2a4" href="/mojo/refundpolicy" target="_blank"
            >Refund Policy</a
          ></span
        >
        <span class="finfoot"
          ><a style="color: #a2a2a4" href="/mojo/termsofuse" target="_blank"
            >Terms and Conditions</a
          ></span
        >
        <span class="finfoot"
          ><a
            style="color: #a2a2a4"
            href="/mojo/processdisclosure"
            v
            target="_blank"
            >Process Disclosure</a
          ></span
        >
        <span class="finfoot"
          ><a style="color: #a2a2a4" href="/mojo/complaints" target="_blank"
            >Regulatory Information</a
          ></span
        >
      </div>
    </div>

    <!--  -->
    <div
      style="
        flex: 2;
        /* background-color: lightgreen; */
        padding: 10px;
        display: flex;
        flex-direction: column;
        height: 100%;
        row-gap: 6px;
      "
    >
      <!-- Social Media Section -->
      <div style="display: flex; justify-content: space-evenly">
        <a class="social-link" href="#">
          <p style="margin: 0; /* Remove default margin */">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-facebook"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"
              />
            </svg>
          </p>
          <p style="margin: 0; /* Remove default margin */">facebook</p>
        </a>

        <a class="social-link" href="#">
          <p style="margin: 0; /* Remove default margin */">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-twitter"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15"
              />
            </svg>
          </p>
          <p style="margin: 0; /* Remove default margin */">Twitter</p>
        </a>

        <a class="social-link" href="#">
          <p style="margin: 0; /* Remove default margin */">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-linkedin"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"
              />
            </svg>
          </p>
          <p style="margin: 0; /* Remove default margin */">Linked In</p>
        </a>

        <a class="social-link" href="#">
          <p style="margin: 0; /* Remove default margin */">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-envelope"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"
              />
            </svg>
          </p>
          <p style="margin: 0; /* Remove default margin */">Email</p>
        </a>
      </div>

      <!-- text -->
      <div>We Power Research and Services of-</div>

      <!-- Slider Section -->
      <!-- start -->
      <div
        id="carouselExampleIndicators2"
        class="carousel slide"
        data-bs-ride="carousel"
        data-bs-interval="1200"
      >
        <!-- content -->
        <div class="carousel-inner">
          <div
            *ngFor="let hero of images; let i = index"
            class="carousel-item"
            [ngClass]="{ active: i === 0 }"
          >
            <div
              class="d-flex justify-content-center align-items-center"
              style="width: 100%; height: 200px"
            >
              <!-- main -->
              <img
                [src]="hero"
                style="
                  width: 30%;
                  height: auto;
                  border-radius: 8px;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                "
              />
            </div>
          </div>
          <!-- Repeat carousel-item for other slides -->
        </div>

        <!-- navigations -->
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators2"
          role="button"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators2"
          role="button"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      <!-- end -->

      <!-- text -->
      <div>
        For Business Partnership, please write to us at
        <a style="color: lightskyblue" href="mailto:partnership@marketsmojo.com"
          >partnership&#64;marketsmojo.com</a
        >
      </div>
    </div>

    <div
      style="
        flex: 1;
        padding: 10px;
        border-left: 1px solid gray;
        width: 100%;
        display: grid;
        gap: 0;
        justify-content: center;
        align-content: center;
      "
    >
      <div style="color: aqua; font-size: 700; font-weight: 600">
        GET THE MARKETSMOJO APP
      </div>

      <a
        href="#"
        style="
          border: 2px solid aqua;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 5%;
          color: white;
        "
      >
        <span style="display: flex; align-items: center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            fill="currentColor"
            class="bi bi-google-play"
            viewBox="0 0 16 16"
          >
            <path
              d="M14.222 9.374c1.037-.61 1.037-2.137 0-2.748L11.528 5.04 8.32 8l3.207 2.96zm-3.595 2.116L7.583 8.68 1.03 14.73c.201 1.029 1.36 1.61 2.303 1.055zM1 13.396V2.603L6.846 8zM1.03 1.27l6.553 6.05 3.044-2.81L3.333.215C2.39-.341 1.231.24 1.03 1.27"
            />
          </svg>
        </span>
        <span
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
          "
        >
          <p style="margin: 0">Download from</p>
          <p style="margin: 0"><strong> Google Play </strong></p>
        </span>
      </a>

      <a
        href="#"
        style="
          border: 2px solid aqua;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 5%;
          color: white;
        "
      >
        <span style="display: flex; align-items: center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            fill="currentColor"
            class="bi bi-apple"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"
            />
            <path
              d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"
            />
          </svg>
        </span>
        <span
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
          "
        >
          <p style="margin: 0">Download from</p>
          <p style="margin: 0"><strong> App Store </strong></p>
        </span>
      </a>
    </div>
  </div>

  <hr />

  <!-- two -->
  <div class="copyrightcontent2">
    <div class="row">
      <div class="col-md-12">
        <p class="sebitext text-center" style="margin-bottom: 4px">
          <b> Name:</b> InfinHub Market Technologies FZ-LLC
        </p>
        <p class="sebitext text-center" style="margin-bottom: 4px">
          <b>Address: </b><i class="fa fa-map-marker"></i> InfinHub Market
          Technologies FZ-LLC, DMC-BLD05-VD-G00-105, Ground Floor, DMC5, Dubai
          Media City, Dubai, United Arab Emirates
        </p>
        <p class="sebitext text-center" style="margin-bottom: 4px">
          <b>E-mail:</b>
          <a style="color: white" href="mailto:support@marketsmojo.com"
            >support&#64;marketsmojo.com</a
          >
        </p>
        <p class="sebitext text-center" style="margin-bottom: 4px">
          <b>E-mail :</b>
          <a style="color: white" href="mailto:compliance@marketsmojo.com">
            compliance&#64;marketsmojo.com
          </a>
        </p>
        <p class="sebitext text-center" style="margin-bottom: 4px">
          “Investment in securities market are subject to market risks. Read all
          the related documents carefully before investing.”
        </p>
      </div>
    </div>
    <hr />
  </div>

  <!-- one -->
  <div class="copyrightcontent">
    <div class="row">
      <div class="col-md-12">
        <div class="copyrighttext text-center">
          Copyright ©
          <!-- {{ currentYear() }}  -->
          Markets Mojo
        </div>
      </div>
    </div>
  </div>
  <!-- </footer> -->
</footer>
