<div class="card">
  <div class="card-content riskAdjusted">
    <div class="card-head">
      <h2>
        {{ HEAD }}
        <span
          class="card-title activator info-act"
          (click)="isCollapseRiskRar = !isCollapseRiskRar"
        ></span>
      </h2>
    </div>

    <ng-container *ngIf="return_risk!; else loadingTemplate">
      <!-- Content to show if data exists -->

      <div class="quality ng-scope">
        <div class="valuation-head">
          <div class="high-risk-head ng-binding">Low Risk Low Return</div>
          <p
            class="sales_txt txt-cr ng-binding"
            ng-bind-html="riskdata.return.txt2"
          >
            Portfolio has generated
            <span class="green">Superior</span> risk adjusted returns vs
            composite index signifying that you have generated higher returns
            per unit of risk
          </p>
          <table class="table1">
            <thead>
              <tr>
                <th></th>
                <th class="textcenter">Return</th>
                <th class="textcenter">Risk <br />Adjusted</th>
                <th class="textcenter">Volatility</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Portfolio</td>
                <td class="ng-binding">{{ return_risk.port.return }}%</td>
                <td class="ng-binding">
                  {{ return_risk.port.riskAdj }}
                </td>
                <td class="ng-binding">{{ return_risk.port.volatility }}%</td>
              </tr>
              <tr>
                <td>Composite Index</td>
                <td class="ng-binding">{{ return_risk.comp.return }}%</td>
                <td class="ng-binding">
                  {{ return_risk.comp.riskAdj }}
                </td>
                <td class="ng-binding">{{ return_risk.comp.volatility }}%</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="foot-note ng-binding">Absolute Total Returns</div>
      </div>
      
    </ng-container>

    <ng-template #loadingTemplate>
      <!-- Content to show while loading -->
      <div>
        <div id="loading" class="ng-scope">
          <img
            id="loading-image"
            src="https://i.marketsmojo.com/loading.gif"
            alt="Loading..."
          />
        </div>
      </div>
    </ng-template>
  </div>

  <!-- extend -->
  <div
    class="card-reveal animate-slide"
    [ngClass]="{ 'ng-hide': isCollapseRiskRar }"
    ng-show="isCollapseRiskRar"
  >
    <span class="card-title grey-text text-darken-4"
      >Card Title<i
        class="material-icons right"
        (click)="isCollapseRiskRar = !isCollapseRiskRar"
        >close</i
      ></span
    >
    <div class="card-reveal-text">
      <ul>
        <li>
          Risk Adjusted Returns analyse if a portfolio is justifying its risk by
          delivering adequate returns
        </li>
        <li>
          Analysis is based on the risk and return matrix of the portfolio
          against your composite index since you created your portfolio
        </li>
        <li>
          If a highly volatile portfolio is delivering low risk adjusted
          returns, investors may look to alter the portfolio construct
        </li>
        <li>
          Click on Full details to see 1-year risk adjusted return of your
          portfolio stocks
        </li>
        <li>
          Risk is measured using volatility of the daily returns of the
          portfolio and returns are basis absolute return during the period
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- full details button-->
<div class="porbottomlink">
  <div class="bottom-card-links">
    <div class="bottom-card-links">
      <a
        class="seefull waves-light"
        (click)="sendToParent()"
        href="javascript:void(0);"
        ><img
          src="https://i.marketsmojo.com/arrow_rt.png"
          alt="ArrowRight"
          height="16"
        />
        <span *ngIf="isLoading"> Loading... </span>
        <span *ngIf="!isLoading"> Full Details </span>
        <!-- <span *ngIf="this.error"> {{this.error}} </span> -->
      </a>
    </div>
  </div>
</div>

<!-- full detail -->
<!-- detail -->
<div [hidden]="true">
  <div
    #childDiv
    class="modal-content contentbg ng-scope"
    ng-if="loader[0].pf_risk_score != true"
  >
    <div class="list-mojo">
      <table class="table1 mod-table">
        <thead>
          <tr>
            <th>Company</th>
            <th>1 year Return</th>
            <th>Volatility</th>
            <th>Risk Adjusted Return</th>
            <th>Latest Value</th>
          </tr>
        </thead>
        <tbody>
          <tr class="ng-scope" *ngFor="let item of riskPopup_data | keyvalue">
            <td class="ng-binding">{{ item.value.sname }}</td>
            <td class="ng-binding">
              {{ (item.value.Y1.val | roundOff | twoCommas) || "NA" }}%
            </td>
            <td class="ng-binding">
              {{ (item.value.volatility | roundOff | twoCommas) || "NA" }}
            </td>
            <td class="ng-binding">
              {{ (item.value.riskadj | roundOff | twoCommas) || "NA" }}
            </td>
            <td class="ng-binding">
              {{ (item.value.lval | roundOff | twoCommas) || "NA" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
