<!-- buttons navbar -->
<nav
  style="
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(64, 64, 64, 0.5);
  "
>
  <span
    *ngFor="let item of items"
    [ngStyle]="{
      'background-color': TYPE === item ? 'gainsboro' : '',
      color: TYPE === item ? 'black' : 'white',
      padding: '1% 1.5%',
      'border-right': '1px solid gray',
      cursor: 'pointer',
      'font-size': '12px',

    }"
    (click)="onClick(item)"
  >
    {{ item }}
  </span>
</nav>

<!-- table -->
<div style="background-color: white" class="mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource2"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    <!-- holding  -->
    <!-- short Company Column -->
    <ng-container matColumnDef="short">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Company
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          *ngIf="element.details!"
          (click)="togglePanel(element)"
          style="cursor: pointer; top: 0%; left: 0%; z-index: 2"
        >
          <img
            style="margin-left: 5px"
            *ngIf="expandedElement !== element"
            src="https://i.marketsmojo.com/next_ico.png"
            alt="img_next"
          />
          <img
            style="margin-left: 5px"
            *ngIf="expandedElement === element"
            src="https://i.marketsmojo.com/next_ico_dwn.png"
            alt="img_down"
          />
        </span>

        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <!-- <mat-panel-title> This is the expansion title </mat-panel-title> -->
              <mat-panel-description>
                {{ element.short }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <p>This is the primary content of the panel.</p> -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- {{ footerData.short }} -->
        <Strong> Total </Strong>
      </td>
    </ng-container>

    <!-- score -->
    <ng-container matColumnDef="score">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Score
      </th>
      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <!-- <mat-panel-title> This is the expansion title </mat-panel-title> -->
              <mat-panel-description>
                <!--  -->
                <div
                  style="
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin: 8px;
                    padding: 5px;
                    border-radius: 7px;
                    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
                    cursor: pointer;
                  "
                  [ngStyle]="{ color: element.dotsum.f_clr }"
                >
                  <!-- Overlay div -->
                  <div
                    *ngIf="element.show_mojostock == 'yes'"
                    style="
                      position: absolute;
                      left: 5px;
                      right: 7px;

                      top: -8px;
                      bottom: 25px;
                      /* z-index: 1; */
                      border-radius: 12px;
                      color: white;
                      font-size: x-small;
                      text-align: center;
                    "
                    [ngStyle]="{
                      'background-color': extractColor(
                        element.product_icon_list[0].product_class
                      )
                    }"
                  >
                    <p>
                      {{ element.product_icon_list[0].name }}
                    </p>
                  </div>

                  <!-- overlay div 2 -->
                  <div
                    *ngIf="element.more_button.show"
                    style="
                      position: absolute;
                      left: 5px;
                      right: 7px;

                      top: 25px;
                      bottom: -8px;
                      /* z-index: 1; */
                      border-radius: 15px;
                      color: white;
                      font-size: x-small;
                      text-align: center;
                    "
                    (click)="togglePopup()"
                    [ngStyle]="{
                      'background-color': extractColor(
                        element.product_icon_list[1].product_class
                      )
                    }"
                  >
                    <!-- popup -->
                    <app-popup [isVisible]="showPopup">
                      <!-- Popup Content -->
                      <div
                        style="
                          margin-top: 24px;
                          color: black;
                          display: flex;
                          flex-direction: column;
                          gap: 10px; /* Space between each item */
                        "
                      >
                        <div
                          *ngFor="let item of element.product_icon_list"
                          style="
                            display: flex;
                            align-items: center;
                            gap: 10px; /* Space between icon and text */
                            padding: 10px;
                            border: 1px solid #ccc; /* Optional border */
                            border-radius: 8px; /* Rounded corners */
                            background-color: #f9f9f9; /* Light background for each item */
                          "
                        >
                          <span
                            style="
                              height: 50px;
                              width: auto;
                              padding: 3%;
                              /* background-color: rebeccapurple; */
                              color: white;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              border-radius: 5px; /* Rounded corners */
                              font-size: small;
                              font-weight: bold; /* Optional: bold text for icon */
                            "
                            [ngStyle]="{
                              'background-color': extractColor(
                                item.product_class
                              )
                            }"
                          >
                            {{ item.name }}
                          </span>
                          <span
                            style="
                              font-size: 14px; /* Adjust font size as needed */
                              color: black;
                            "
                          >
                            {{ item.text }}
                          </span>
                        </div>
                      </div>

                      <!-- <button style="z-index: 1002" (click)="closePopup()">
                        close
                      </button> -->
                    </app-popup>

                    <p>
                      {{ element.more_button.text }}
                    </p>
                  </div>

                  <!-- Existing content -->
                  <div
                    style="
                      position: relative;
                      z-index: 2;
                      display: flex;
                      align-items: center;
                    "
                  >
                    <span style="margin-right: 8px">
                      <strong>
                        {{ element.dotsum.scoreText }}
                      </strong>
                    </span>
                    <span style="margin-right: 8px"> | score </span>
                    <span>
                      {{ element.dotsum.score }}
                    </span>
                  </div>
                </div>

                <!--  -->
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <p>This is the primary content of the panel.</p>
            <p>This is the primary content of the panel.</p> -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
        {{ getTotal("score") }}
      </td>
    </ng-container>

    <!-- cmp latest Price -->
    <ng-container matColumnDef="cmp">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('cmp')"
            [ngClass]="{ active: isSortActive('cmp') }"
          >
            Latest Price
            <mat-icon [ngClass]="getSortIconClass('cmp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('chg')"
            [ngClass]="{ active: isSortActive('chg') }"
            style="font-size: small; color: gray"
          >
            Changes
            <mat-icon [ngClass]="getSortIconClass('chg')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td
        [ngStyle]="{
          color: getColor(element.chg),
          'background-color': getBgColor(element.chg)
        }"
        mat-cell
        *matCellDef="let element"
      >
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.cmp }}</div>
                  <div style="color: gray">
                    <span>
                      {{ element.chg }}
                    </span>
                    <span> ({{ element.chgp }}%) </span>
                  </div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- iprice, iqty -->
    <ng-container matColumnDef="iprice">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('iprice')"
            [ngClass]="{ active: isSortActive('iprice') }"
            style="display: flex; align-items: center"
          >
            Inv.Price
            <mat-icon [ngClass]="getSortIconClass('iprice')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('iqty')"
            [ngClass]="{ active: isSortActive('iqty') }"
            style="
              font-size: small;
              color: gray;
              display: flex;
              align-items: center;
            "
          >
            Quality
            <mat-icon [ngClass]="getSortIconClass('iqty')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            (opened)="expandedElement = element"
            (closed)="expandedElement = null"
            hideToggle
            style="width: 100%; padding: 0%"
          >
            <mat-expansion-panel-header>
              <div
                style="
                  display: grid;
                  width: 100%;
                  justify-content: left;
                  text-align: left;
                  margin-top: 5%;
                  margin-left: 0px;
                "
              >
                <div>{{ element.iprice }}</div>
                <div style="height: 20px">{{ element.iqty }}</div>
              </div>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
            <div
              *ngIf="element.details && element.details.length > 0"
              style="width: 100%; padding-right: 10px; text-align: center"
            >
              <div
                *ngFor="let detail of element.details; let i = index"
                style="
                  margin-bottom: 10px;
                  padding-right: 10px;
                  margin-top: 6px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    margin-top: 0px;
                    text-align: left;
                  "
                >
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                  <div>{{ detail.iprice }}</div>
                  <div>{{ detail.iqty }}</div>
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                </div>
              </div>
            </div>
            <!-- Details section that will be shown when the panel is expanded end... -->
          </mat-expansion-panel>
        </div>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- ival, idate inv value  -->
    <ng-container matColumnDef="ival">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('ival')"
            [ngClass]="{ active: isSortActive('ival') }"
            style="display: flex; align-items: center"
          >
            Inv. Value
            <mat-icon [ngClass]="getSortIconClass('ival')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('idate')"
            [ngClass]="{ active: isSortActive('idate') }"
            style="
              font-size: small;
              color: gray;
              display: flex;
              align-items: center;
            "
          >
            Inv. Date
            <mat-icon [ngClass]="getSortIconClass('idate')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            (opened)="expandedElement = element"
            (closed)="expandedElement = null"
            hideToggle
            style="width: 100%; padding: 0%"
          >
            <mat-expansion-panel-header>
              <div
                style="
                  display: grid;
                  width: 100%;
                  justify-content: left;
                  text-align: left;
                  margin-top: 5%;
                  margin-left: 0px;
                "
              >
                <div>{{ element.ival }}</div>
                <div style="font-size: small; color: gray; height: 20px">
                  {{ element.idate }}
                </div>
              </div>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
            <div
              *ngIf="element.details && element.details.length > 0"
              style="width: 100%; padding-right: 10px; text-align: center"
            >
              <div
                *ngFor="let detail of element.details; let i = index"
                style="
                  margin-bottom: 10px;
                  padding-right: 10px;
                  margin-top: 6px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    margin-top: 0px;
                    text-align: left;
                  "
                >
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                  <div>{{ detail.ival }}</div>
                  <div style="font-size: small; color: gray">
                    {{ detail.idate }}
                  </div>
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                </div>
              </div>
            </div>
            <!-- Details section that will be shown when the panel is expanded end... -->
          </mat-expansion-panel>
        </div>
      </td>

      <td style="color: black" mat-footer-cell *matFooterCellDef>
        hello
        <!-- {{getTotal('ival')}} -->
      </td>
    </ng-container>

    <!-- dgain, dgainp Day's Gain  -->
    <ng-container matColumnDef="dgain">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('dgain')"
            [ngClass]="{ active: isSortActive('dgain') }"
            style="display: flex; align-items: center"
          >
            Day's Gain
            <mat-icon [ngClass]="getSortIconClass('dgain')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('dgainp')"
            [ngClass]="{ active: isSortActive('dgainp') }"
            style="
              font-size: small;
              color: gray;
              display: flex;
              align-items: center;
            "
          >
            in%
            <mat-icon [ngClass]="getSortIconClass('dgainp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td
        [ngStyle]="{
          color: getColor(element.dgainp),
          'background-color': getBgColor(element.dgainp)
        }"
        mat-cell
        *matCellDef="let element"
      >
        <div>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            (opened)="expandedElement = element"
            (closed)="expandedElement = null"
            hideToggle
            style="width: 100%; padding: 0%"
          >
            <mat-expansion-panel-header>
              <div
                style="
                  display: grid;
                  width: 100%;
                  justify-content: left;
                  text-align: left;
                  margin-top: 5%;
                  margin-left: 0px;
                "
              >
                <div>{{ element.dgain }}</div>
                <div style="font-size: small; color: gray; height: 20px">
                  {{ element.dgainp }}%
                </div>
              </div>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
            <div
              *ngIf="element.details && element.details.length > 0"
              style="width: 100%; padding-right: 10px; text-align: center"
            >
              <div
                *ngFor="let detail of element.details; let i = index"
                style="
                  margin-bottom: 10px;
                  padding-right: 10px;
                  margin-top: 6px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    margin-top: 0px;
                    text-align: left;
                  "
                >
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                  <div>{{ detail.dgain }}</div>
                  <div style="font-size: small; color: gray">
                    {{ detail.dgainp }}%
                  </div>
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                </div>
              </div>
            </div>
            <!-- Details section that will be shown when the panel is expanded end... -->
          </mat-expansion-panel>
        </div>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- {{ footerData.short }} -->
        hello
      </td>
    </ng-container>

    <!-- unrgain, unrgainp Day's Gain  -->
    <ng-container matColumnDef="unrgain">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('unrgain')"
            [ngClass]="{ active: isSortActive('unrgain') }"
            style="display: flex; align-items: center"
          >
            Unrealized Gain
            <mat-icon [ngClass]="getSortIconClass('unrgain')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('unrgainp')"
            [ngClass]="{ active: isSortActive('unrgainp') }"
            style="
              font-size: small;
              color: gray;
              display: flex;
              align-items: center;
            "
          >
            in%
            <mat-icon [ngClass]="getSortIconClass('unrgainp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td
        [ngStyle]="{
          color: getColor(element.unrgainp),
          'background-color': getBgColor(element.unrgainp)
        }"
        mat-cell
        *matCellDef="let element"
      >
        <div>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            (opened)="expandedElement = element"
            (closed)="expandedElement = null"
            hideToggle
            style="width: 100%; padding: 0%"
          >
            <mat-expansion-panel-header>
              <div
                style="
                  display: grid;
                  width: 100%;
                  justify-content: left;
                  text-align: left;
                  margin-top: 5%;
                  margin-left: 0px;
                "
              >
                <div>{{ element.unrgain }}</div>
                <div style="font-size: small; color: gray; height: 20px">
                  {{ element.unrgainp }}%
                </div>
              </div>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
            <div
              *ngIf="element.details && element.details.length > 0"
              style="width: 100%; padding-right: 10px; text-align: center"
            >
              <div
                *ngFor="let detail of element.details; let i = index"
                style="
                  margin-bottom: 10px;
                  padding-right: 10px;
                  margin-top: 6px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    margin-top: 0px;
                    text-align: left;
                  "
                >
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                  <div>{{ detail.unrgain }}</div>
                  <div style="font-size: small; color: gray">
                    {{ detail.unrgainp }}%
                  </div>
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                </div>
              </div>
            </div>
            <!-- Details section that will be shown when the panel is expanded end... -->
          </mat-expansion-panel>
        </div>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- {{ footerData.short }} -->
        hello
      </td>
    </ng-container>

    <!-- lval latest value -->
    <ng-container matColumnDef="lval">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Latest Value
      </th>
      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <!-- <mat-panel-title> This is the expansion title </mat-panel-title> -->
              <mat-panel-description>
                {{ element.lval }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <p>This is the primary content of the panel.</p> -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- {{ footerData.short }} -->
        hello
      </td>
    </ng-container>

    <!-- overview -->
    <!-- cmp, chgp ,  Price -->
    <ng-container matColumnDef="cmp_price">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('cmp')"
            [ngClass]="{ active: isSortActive('cmp') }"
          >
            Price
            <mat-icon [ngClass]="getSortIconClass('cmp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('chgp')"
            [ngClass]="{ active: isSortActive('chgp') }"
            style="font-size: small; color: gray"
          >
            Changes
            <mat-icon [ngClass]="getSortIconClass('chgp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td
        [ngStyle]="{
          color: getColor(element.chgp),
          'background-color': getBgColor(element.chgp)
        }"
        mat-cell
        *matCellDef="let element"
      >
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.cmp }}</div>
                  <div style="color: gray">{{ element.chgp }}</div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- vol, volperc ,  Volume -->
    <ng-container matColumnDef="vol">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('vol')"
            [ngClass]="{ active: isSortActive('vol') }"
          >
            Volume
            <mat-icon [ngClass]="getSortIconClass('vol')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('volperc')"
            [ngClass]="{ active: isSortActive('volperc') }"
            style="font-size: small; color: gray"
          >
            Changes
            <mat-icon [ngClass]="getSortIconClass('volperc')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td
        [ngStyle]="{
          color: getColor(element.volperc),
          'background-color': getBgColor(element.volperc)
        }"
        mat-cell
        *matCellDef="let element"
      >
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.vol }}</div>
                  <div style="color: gray">{{ element.volperc }}</div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- tech_txt dotsum.tech_txt -->
    <ng-container matColumnDef="tech_txt">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Technical
      </th>
      <td
        [ngStyle]="{ color: element.dotsum.tech_clr }"
        mat-cell
        *matCellDef="let element"
      >
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <!-- <mat-panel-title> This is the expansion title </mat-panel-title> -->
              <mat-panel-description>
                {{ element.dotsum.tech_txt }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <p>This is the primary content of the panel.</p> -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- {{ footerData.short }} -->
        <Strong> Total </Strong>
      </td>
    </ng-container>

    <!-- f_txt, f_txt ,  Financial Trend -->
    <ng-container matColumnDef="f_txt">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('f_txt')"
            [ngClass]="{ active: isSortActive('f_txt') }"
          >
            Financial Trend
            <mat-icon [ngClass]="getSortIconClass('f_txt')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span style="font-size: small; color: gray">
            Result Data
            <mat-icon [ngClass]="getSortIconClass('f.txt')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <span>
                  <div>{{ element.dotsum.f_txt }}</div>
                  <!-- <div style="color: gray">{{ element.dotsum.volperc }}</div> -->
                  date </span
                ><span> img </span>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- thing u should know -->
    <ng-container matColumnDef="tusk">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Things you should Know
      </th>
      <td
        [ngStyle]="{ color: element.dotsum.tech_clr }"
        mat-cell
        *matCellDef="let element"
      >
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <!-- <mat-panel-title> This is the expansion title </mat-panel-title> -->
              <mat-panel-description>
                <!-- {{ element.action!.list[0]!.header! }} -->
                hello
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <p>This is the primary content of the panel.</p> -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- {{ footerData.short }} -->
        <Strong> Total </Strong>
      </td>
    </ng-container>

    <!-- cvol, cvolp combined vol  -->
    <ng-container matColumnDef="cvol">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('cvol')"
            [ngClass]="{ active: isSortActive('cvol') }"
          >
            Combined vol
            <mat-icon [ngClass]="getSortIconClass('cvol')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('cvolp')"
            [ngClass]="{ active: isSortActive('cvolp') }"
            style="font-size: small; color: gray"
          >
            Changes(in%)
            <mat-icon [ngClass]="getSortIconClass('cvolp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.cvol }}</div>
                  <div
                    [ngStyle]="{
                      color: getColor(element.cvolp),

                    }"
                  >
                    {{ element.cvolp }}
                  </div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- dh days High  -->
    <ng-container matColumnDef="dh">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('dh')"
            [ngClass]="{ active: isSortActive('dh') }"
          >
            Day's High
            <mat-icon [ngClass]="getSortIconClass('dh')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <!-- <div>
                  <span
                    (click)="sortBy('cvolp')"
                    [ngClass]="{ active: isSortActive('cvolp') }"
                    style="font-size: small; color: gray"
                  >
                    Changes(in%)
                    <mat-icon [ngClass]="getSortIconClass('cvolp')"
                      >arrow_downward</mat-icon
                    >
                  </span>
                </div> -->
      </th>

      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.dh }}</div>
                  <!-- <div
                          >{{ element.cvolp }}</div> -->
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- dl days low  -->
    <ng-container matColumnDef="dl">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('dl')"
            [ngClass]="{ active: isSortActive('dl') }"
          >
            Day's Low
            <mat-icon [ngClass]="getSortIconClass('dl')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <!-- <div>
                  <span
                    (click)="sortBy('cvolp')"
                    [ngClass]="{ active: isSortActive('cvolp') }"
                    style="font-size: small; color: gray"
                  >
                    Changes(in%)
                    <mat-icon [ngClass]="getSortIconClass('cvolp')"
                      >arrow_downward</mat-icon
                    >
                  </span>
                </div> -->
      </th>

      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.dl }}</div>
                  <!-- <div
                          >{{ element.cvolp }}</div> -->
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- wk52h, wk52hdt weeks 52 high  -->
    <ng-container matColumnDef="wk52h">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('wk52h')"
            [ngClass]="{ active: isSortActive('wk52h') }"
          >
            52 weeks High
            <mat-icon [ngClass]="getSortIconClass('wk52h')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('wk52hdt')"
            [ngClass]="{ active: isSortActive('wk52hdt') }"
            style="font-size: small; color: gray"
          >
            Date
            <mat-icon [ngClass]="getSortIconClass('wk52hdt')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.wk52h }}</div>
                  <div style="color: gray">{{ element.wk52hdt }}</div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- wk52l, wk52ldt weeks 52 Low  -->
    <ng-container matColumnDef="wk52l">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('wk52l')"
            [ngClass]="{ active: isSortActive('wk52l') }"
          >
            52 weeks Low
            <mat-icon [ngClass]="getSortIconClass('wk52l')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('wk52ldt')"
            [ngClass]="{ active: isSortActive('wk52ldt') }"
            style="font-size: small; color: gray"
          >
            Date
            <mat-icon [ngClass]="getSortIconClass('wk52ldt')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.wk52l }}</div>
                  <div style="color: gray">{{ element.wk52ldt }}</div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- ath, athdt All Time High  -->
    <ng-container matColumnDef="ath">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('ath')"
            [ngClass]="{ active: isSortActive('ath') }"
          >
            All Time High
            <mat-icon [ngClass]="getSortIconClass('ath')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('athdt')"
            [ngClass]="{ active: isSortActive('athdt') }"
            style="font-size: small; color: gray"
          >
            Date
            <mat-icon [ngClass]="getSortIconClass('athdt')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.ath }}</div>
                  <div style="color: gray">{{ element.athdt }}</div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- atl, atldt All Time Low  -->
    <ng-container matColumnDef="atl">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('atl')"
            [ngClass]="{ active: isSortActive('atl') }"
          >
            All Time Low
            <mat-icon [ngClass]="getSortIconClass('atl')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('atldt')"
            [ngClass]="{ active: isSortActive('atldt') }"
            style="font-size: small; color: gray"
          >
            Date
            <mat-icon [ngClass]="getSortIconClass('atldt')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.atl }}</div>
                  <div style="color: gray">{{ element.atldt }}</div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- contribution -->
    <!-- mcap, mcapcls Market Cap  -->
    <ng-container matColumnDef="mcap">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('mcap')"
            [ngClass]="{ active: isSortActive('mcap') }"
          >
            Market Cap
            <mat-icon [ngClass]="getSortIconClass('mcap')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('mcapcls')"
            [ngClass]="{ active: isSortActive('mcapcls') }"
            style="font-size: small; color: gray"
          >
            Date
            <mat-icon [ngClass]="getSortIconClass('mcapcls')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.mcap }}</div>
                  <div style="color: gray">{{ element.mcapcls }}</div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- unrgaincontri -->
    <ng-container matColumnDef="unrgaincontri">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('unrgaincontri')"
            [ngClass]="{ active: isSortActive('unrgaincontri') }"
          >
            Unrealized Gain Contribution
            <mat-icon [ngClass]="getSortIconClass('unrgaincontri')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.unrgaincontri }}</div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- pwt Portfolio Weight -->
    <ng-container matColumnDef="pwt">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('pwt')"
            [ngClass]="{ active: isSortActive('pwt') }"
          >
            Portfolio Weight
            <mat-icon [ngClass]="getSortIconClass('pwt')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.pwt }}</div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- dividend -->
    <!-- div Dividend  -->
    <ng-container matColumnDef="div">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('div')"
            [ngClass]="{ active: isSortActive('div') }"
          >
            Dividend Received
            <mat-icon [ngClass]="getSortIconClass('div')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.div }}</div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- hello -->
      </td>
    </ng-container>

    <!-- tret, tretp Day's Gain  -->
    <ng-container matColumnDef="tret">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('tret')"
            [ngClass]="{ active: isSortActive('tret') }"
            style="display: flex; align-items: center"
          >
            Total Return
            <mat-icon [ngClass]="getSortIconClass('tret')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('tretp')"
            [ngClass]="{ active: isSortActive('tretp') }"
            style="
              font-size: small;
              color: gray;
              display: flex;
              align-items: center;
            "
          >
            in%
            <mat-icon [ngClass]="getSortIconClass('tretp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td
        [ngStyle]="{
          color: getColor(element.tretp),
          'background-color': getBgColor(element.tretp)
        }"
        mat-cell
        *matCellDef="let element"
      >
        <div>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            (opened)="expandedElement = element"
            (closed)="expandedElement = null"
            hideToggle
            style="width: 100%; padding: 0%"
          >
            <mat-expansion-panel-header>
              <div
                style="
                  display: grid;
                  width: 100%;
                  justify-content: left;
                  text-align: left;
                  margin-top: 5%;
                  margin-left: 0px;
                "
              >
                <div>{{ element.tret }}</div>
                <div style="font-size: small; color: gray; height: 20px">
                  {{ element.tretp }}%
                </div>
              </div>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->

            <!-- Details section that will be shown when the panel is expanded end... -->
          </mat-expansion-panel>
        </div>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- {{ footerData.short }} -->
        hello
      </td>
    </ng-container>

    <!-- mojo -->
    <!-- quantity q_txt dotsum.q_txt -->
    <ng-container matColumnDef="q_txt">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Quantity
      </th>
      <td
        [ngStyle]="{
           color: element.dotsum.q_clr,
         }"
        mat-cell
        *matCellDef="let element"
      >
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <!-- <mat-panel-title> This is the expansion title </mat-panel-title> -->
              <mat-panel-description>
                {{ element.dotsum.q_txt }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <p>This is the primary content of the panel.</p> -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- {{ footerData.short }} -->
        <Strong> Total </Strong>
      </td>
    </ng-container>

    <!-- valuation v_txt dotsum.v_txt -->
    <ng-container matColumnDef="v_txt">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Valuation
      </th>
      <td
        [ngStyle]="{
             color: element.dotsum.v_clr,
           }"
        mat-cell
        *matCellDef="let element"
      >
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <!-- <mat-panel-title> This is the expansion title </mat-panel-title> -->
              <mat-panel-description>
                {{ element.dotsum.v_txt }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <p>This is the primary content of the panel.</p> -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <!-- {{ footerData.short }} -->
        <Strong> Total </Strong>
      </td>
    </ng-container>

<!-- risk -->





    <!-- Header, footer and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>
