/* ipo-slider-demo.component.css */

.line-container {
  position: relative;
  width: 100%;
  height: 20px;
}

.line {
  display: flex;
  width: 100%;
  height: 4px;
  position: relative;
  overflow: hidden;
}

.hello {
  display: flex;
  width: 100%;
  position: relative;
  /* overflow: hidden; */
}

.a {
  text-align: center;
  width: 33.33%;
  color: red;
}
.n {
  text-align: center;
  width: 33.33%;
  color: orange;
}
.s {
  text-align: center;
  width: 33.33%;
  color: green;
}

.segment {
  height: 100%;
  flex-grow: 1;
}
.green {
  background-color: green;
  width: 33.33%;
}

.red {
  background-color: red;
  width: 33.33%; /* Each segment takes up one third of the line */
}

.orange {
  background-color: orange;
  width: 33.33%;
}

.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  top: -4px; /* Adjust based on line height */
}

/* end */


.container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* You can adjust the shadow values and color as needed */
  }

  .ipo-item {
    transition: box-shadow 0.3s ease;
  }
  
  .ipo-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Change values as needed */
  }
  
/* 
  table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
tr {
    height: 50px;
} */