<div
  class="slide-card cf ng-scope"
  id="MenusectFintrend"
  ng-if="other_card_visibile"
>
  <div class="swiper-container swiper-6 swiper-container-horizontal">
    <div class="section-head cf">
      <h3>Financial Trend</h3>
    </div>
    <div class="SectionDetails">
      <span class="txt-sml no-tab"></span>
      <div
        class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
      >
        <span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
        ></span
        ><span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span>
      </div>
    </div>
    <div
      class="swiper-wrapper reco-slide"
      id="sectFintrend"
      sect-reveal="true"
      style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px)"
    >
      <section
        data-reveal="true"
        id="sectFintrend_scorecard"
        class="swiper-slide small-card marginright swiper-slide-visible swiper-slide-active"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>Financial Trend Scorecard</h2>
            </div>
            <!-- ngIf: loader[0].pf_fintrend_score == true -->
            <!-- ngIf: loader[0].pf_fintrend_score == false && error_flag[0].fin_scorecard == 1 -->

            <!-- ngIf: loader[0].pf_fintrend_score == false && error_flag[0].fin_scorecard == 0 -->
            <div
              class="sevn-dot-card ng-scope"
              ng-if="loader[0].pf_fintrend_score == false &amp;&amp; error_flag[0].fin_scorecard == 0"
              style=""
            >
              <div class="head-7dot">Financial Trend</div>
              <p
                class="sev-txt3 ng-binding"
                ng-bind-html="qvf.fin_trend.score.text"
              >
                <b>64.0%</b> of your portfolio has Positive or better Financial
                Trend
              </p>
              <div
                ng-class="qvf.fin_trend.score.color + '-7dot'"
                class="yellow-7dot"
              >
                <div class="con-7dot">
                  <div class="sev-txt1"></div>
                  <!--div class="sev-txt2">Underperformed</div-->
                </div>
              </div>
              <div class="condi-p-7 orange">
                For detailed financial trend analysis<br />
                <span class="readon" style="color: black"
                  >Swipe right..
                  <img
                    src="https://i.marketsmojo.com/arrow_rt.png"
                    alt="ArrowRight"
                    data-pin-nopin="true"
                    height="16"
                    width="23"
                /></span>
              </div>
            </div>
            <!-- end ngIf: loader[0].pf_fintrend_score == false && error_flag[0].fin_scorecard == 0 -->
          </div>
        </div>
      </section>

      <section
        id="sectFintrend_summary"
        class="swiper-slide padnno-sec marginright swiper-slide-visible swiper-slide-next"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content liquidity">
            <div class="card-head">
              <h2>
                Financial Trend Summary
                <span
                  class="card-title activator info-act"
                  ng-click="isCollapseFinTrendSum = !isCollapseFinTrendSum"
                ></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_fintrend_summary == true -->
            <!-- ngIf: loader[0].pf_fintrend_summary == false && error_flag[0].fin_summary == 1 -->

            <div
              class="ql-sec"
              ng-show="loader[0].pf_fintrend_summary == false &amp;&amp; error_flag[0].fin_summary == 0"
              style=""
            >
              <div class="sec1">
                <div class="pbt-mojo">
                  <span
                    ng-class="
                      qvf.fin_trend.score.color == 'yellow'
                        ? 'orange'
                        : qvf.fin_trend.score.color
                    "
                    ng-bind-html="qvf.fin_trend.score.text"
                    class="ng-binding orange"
                    style=""
                    ><b>64.0%</b> of your portfolio has Positive or better
                    Financial Trend</span
                  >
                </div>
                <div
                  class="smallgraph"
                  id="container_fintrend_summary"
                  data-highcharts-chart="12"
                >
                  <div
                    id="highcharts-bb11egg-37"
                    dir="ltr"
                    class="highcharts-container"
                    style="
                      position: relative;
                      overflow: hidden;
                      width: 368px;
                      height: 200px;
                      text-align: left;
                      line-height: normal;
                      z-index: 0;
                      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    "
                  >
                    <svg
                      version="1.1"
                      class="highcharts-root"
                      style="
                        font-family: 'Lucida Grande', 'Lucida Sans Unicode',
                          Arial, Helvetica, sans-serif;
                        font-size: 12px;
                      "
                      xmlns="http://www.w3.org/2000/svg"
                      width="368"
                      height="200"
                      viewBox="0 0 368 200"
                    >
                      <desc>Created with Highstock 6.1.0</desc>
                      <defs>
                        <clipPath id="highcharts-bb11egg-38">
                          <rect
                            x="0"
                            y="0"
                            width="348"
                            height="175"
                            fill="none"
                          ></rect>
                        </clipPath>
                      </defs>
                      <rect
                        fill="#ffffff"
                        class="highcharts-background"
                        x="0"
                        y="0"
                        width="368"
                        height="200"
                        rx="0"
                        ry="0"
                      ></rect>
                      <rect
                        fill="none"
                        class="highcharts-plot-background"
                        x="10"
                        y="10"
                        width="348"
                        height="175"
                      ></rect>
                      <g class="highcharts-pane-group"></g>
                      <rect
                        fill="none"
                        class="highcharts-plot-border"
                        x="10"
                        y="10"
                        width="348"
                        height="175"
                      ></rect>
                      <g class="highcharts-series-group">
                        <g
                          class="highcharts-series highcharts-series-0 highcharts-pie-series highcharts-tracker"
                          transform="translate(10,10) scale(1 1)"
                          style="cursor: pointer"
                        >
                          <path
                            fill="grey"
                            visibility="hidden"
                            d="M 171.28799620379627 30.31427157577359 A 57.25 57.25 0 0 1 172.48940621134045 30.269932671665828 L 172.51579212904628 31.269584502728428 A 56.25 56.25 0 0 0 171.3353674491448 31.313148928161823 Z"
                            class="highcharts-halo highcharts-color-3"
                            fill-opacity="1"
                          ></path>
                          <path
                            fill="green"
                            d="M 173.98833970908845 30.25000118744442 A 57.25 57.25 0 1 1 145.89192598874865 137.37483007868815 L 158.54055929381175 114.93115654327849 A 31.4875 31.4875 0 1 0 173.99358683999864 56.01250065309443 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-0"
                          ></path>
                          <path
                            fill="orange"
                            d="M 145.8420652210183 137.34669707194863 A 57.25 57.25 0 0 1 152.21361796402348 34.55742679296293 L 162.0174898802129 58.38158473612961 A 31.4875 31.4875 0 0 0 158.51313587156005 114.91568338957174 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-1"
                          ></path>
                          <path
                            fill="green"
                            d="M 152.2665714215969 34.5356668858424 A 57.25 57.25 0 0 1 171.23081184090475 30.31701217197962 L 172.47694651249762 56.049356694588795 A 31.4875 31.4875 0 0 0 162.04661428187828 58.36961678721332 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-2"
                          ></path>
                          <path
                            fill="grey"
                            d="M 171.28799620379627 30.31427157577359 A 57.25 57.25 0 0 1 172.48940621134045 30.269932671665828 L 173.16917341623724 56.0234629694162 A 31.4875 31.4875 0 0 0 172.50839791208793 56.04784936667547 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-3"
                          ></path>
                          <path
                            fill="red"
                            d="M 172.54663702442727 30.268450693160204 A 57.25 57.25 0 0 1 173.51973650611265 30.252014472328902 L 173.73585507836196 56.0136079597809 A 31.4875 31.4875 0 0 0 173.20065036343502 56.022647881238115 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-4"
                          ></path>
                          <path
                            fill="green"
                            d="M 173.57698472223075 30.251562832905442 A 57.25 57.25 0 0 1 173.9204808985454 30.250055225244942 L 173.95626449419996 56.012530373884715 A 31.4875 31.4875 0 0 0 173.7673415972269 56.01335955809799 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-5"
                          ></path>
                        </g>
                        <g
                          class="highcharts-markers highcharts-series-0 highcharts-pie-series"
                          transform="translate(10,10) scale(1 1)"
                        ></g>
                      </g>
                      <text
                        x="184"
                        text-anchor="middle"
                        class="highcharts-title"
                        style="color: #333333; font-size: 18px; fill: #333333"
                        y="24"
                      ></text>
                      <text
                        x="184"
                        text-anchor="middle"
                        class="highcharts-subtitle"
                        style="color: #666666; fill: #666666"
                        y="24"
                      ></text>
                      <g
                        class="highcharts-data-labels highcharts-series-0 highcharts-pie-series highcharts-tracker"
                        transform="translate(10,10) scale(1 1)"
                        opacity="1"
                        style="cursor: pointer"
                      >
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-0"
                          stroke="green"
                          stroke-width="1"
                          d="M 248.87163683069411 105.88523501616426 C 243.87163683069411 105.88523501616426 235.1679035230644 103.59503273041369 232.26665908718783 102.83163196849684 L 229.36541465131126 102.06823120657998"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-1"
                          stroke="orange"
                          stroke-width="1"
                          d="M 97.35755477931332 96.85000228881836 C 102.35755477931332 96.85000228881836 110.87480942691182 83.52849963977094 113.86888961219664 83.71687119835889 L 116.86296979748145 83.90524275694683"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-2"
                          stroke="green"
                          stroke-width="1"
                          d="M 103.9541694496616 56.05000114440918 C 108.9541694496616 56.05000114440918 160.31881657920977 25.74736669415065 160.96772646478084 28.676345348973545 L 161.6166363503519 31.60532400379644"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-3"
                          stroke="grey"
                          stroke-width="1"
                          d="M 166.39029701180428 15.25 C 171.39029701180428 15.25 171.71538112106063 24.291274205391595 171.8237424908127 27.28931653557065 L 171.93210386056475 30.287358865749702"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-4"
                          stroke="red"
                          stroke-width="1"
                          d="M 167.81975613776765 15.25964061256573 C 172.81975613776765 15.25964061256573 172.9667761344472 24.25843970581014 173.01578280000703 27.258039403558275 L 173.06478946556686 30.25763910130641"
                          visibility="hidden"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-5"
                          stroke="green"
                          stroke-width="1"
                          d="M 168.7276245621109 15.250513416212886 C 173.7276245621109 15.250513416212886 173.76155368240242 24.25044946125211 173.77286338916593 27.250428142931852 L 173.78417309592945 30.250406824611595"
                          visibility="hidden"
                        ></path>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-0"
                          style="cursor: pointer"
                          transform="translate(254,96)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Positive
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              58.19 %
                            </tspan>
                            <tspan x="5" y="16">Positive</tspan>
                            <tspan x="5" dy="14">58.19 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-1"
                          style="cursor: pointer"
                          transform="translate(39,87)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Flat
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              35.62 %
                            </tspan>
                            <tspan x="5" y="16">Flat</tspan>
                            <tspan x="5" dy="14">35.62 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-2"
                          style="cursor: pointer"
                          transform="translate(19,46)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Very Positive
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              5.44 %
                            </tspan>
                            <tspan x="5" y="16">Very Positive</tspan>
                            <tspan x="5" dy="14">5.44 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-3"
                          style="cursor: pointer"
                          transform="translate(62,5)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Does not qualify
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              0.35 %
                            </tspan>
                            <tspan x="5" y="16">Does not qualify</tspan>
                            <tspan x="5" dy="14">0.35 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-4"
                          style="cursor: pointer"
                          transform="translate(105,5)"
                          visibility="hidden"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Negative
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              0.28 %
                            </tspan>
                            <tspan x="5" y="16">Negative</tspan>
                            <tspan x="5" dy="14">0.28 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-5"
                          style="cursor: pointer"
                          transform="translate(87,5)"
                          visibility="hidden"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Outstanding
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              0.12 %
                            </tspan>
                            <tspan x="5" y="16">Outstanding</tspan>
                            <tspan x="5" dy="14">0.12 %</tspan>
                          </text>
                        </g>
                      </g>
                      <g class="highcharts-legend">
                        <rect
                          fill="none"
                          class="highcharts-legend-box"
                          rx="0"
                          ry="0"
                          x="0"
                          y="0"
                          width="8"
                          height="8"
                          visibility="hidden"
                        ></rect>
                        <g><g></g></g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="sec2">
                <strong> Stocks with Negative or worse Financial Trend </strong>
                <ul class="ullist">
                  <!-- ngRepeat: value in qvf.fin_trend.summary.negative -->
                  <li
                    ng-repeat="value in qvf.fin_trend.summary.negative"
                    class="ng-binding ng-scope"
                    style=""
                  >
                    One 97 0.28%
                  </li>
                  <!-- end ngRepeat: value in qvf.fin_trend.summary.negative -->
                </ul>
              </div>
              <div class="sec2">
                <strong>
                  Stocks with Very Positive or better Financial Trend
                </strong>
                <ul class="ullist">
                  <!-- ngRepeat: value in qvf.fin_trend.summary.positive -->
                  <li
                    ng-repeat="value in qvf.fin_trend.summary.positive"
                    class="ng-binding ng-scope"
                    style=""
                  >
                    JP Power Ven. 3.03%
                  </li>
                  <!-- end ngRepeat: value in qvf.fin_trend.summary.positive -->
                  <li
                    ng-repeat="value in qvf.fin_trend.summary.positive"
                    class="ng-binding ng-scope"
                  >
                    Punjab Natl.Bank 2.41%
                  </li>
                  <!-- end ngRepeat: value in qvf.fin_trend.summary.positive -->
                  <li
                    ng-repeat="value in qvf.fin_trend.summary.positive"
                    class="ng-binding ng-scope"
                  >
                    Zomato Ltd 0.12%
                  </li>
                  <!-- end ngRepeat: value in qvf.fin_trend.summary.positive -->
                </ul>
              </div>
            </div>
            <p class="condi-p pad010 ng-binding">
              Financial trend analyses result of the company in the recent
              quarters. We believe companies which have been trending higher on
              financial trend in the latest periods have potential to generate
              returns in the short term.
            </p>
          </div>
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseFinTrendSum"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseFinTrendSum = !isCollapseFinTrendSum"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>
                  The card depicts the bifurcation of your portfolio as per the
                  Financial Trend grade calculated by Markets mojo process
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section
        id="sectFintrend_details"
        class="swiper-slide padnno-sec marginright swiper-slide-visible"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>
                Financial Trend Details
                <span
                  class="card-title activator info-act"
                  ng-click="isCollapseFinTrendDtls = !isCollapseFinTrendDtls"
                ></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_fintrend_dtls == true -->
            <!-- ngIf: loader[0].pf_fintrend_dtls == false && error_flag[0].fin_details == 1 -->

            <!-- ngIf: loader[0].pf_fintrend_dtls == false && error_flag[0].fin_details == 0 -->
            <div
              class="liquidityDetails list-mojo ng-scope"
              ng-if="loader[0].pf_fintrend_dtls == false &amp;&amp; error_flag[0].fin_details == 0"
            >
              <table class="table25">
                <thead>
                  <tr>
                    <th>Company</th>
                    <!--										<th class="textcenter no-mob">Quarter</th>-->
                    <th class="textcenter">
                      Financial Trend
                      <p class="scr-txt-2 no-web">(Score)</p>
                    </th>
                    <th class="no-mob textcenter">Score</th>
                    <th class="no-mob textcenter">Portfolio<br />Weight</th>
                    <th class="no-mob textcenter">Latest<br />Value</th>
                    <th class="no-web textcenter">
                      Value
                      <p class="scr-txt-2">Weight</p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <!-- ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                    style=""
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=454045&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=454045&amp;Exchange=0"
                          >Jubilant Inds.</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="red-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="red-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <!--                                    <td class="textcenter no-mob">Mar-17</td>-->
                    <td
                      class="selected-td txt-lt ng-binding green"
                      ng-class="value.dotsum.f_clr"
                    >
                      Positive
                    </td>
                    <td class="no-mob ng-binding">15</td>
                    <td class="no-mob ng-binding">38.23%</td>
                    <td class="no-mob ng-binding">88,228</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      88,228
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        38.23%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=421555&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=421555&amp;Exchange=0"
                          >Coal India</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <!--                                    <td class="textcenter no-mob">Mar-17</td>-->
                    <td
                      class="selected-td txt-lt ng-binding orange"
                      ng-class="value.dotsum.f_clr"
                    >
                      Flat
                    </td>
                    <td class="no-mob ng-binding">0</td>
                    <td class="no-mob ng-binding">17.00%</td>
                    <td class="no-mob ng-binding">39,220</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      39,220
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        17.00%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=431628&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=431628&amp;Exchange=0"
                          >REC Ltd</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <!--                                    <td class="textcenter no-mob">Mar-17</td>-->
                    <td
                      class="selected-td txt-lt ng-binding green"
                      ng-class="value.dotsum.f_clr"
                    >
                      Positive
                    </td>
                    <td class="no-mob ng-binding">9</td>
                    <td class="no-mob ng-binding">14.27%</td>
                    <td class="no-mob ng-binding">32,927</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      32,927
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        14.27%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=837957&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=837957&amp;Exchange=0"
                          >Larsen &amp; Toubro</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <!--                                    <td class="textcenter no-mob">Mar-17</td>-->
                    <td
                      class="selected-td txt-lt ng-binding orange"
                      ng-class="value.dotsum.f_clr"
                    >
                      Flat
                    </td>
                    <td class="no-mob ng-binding">4</td>
                    <td class="no-mob ng-binding">10.96%</td>
                    <td class="no-mob ng-binding">25,291</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      25,291
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        10.96%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=119922&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=119922&amp;Exchange=0"
                          >City Union Bank</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <!--                                    <td class="textcenter no-mob">Mar-17</td>-->
                    <td
                      class="selected-td txt-lt ng-binding orange"
                      ng-class="value.dotsum.f_clr"
                    >
                      Flat
                    </td>
                    <td class="no-mob ng-binding">5</td>
                    <td class="no-mob ng-binding">5.57%</td>
                    <td class="no-mob ng-binding">12,844</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      12,844
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        5.57%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=302744&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=302744&amp;Exchange=0"
                          >JP Power Ven.</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <!--                                    <td class="textcenter no-mob">Mar-17</td>-->
                    <td
                      class="selected-td txt-lt ng-binding green"
                      ng-class="value.dotsum.f_clr"
                    >
                      Very Positive
                    </td>
                    <td class="no-mob ng-binding">26</td>
                    <td class="no-mob ng-binding">3.02%</td>
                    <td class="no-mob ng-binding">6,980</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      6,980
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        3.02%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                </tbody>
              </table>
            </div>
            <!-- end ngIf: loader[0].pf_fintrend_dtls == false && error_flag[0].fin_details == 0 -->
          </div>
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseFinTrendDtls"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseFinTrendDtls = !isCollapseFinTrendDtls"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>Details of Valuation of your portfolio stocks</li>
                <li>
                  Click on Full details to see the information for all stocks
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links">
              <a
                class="seefull waves-light"
                href="javascript:void(0)"
                ng-click="modalOpen('quality_details',3)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-button-next" style="margin-top: 0px">
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_next</i>
      </a>
    </div>
    <div
      class="swiper-button-prev swiper-button-disabled"
      style="margin-top: 0px"
    >
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_previous</i>
      </a>
    </div>
  </div>
</div>
