<div
  class="slide-card cf ng-scope"
  id="MenusectFintrend"
  ng-if="other_card_visibile"
>
  <div class="swiper-container swiper-6 swiper-container-horizontal">
    <div class="section-head cf">
      <h3>Financial Trend</h3>
    </div>
    <div class="SectionDetails">
      <span class="txt-sml no-tab"></span>
      <div
        class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
      >
        <span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
        ></span
        ><span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span>
      </div>
    </div>
    <div
      class="swiper-wrapper reco-slide"
      id="sectFintrend"
      sect-reveal="true"
      style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px)"
    >
      <!-- scorecard -->
      <section
        data-reveal="true"
        id="sectFintrend_scorecard"
        class="swiper-slide small-card marginright swiper-slide-visible swiper-slide-active"
        data-scrolled="0"
        data-visited="0"
      >
        <ng-container *ngIf="score!">
          <app-scorecard
            [DATA]="score"
            [HEAD]="'Financial'"
            [SHOW_BUTTON]="false"
          />
        </ng-container>
      </section>

      <!-- summary -->
      <section
        id="sectFintrend_summary"
        class="swiper-slide padnno-sec marginright swiper-slide-visible swiper-slide-next"
        data-scrolled="0"
        data-visited="0"
      >
        <ng-container *ngIf="qvflData!">
          <app-summary [DATA]="qvflData" [HEAD]="'Financial'" />
        </ng-container>
      </section>

      <section
        id="sectFintrend_details"
        class="swiper-slide padnno-sec marginright swiper-slide-visible"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>
                Financial Trend Details
                <span
                  class="card-title activator info-act"
                  ng-click="isCollapseFinTrendDtls = !isCollapseFinTrendDtls"
                ></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_fintrend_dtls == true -->
            <!-- ngIf: loader[0].pf_fintrend_dtls == false && error_flag[0].fin_details == 1 -->

            <!-- ngIf: loader[0].pf_fintrend_dtls == false && error_flag[0].fin_details == 0 -->
            <div
              class="liquidityDetails list-mojo ng-scope"
              ng-if="loader[0].pf_fintrend_dtls == false &amp;&amp; error_flag[0].fin_details == 0"
            >
              <table class="table25">
                <thead>
                  <tr>
                    <th>Company</th>
                    <!--										<th class="textcenter no-mob">Quarter</th>-->
                    <th class="textcenter">
                      Financial Trend
                      <p class="scr-txt-2 no-web">(Score)</p>
                    </th>
                    <th class="no-mob textcenter">Score</th>
                    <th class="no-mob textcenter">Portfolio<br />Weight</th>
                    <th class="no-mob textcenter">Latest<br />Value</th>
                    <th class="no-web textcenter">
                      Value
                      <p class="scr-txt-2">Weight</p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <!-- ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                    style=""
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=454045&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=454045&amp;Exchange=0"
                          >Jubilant Inds.</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="red-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="red-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <!--                                    <td class="textcenter no-mob">Mar-17</td>-->
                    <td
                      class="selected-td txt-lt ng-binding green"
                      ng-class="value.dotsum.f_clr"
                    >
                      Positive
                    </td>
                    <td class="no-mob ng-binding">15</td>
                    <td class="no-mob ng-binding">38.23%</td>
                    <td class="no-mob ng-binding">88,228</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      88,228
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        38.23%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=421555&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=421555&amp;Exchange=0"
                          >Coal India</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <!--                                    <td class="textcenter no-mob">Mar-17</td>-->
                    <td
                      class="selected-td txt-lt ng-binding orange"
                      ng-class="value.dotsum.f_clr"
                    >
                      Flat
                    </td>
                    <td class="no-mob ng-binding">0</td>
                    <td class="no-mob ng-binding">17.00%</td>
                    <td class="no-mob ng-binding">39,220</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      39,220
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        17.00%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=431628&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=431628&amp;Exchange=0"
                          >REC Ltd</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <!--                                    <td class="textcenter no-mob">Mar-17</td>-->
                    <td
                      class="selected-td txt-lt ng-binding green"
                      ng-class="value.dotsum.f_clr"
                    >
                      Positive
                    </td>
                    <td class="no-mob ng-binding">9</td>
                    <td class="no-mob ng-binding">14.27%</td>
                    <td class="no-mob ng-binding">32,927</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      32,927
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        14.27%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=837957&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=837957&amp;Exchange=0"
                          >Larsen &amp; Toubro</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <!--                                    <td class="textcenter no-mob">Mar-17</td>-->
                    <td
                      class="selected-td txt-lt ng-binding orange"
                      ng-class="value.dotsum.f_clr"
                    >
                      Flat
                    </td>
                    <td class="no-mob ng-binding">4</td>
                    <td class="no-mob ng-binding">10.96%</td>
                    <td class="no-mob ng-binding">25,291</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      25,291
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        10.96%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=119922&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=119922&amp;Exchange=0"
                          >City Union Bank</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <!--                                    <td class="textcenter no-mob">Mar-17</td>-->
                    <td
                      class="selected-td txt-lt ng-binding orange"
                      ng-class="value.dotsum.f_clr"
                    >
                      Flat
                    </td>
                    <td class="no-mob ng-binding">5</td>
                    <td class="no-mob ng-binding">5.57%</td>
                    <td class="no-mob ng-binding">12,844</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      12,844
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        5.57%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=302744&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=302744&amp;Exchange=0"
                          >JP Power Ven.</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <!--                                    <td class="textcenter no-mob">Mar-17</td>-->
                    <td
                      class="selected-td txt-lt ng-binding green"
                      ng-class="value.dotsum.f_clr"
                    >
                      Very Positive
                    </td>
                    <td class="no-mob ng-binding">26</td>
                    <td class="no-mob ng-binding">3.02%</td>
                    <td class="no-mob ng-binding">6,980</td>
                    <td class="no-web ng-binding">
                      <!---Value-->
                      6,980
                      <p class="scr-txt-2 no-web ng-binding">
                        <!---Weight-->
                        3.02%
                      </p>
                    </td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                </tbody>
              </table>
            </div>
            <!-- end ngIf: loader[0].pf_fintrend_dtls == false && error_flag[0].fin_details == 0 -->
          </div>
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseFinTrendDtls"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseFinTrendDtls = !isCollapseFinTrendDtls"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>Details of Valuation of your portfolio stocks</li>
                <li>
                  Click on Full details to see the information for all stocks
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links">
              <a
                class="seefull waves-light"
                href="javascript:void(0)"
                ng-click="modalOpen('quality_details',3)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
          </div>
        </div>
      </section>

    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-button-next" style="margin-top: 0px">
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_next</i>
      </a>
    </div>
    <div
      class="swiper-button-prev swiper-button-disabled"
      style="margin-top: 0px"
    >
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_previous</i>
      </a>
    </div>
  </div>
</div>
