<div class="card">
  <div class="card-content">
    <div class="card-head">
      <h2>Post Tax Value (Rs)</h2>
    </div>

    <div class="pf-profile taxAnalysis ng-scope" *ngIf="data_taxAnalysis!">
      <div class="pf-profile-sec1">
        <div>
          <div class="pf-profile-txt1">Portfolio Value</div>
          <div class="pf-profile-txt2 ng-binding">
            {{ data_taxAnalysis.lval | roundOff | twoCommas }}
          </div>
        </div>
        <div>
          <div class="pf-profile-txt1">Post Tax Value</div>
          <div class="pf-profile-txt2 ng-binding">
            {{ data_taxAnalysis.ptv | roundOff | twoCommas }}
          </div>
        </div>
      </div>
      <div class="pf-net-breakup">
        <table style="width: 100%">
          <tbody>
            <tr>
              <td class="pf-">Short Term Capital Gains Tax</td>
              <td
                [ngClass]="
                  this.fun.getDirClrDefault(
                    data_taxAnalysis.dir.sttax,
                    'orange'
                  )
                "
                class="ng-binding"
              >
                {{ data_taxAnalysis.sttax | roundOff | twoCommas }}
              </td>
            </tr>
            <tr>
              <td class="pf-">Long Term Capital Gains Tax</td>
              <td
                [ngClass]="
                  this.fun.getDirClrDefault(
                    data_taxAnalysis.dir.lttax,
                    'orange'
                  )
                "
                class="ng-binding"
              >
                {{ data_taxAnalysis.lttax | roundOff | twoCommas }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th class="pf-">Total Tax:</th>
              <th style="text-align: right" class="ng-binding">
                {{ data_taxAnalysis.totaltax | roundOff | twoCommas }}
              </th>
            </tr>
          </tfoot>
        </table>
        <div class="condi-p">
          <div class="condi-p">
            <p class="ng-binding">
              {{ data_taxAnalysis.ptvtxt }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- slider -->
    <div class="card-reveal" style="display: none">
      <span class="card-title grey-text text-darken-4"
        >Card Title<i class="material-icons right">close</i></span
      >
      <div class="card-reveal-text">
        <ul>
          <li>
            The card depicts the derivation of post-tax value of the current
            portfolio assuming all stocks are sold at the latest price
          </li>
          <li>
            This is notional value and there is no guarantee that when you go to
            sell in the market, the shares can be sold at the exact same prices
            and realize the same value
          </li>
          <li>
            Click on Past Tax history to see tax on stocks sold in the past
            financial years
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- full detials button -->
<div class="porbottomlink">
  <div class="bottom-card-links">
    <div class="bottom-card-links">
      <a
        (click)="sendToParent()"
        class="seefull waves-light"
        href="javascript:void(0)"
        ng-click="getTaxAnalysisPop();modalOpen('tax_cap_gain_popup',1)"
        ><img
          src="https://i.marketsmojo.com/arrow_rt.png"
          alt="ArrowRight"
          height="16"
        />
        <span *ngIf="isLoading">
            Loading...
          </span>
          <span *ngIf="!isLoading  "> Post Tax History </span>
          <!-- <span *ngIf="this.error"> {{this.error}} </span> -->
          </a
      >
    </div>
  </div>
</div>

<!-- detail -->
<div [hidden]="true">
  <div
    #childDiv
    class="modal-content contentbg ng-scope"
    ng-if="loader[0].pf_tax_pst_pop == false"
  >
    <div class="list-mojo">
      <table class="table1 mod-table">
        <thead>
          <tr>
            <th>Company</th>
            <th>Quantity</th>
            <th>Inv date</th>
            <th>ST Tax</th>
            <th>LT Tax (If Sold)</th>
            <th>Day's left (to ST Tax)</th>
            <th>Latest Value</th>
          </tr>
        </thead>
        <tbody>
          <!-- ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=234277&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=234277&amp;Exchange=0"
                  >Persistent Sys</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="red-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="green-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">1</td>
            <td class="ng-binding">12-Jan-2024</td>
            <td class="ng-binding">-334</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">108</td>
            <td class="ng-binding">5,426</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=304521&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=304521&amp;Exchange=0"
                  >CEAT</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="orange-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">1</td>
            <td class="ng-binding">12-Jan-2024</td>
            <td class="ng-binding">105</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">108</td>
            <td class="ng-binding">3,190</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=1003566&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=1003566&amp;Exchange=0"
                  >One 97</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="orange-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="red-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="red-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">1</td>
            <td class="ng-binding">29-Jan-2024</td>
            <td class="ng-binding">-8</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">125</td>
            <td class="ng-binding">705</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=1003648&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=1003648&amp;Exchange=0"
                  >Life Insurance</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="orange-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="orange-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">1</td>
            <td class="ng-binding">29-Jan-2024</td>
            <td class="ng-binding">17</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">125</td>
            <td class="ng-binding">1,028</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=1003511&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=1003511&amp;Exchange=0"
                  >Zomato Ltd</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="orange-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="red-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="green-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">1</td>
            <td class="ng-binding">29-Jan-2024</td>
            <td class="ng-binding">22</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">125</td>
            <td class="ng-binding">284</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=421555&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=421555&amp;Exchange=0"
                  >Coal India</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="orange-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="orange-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">80</td>
            <td class="ng-binding">12-Feb-2024</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">2,407</td>
            <td class="ng-binding">139</td>
            <td class="ng-binding">40,508</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false -->
          <tr
            ng-repeat-end=""
            ng-repeat="details in value.details|orderObjectBy:'idate':false"
            class="ng-scope"
          >
            <td></td>
            <td class="ng-binding">50</td>
            <td class="ng-binding">01-Jun-2023</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">1,381</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">25,318</td>
          </tr>
          <!-- end ngRepeat: details in value.details|orderObjectBy:'idate':false -->
          <tr
            ng-repeat-end=""
            ng-repeat="details in value.details|orderObjectBy:'idate':false"
            class="ng-scope"
          >
            <td></td>
            <td class="ng-binding">30</td>
            <td class="ng-binding">14-Feb-2022</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">1,026</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">15,191</td>
          </tr>
          <!-- end ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=616556&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=616556&amp;Exchange=0"
                  >Punjab Natl.Bank</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="orange-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="green-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">50</td>
            <td class="ng-binding">12-Feb-2024</td>
            <td class="ng-binding">-95</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">139</td>
            <td class="ng-binding">5,365</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=10039196&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=10039196&amp;Exchange=0"
                  >Shree Karni</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="orange-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="red-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="grey-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">1</td>
            <td class="ng-binding">07-Aug-2024</td>
            <td class="ng-binding">6</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">316</td>
            <td class="ng-binding">763</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=161419&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=161419&amp;Exchange=0"
                  >Syschem (India)</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="orange-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="red-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="orange-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">1</td>
            <td class="ng-binding">15-Aug-2024</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">323</td>
            <td class="ng-binding">43</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=302744&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=302744&amp;Exchange=0"
                  >JP Power Ven.</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="orange-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="green-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">403</td>
            <td class="ng-binding">17-Sep-2024</td>
            <td class="ng-binding">158</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">357</td>
            <td class="ng-binding">7,020</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=834364&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=834364&amp;Exchange=0"
                  >Mcleod Russel</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="red-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="red-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="red-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">535</td>
            <td class="ng-binding">17-Sep-2024</td>
            <td class="ng-binding">-321</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">357</td>
            <td class="ng-binding">14,573</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=1002872&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=1002872&amp;Exchange=0"
                  >HDFC Life Insur.</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="orange-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="red-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="green-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">5</td>
            <td class="ng-binding">17-Sep-2024</td>
            <td class="ng-binding">37</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">357</td>
            <td class="ng-binding">3,646</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=141783&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=141783&amp;Exchange=0"
                  >LIC Housing Fin.</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="orange-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">16</td>
            <td class="ng-binding">17-Sep-2024</td>
            <td class="ng-binding">-281</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">357</td>
            <td class="ng-binding">10,664</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=151046&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=151046&amp;Exchange=0"
                  >Innovassynth Inv</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="grey-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="red-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="orange-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">9</td>
            <td class="ng-binding">26-Apr-2018</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">68</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">754</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=400868&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=400868&amp;Exchange=0"
                  >Reliance Infra.</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="red-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="green-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">20</td>
            <td class="ng-binding">31-Aug-2017</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">-350</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">6,573</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=119922&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=119922&amp;Exchange=0"
                  >City Union Bank</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="orange-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">75</td>
            <td class="ng-binding">14-Feb-2022</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">-138</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">12,435</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false -->
          <tr
            ng-repeat-end=""
            ng-repeat="details in value.details|orderObjectBy:'idate':false"
            class="ng-scope"
          >
            <td></td>
            <td class="ng-binding">25</td>
            <td class="ng-binding">14-Feb-2022</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">79</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">4,145</td>
          </tr>
          <!-- end ngRepeat: details in value.details|orderObjectBy:'idate':false -->
          <tr
            ng-repeat-end=""
            ng-repeat="details in value.details|orderObjectBy:'idate':false"
            class="ng-scope"
          >
            <td></td>
            <td class="ng-binding">50</td>
            <td class="ng-binding">17-Jul-2019</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">-217</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">8,290</td>
          </tr>
          <!-- end ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=837957&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=837957&amp;Exchange=0"
                  >Larsen &amp; Toubro</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="orange-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="orange-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">7</td>
            <td class="ng-binding">24-Oct-2022</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">1,451</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">26,332</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false -->
          <tr
            ng-repeat-end=""
            ng-repeat="details in value.details|orderObjectBy:'idate':false"
            class="ng-scope"
          >
            <td></td>
            <td class="ng-binding">5</td>
            <td class="ng-binding">20-Aug-2021</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">1,081</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">18,809</td>
          </tr>
          <!-- end ngRepeat: details in value.details|orderObjectBy:'idate':false -->
          <tr
            ng-repeat-end=""
            ng-repeat="details in value.details|orderObjectBy:'idate':false"
            class="ng-scope"
          >
            <td></td>
            <td class="ng-binding">2</td>
            <td class="ng-binding">24-Oct-2022</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">370</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">7,523</td>
          </tr>
          <!-- end ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=431628&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=431628&amp;Exchange=0"
                  >REC Ltd</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="green-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="orange-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="green-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">58</td>
            <td class="ng-binding">09-Jun-2023</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">2,783</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">31,526</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false -->
          <tr
            ng-repeat-end=""
            ng-repeat="details in value.details|orderObjectBy:'idate':false"
            class="ng-scope"
          >
            <td></td>
            <td class="ng-binding">25</td>
            <td class="ng-binding">11-Sep-2019</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">989</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">13,589</td>
          </tr>
          <!-- end ngRepeat: details in value.details|orderObjectBy:'idate':false -->
          <tr
            ng-repeat-end=""
            ng-repeat="details in value.details|orderObjectBy:'idate':false"
            class="ng-scope"
          >
            <td></td>
            <td class="ng-binding">33</td>
            <td class="ng-binding">26-Aug-2022</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">1,794</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">17,937</td>
          </tr>
          <!-- end ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
          <tr
            class="mod-hed-td ng-scope"
            ng-repeat-start="value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop"
          >
            <td>
              <div>
                <a
                  ng-href="/Stocks?StockId=454045&amp;Exchange=0"
                  target="_blank"
                  class="ng-binding"
                  href="/Stocks?StockId=454045&amp;Exchange=0"
                  >Jubilant Inds.</a
                >
                <span class="mojo-hover">
                  <span
                    ng-class="getClassbyClr(value.dotsum.q_clr)"
                    class="red-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.v_clr)"
                    class="red-mojo"
                  ></span>
                  <span
                    ng-class="getClassbyClr(value.dotsum.f_clr)"
                    class="green-mojo"
                  ></span>
                </span>
              </div>
            </td>
            <td class="ng-binding">50</td>
            <td class="ng-binding">02-Feb-2017</td>
            <td class="ng-binding">0</td>
            <td class="ng-binding">6,449</td>
            <td class="ng-binding">Tax Free</td>
            <td class="ng-binding">85,000</td>
          </tr>

          <!-- ngRepeat: details in value.details|orderObjectBy:'idate':false --><!-- end ngRepeat: value in taxAnalysisPopList|orderBy:orderByFieldTaxPop:reverseSortTaxPop -->
        </tbody>
      </table>
    </div>
  </div>
</div>
