
<div>trail1</div>


<div>trail2</div>

<swiper-container
  [slidesPerView]="2.2"
  [spaceBetween]=""
  [speed]="500"
  [navigation]="true"
  [autoplay]="{ delay: 5000 }"
>

<swiper-slide class="slide-1">
  <div class="slide-content" style="width: 300px; background-color: lightcoral;">Slide 1</div>
</swiper-slide>
<swiper-slide class="slide-2">
  <div class="slide-content" style="width: 400px; background-color: lightblue;">Slide 2</div>
</swiper-slide>
<swiper-slide class="slide-3">
  <div class="slide-content" style="width: 250px; background-color: lightgreen;">Slide 3</div>
</swiper-slide>
<swiper-slide class="slide-4">
  <div class="slide-content" style="width: 350px; background-color: lightgoldenrodyellow;">Slide 4</div>
</swiper-slide>
<swiper-slide class="slide-5">
  <div class="slide-content" style="width: 300px; background-color: lightpink;">Slide 5</div>
</swiper-slide>
<swiper-slide class="slide-6">
  <div class="slide-content" style="width: 450px; background-color: lightgray;">Slide 6</div>
</swiper-slide>

</swiper-container>
