<div class="listmojoarea_verdict3 ng-scope">
  <div class="heading_text">
    <div class="col-md-12">
      <p class="mojohead4_1">HOW TO USE THIS SECTION</p>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let sec of sectionData" class="col-md-3">
      <p class="vertext">
        <img alt="{{ sec.altText }}" src="{{ sec.iconSrc }}" />
      </p>
      <p class="vertext2">
        <strong>{{ sec.title }}</strong> <br />{{ sec.description }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
</div>
