<div class="listmojoarea_verdict3">
  <div class="heading_text">
    <div class="col-md-12">
      <p class="mojohead4_1">HOW TO USE THIS SECTION</p>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let sec of sectionData" class="col-md-3">
      <p class="vertext"><img alt="{{sec.altText}}" src="{{ sec.iconSrc }}" /></p>
      <p class="vertext2">
        <strong>{{sec.title}}</strong> <br />{{sec.description}}
      </p>
    </div>
    <!-- <div class="col-md-3">
      <p class="vertext"><img src="https://i.marketsmojo.com/switcher/sw-icon3_new.png" /></p>
      <p class="vertext2"><strong>More Options</strong> <br />We also give you 2 more options and their reports are also available for your view</p>
    </div>
    <div class="col-md-3">
      <p class="vertext"><img src="https://i.marketsmojo.com/switcher/sw-icon2_new.png" /></p>
      <p class="vertext2"><strong>SwitchER</strong> <br />The option to switch to the mojo reco stock is covered in the SwitchER report</p>
    </div>
    <div class="col-md-3">
      <p class="vertext"><img src="https://i.marketsmojo.com/mojoprofessional/verdict-icon3_new.png" /></p>
      <p class="vertext2"><strong>Download OR Email</strong> <br />You can download and also email yourself all reports for your final decision making</p>
    </div> -->
  </div>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
</div>
