<div
  class="slide-card cf ng-scope"
  id="MenusectDiverse"
  ng-if="other_card_visibile"
>
  <div class="swiper-container swiper-6 swiper-container-horizontal">
    <div class="section-head cf">
      <h3>Diversification analysis</h3>
    </div>
    <div class="SectionDetails">
      <span class="txt-sml no-tab"></span>
      <div
        class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
      >
        <span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
        ></span
        ><span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span>
      </div>
    </div>
    <div
      class="swiper-wrapper reco-slide"
      id="sectDiverse"
      sect-reveal="true"
      style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px)"
    >
      <!-- scorecard -->
      <section
        data-reveal="true"
        id="sectDiverse_score"
        class="swiper-slide small-card marginright swiper-slide-visible swiper-slide-active"
        data-scrolled="0"
        data-visited="0"
      >
        <ng-container *ngIf="score!">
          <app-scorecard
            [DATA]="score"
            [HEAD]="'Diversification'"
            [SHOW_BUTTON]="false"
          />
        </ng-container>
      </section>

      <section
        class="swiper-slide small-card marginright swiper-slide-visible swiper-slide-next"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content portdivers">
            <div class="card-head">
              <h2>
                Is my portfolio diversified? - Summary<span
                  class="card-title activator info-act"
                  ng-click="isCollapseDiversSummary = !isCollapseDiversSummary"
                ></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_divers_summary == true -->
            <!-- ngIf: loader[0].pf_divers_summary == false && error_flag[0].diverse_summary == 1 -->

            <!-- ngIf: loader[0].pf_divers_summary == false  && error_flag[0].diverse_summary == 0 -->
            <div
              class="mojo-txt3 ng-scope"
              ng-if="loader[0].pf_divers_summary == false  &amp;&amp; error_flag[0].diverse_summary == 0"
              style=""
            >
              <div class="mt-head txt-cr">
                Portfolio Construct
                <span class="red">Highly Concentrated</span>
              </div>
            </div>
            <!-- end ngIf: loader[0].pf_divers_summary == false  && error_flag[0].diverse_summary == 0 -->
            <!-- ngIf: loader[0].pf_divers_summary == false  && error_flag[0].diverse_summary == 0 -->
            <div
              class="alpha-col ng-scope"
              ng-if="loader[0].pf_divers_summary == false  &amp;&amp; error_flag[0].diverse_summary == 0"
              style=""
            >
              <table class="table05">
                <tbody>
                  <tr class="yellow-table">
                    <td class="table-col05">
                      Number of stocks except Tail Stocks:
                    </td>
                    <td class="table-col06">
                      <span class="pull-right new-badge ng-binding">11</span>
                    </td>
                  </tr>
                  <tr class="red-table">
                    <td class="table-col05">Top 3 Holdings Percentage:</td>
                    <td class="table-col06">
                      <span class="pull-right new-badge ng-binding"
                        >69.49%</span
                      >
                    </td>
                  </tr>
                  <tr class="red-table">
                    <td class="table-col05">Highest Holding</td>
                    <td class="table-col06">
                      <span class="pull-right new-badge ng-binding"
                        >38.24%</span
                      >
                    </td>
                  </tr>
                  <tr class="yellow-table">
                    <td class="table-col05">Highest Sector</td>
                    <td class="table-col06">
                      <span class="pull-right new-badge ng-binding"
                        >38.24%</span
                      >
                    </td>
                  </tr>
                  <tr class="red-table">
                    <td class="table-col05">Allocation Large Cap</td>
                    <td class="table-col06">
                      <span class="pull-right new-badge ng-binding"
                        >49.32%</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end ngIf: loader[0].pf_divers_summary == false  && error_flag[0].diverse_summary == 0 -->
            <p class="condi-p ng-binding">
              A Highly Concentrated portfolio carries high risk of an adverse
              effect on value of portfolio due to adverse movement in any one
              holding. However, concentration will positively benefit the value
              of portfolio in case of favourable movement in one stock as well.
            </p>
          </div>
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseDiversSummary"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseDiversSummary = !isCollapseDiversSummary"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>
                  Diversification is assessed basis the construct of your
                  portfolio
                </li>
                <li>
                  We not only look at the number of stocks but also your
                  allocation to Sectors, Market Caps and holdings
                </li>
                <li>
                  We exclude tail stocks while studying number of stocks; tail
                  stocks are the ones with less than 1% allocation in portfolio
                </li>
                <li>We penalize under as well as over diversification</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section
        class="swiper-slide small-card marginright swiper-slide-visible"
        data-scrolled="0"
        data-visited="0"
      >

        <ng-container *ngIf="data_sector!">
          <app-diversification [DATA]="data_sector" [HEAD]=" 'Sectors' " />
        </ng-container>

        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links no-web">
              <a
                class="seefull waves-light modal-trigger"
                href="javascript:void(0)"
                ng-click="getDiversSector();modalOpen('divrse_sector_pop', 1)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
            <div class="bottom-card-links no-mob">
              <a
                class="seefull waves-light"
                href="javascript:void(0)"
                ng-click="getDiversSector();modalOpen('divrse_sector_pop', 1)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
          </div>
        </div>
      </section>

      <section
        class="swiper-slide small-card marginright swiper-slide-visible"
        data-scrolled="0"
        data-visited="0"
      >

      <ng-container *ngIf="data_mcap!">
        <app-diversification [DATA]="data_mcap" [HEAD]=" 'Market Cap' " />
      </ng-container>

        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links no-web">
              <a
                class="seefull waves-light modal-trigger"
                href="javascript:void(0)"
                ng-click="getDiversMcap();modalOpen('divrse_sector_pop', 1)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
            <div class="bottom-card-links no-mob">
              <a
                class="seefull waves-light"
                href="javascript:void(0)"
                ng-click="getDiversMcap();modalOpen('divrse_sector_pop', 1)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
          </div>
        </div>
      </section>

      <section
        class="swiper-slide small-card marginright"
        data-scrolled="0"
        data-visited="0"
      >


      <ng-container *ngIf="data_holding!">
        <app-diversification [DATA]="data_holding" [HEAD]=" 'Top Holdings'" [TEXT]=" 'STOCKS'"  />
      </ng-container>

        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links no-web">
              <a
                class="seefull waves-light modal-trigger"
                href="javascript:void(0)"
                ng-click="getDiversHold();modalOpen('divrse_sector_pop', 1)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
            <div class="bottom-card-links no-mob">
              <a
                class="seefull waves-light"
                href="javascript:void(0)"
                ng-click="getDiversHold();modalOpen('divrse_sector_pop', 1)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
          </div>
        </div>
      </section>

      <section
        data-reveal="true"
        id="sectDiverse_stock"
        class="swiper-slide small-card marginright"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>
                Diversification - Stocks
                <span
                  class="card-title activator info-act"
                  ng-click="isCollapseDiversStock = !isCollapseDiversStock"
                ></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_divers_stock == true -->
            <!-- ngIf: loader[0].pf_divers_stock == false && error_flag[0].diverse_stocks == 1 -->

            <div
              class="diversifiedstock"
              ng-show="loader[0].pf_divers_stock == false &amp;&amp; error_flag[0].diverse_stocks == 0"
              style=""
            >
              <ul class="ullist pfulist list-mojo">
                <!-- ngRepeat: value in divers.stocks -->
                <li
                  ng-repeat="value in divers.stocks"
                  class="ng-scope"
                  style=""
                >
                  <strong class="yellow"
                    >Number of stocks except tail stocks 11</strong
                  >
                  <p ng-bind-html="value.sub" class="ng-binding">
                    <strong>Inadequate number of holdings -</strong> Your number
                    of stock holdings are low. Range of stock holdings for a
                    well-diversified portfolio is in the range of 21-25 stocks
                    with at least 1% allocation in each.
                  </p>
                </li>
                <!-- end ngRepeat: value in divers.stocks -->
                <li ng-repeat="value in divers.stocks" class="ng-scope">
                  <strong class="red">Tail Stocks in Portfolio: 6</strong>
                  <p ng-bind-html="value.sub" class="ng-binding">
                    Stock in which your holding is below 1% of your portfolio
                    value are categorized as tail stocks. Neither these stocks
                    add to your diversification nor they affect your overall
                    portfolio returns.
                  </p>
                </li>
                <!-- end ngRepeat: value in divers.stocks -->
                <li ng-repeat="value in divers.stocks" class="ng-scope">
                  <strong class="red">Highest Holding: 38.24%</strong>
                  <p ng-bind-html="value.sub" class="ng-binding">
                    <strong>High Concentration in Top Holding:</strong> Very
                    large part of your portfolio is invested in a single stock.
                    Any adverse news or movement in that stock, will have a
                    significant impact on your portfolio. Weight in top holding
                    for a well-diversified portfolio is suggested below 10%
                  </p>
                </li>
                <!-- end ngRepeat: value in divers.stocks -->
                <!--									<li>
                                                                                                              <strong>Tail Stocks in Portfolio: 6</strong>
                                                                                                              <p>Stock in which your holding is below 1% of your portfolio value are categorized as tail stocks. Neither these stocks add to your diversification nor they affect your overall portfolio returns.</p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                              <strong class="red">Highest Holding: 41.45%</strong>
                                                                                                              <p><strong>High Concentration in Top Holding : </strong> Very large part of your portfolio is invested in a single stock. Any adverse news or movement in that stock, will have a significant impact on your portfolio. Ideal weight in top holding for a well-diversified portfolio is suggested below 10%</p>
                                                                                                      </li>-->
              </ul>
            </div>
          </div>
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseDiversStock"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseDiversStock = !isCollapseDiversStock"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>
                  This card evaluates how well your investments are spread out
                  across stocks
                </li>
                <li>
                  We exclude tail stocks while studying number of stocks; tail
                  stocks are the ones with less than 1% allocation in portfolio
                </li>
                <li>We penalize under as well as over diversification</li>
                <li>
                  High exposures in one stocks exposes your portfolio to adverse
                  news or developments related to that stock
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-button-next" style="margin-top: 0px">
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_next</i>
      </a>
    </div>
    <div
      class="swiper-button-prev swiper-button-disabled"
      style="margin-top: 0px"
    >
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_previous</i>
      </a>
    </div>
  </div>
</div>
