<div>
  <!-- tracker  overall analysis etc...-->
  <!-- new -->

  <div class="tabcol">
    <div id="tabcol-modal" class="no-mob no-tab2">
      <ul class="nav nav-tabs">
        <li
          *ngFor="let item of items"
          [ngStyle]="{
        'background-color': TYPE === item ? 'rgba(220,220,220)' : 'rgba(64, 64, 64, 0.4)',
        color: TYPE === item ? 'black' : 'white',

      }"
          [ngClass]="{ tab: true, 'tab active': TYPE === item }"
          (click)="onClick(item)"
        >
          <a onmouseover="" style="cursor: pointer">
            {{ item }}
          </a>
        </li>
        <li class="tab opttab" style="background-color: #182c36 !important">
          <a
            href="/portfolio-plus/stock-report"
            class="opttablink"
            style="
              color: #a624e8 !important;
              background-color: #182c36 !important;
            "
            ><strong>Download Report</strong>
            <img
              src="https://i.marketsmojo.com/pdf-file-download.png"
              style="height: 16px; width: 16px"
          /></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- table and its buttons -->
  <div id="element1">
    <app-tables />
  </div>

  <div>
    <app-swiper-how-am />
  </div>

  <div>
    <app-swiper-doing-overall />
  </div>

  <!-- new -->
  <div
    *ngIf="!TO_SHOW"
    class="container-fluid hideInteraction ng-scope"
    style="padding-bottom: 300px"
    id="lnkAllCardsToggle"
  >
    <div class="row">
      <div class="col-md-12">
        <div style="text-align: center !important" class="pf-info-txt">
          <button
            (click)="showMore()"
            type="button"
            class="btn btn-info blu-but_new"
          >
            Click here for a comprehensive - <b>7 Mojo parameter analysis</b> on
            your portfolio
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- remaining elements -->

  <div *ngIf="TO_SHOW">
    <div id="element3">
      <app-swiper-return-analysis />
    </div>

    <div id="element4">
      <app-swiper-risk-analysis />
    </div>

    <!-- <div id="element5">
      <p class="heading">Liquidity Analysis</p>
      <app-demo />
    </div>

    <div id="element6">
      <p class="heading">Diversification Analysis</p>
      <app-demo />
    </div>

    <div id="element7">
      <p class="heading">Quality</p>
      <app-demo />
    </div>

    <div id="element8">
      <p class="heading">Valuation</p>
      <app-demo />
    </div>

    <div id="element9">
      <p class="heading">Financial Trend</p>
      <app-demo />
    </div>

    <div id="element10">
      <p class="heading">Tax Analysis</p>
      <app-demo />
    </div> -->
  </div>
</div>

<!-- footer -->
<!-- <app-ipo-footer /> -->
