<div class="banner-container">
  <div class="inner-container">
    <p class="mojohead4">
      <strong>{{ headingTitle }}</strong
      >{{ headingDesc }}
    </p>
  </div>
  <div>
    <div style="text-align: center">
      <div class="banner-img">
        <img alt="img" src="{{ imgSrc }}" />
      </div>

      <!-- *ngIf="!data.ispaid && data.logged_in!" -->
      <!-- <div class="mojobuttonbanner">
        {{ home_button_html }}
      </div> -->

      <!-- *ngIf="!data.logged_in!"  -->
      <!-- <div class="mojobuttonbanner">
        <div ng-click="getStarted_nl()" class="paybuttonconetnt">
          <a href="javascript:void(0);">Get Started</a>
        </div>
      </div> -->
    </div>
  </div>
</div>
