<div id="footer-new" class="fotmarginerror">
  <footer class="page-footer">
    <div class="">
      <div class="col-md-12">
        <div
          class="foot-atozlinks"
          style="text-align: center !important; margin-bottom: 10px"
        >
          <ul class="list14">
            <li class="title">Stock List</li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=A"
                class="stock-name"
                title="A"
                >A</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=B"
                class="stock-name"
                title="B"
                >B</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=C"
                class="stock-name"
                title="C"
                >C</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=D"
                class="stock-name"
                title="D"
                >D</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=E"
                class="stock-name"
                title="E"
                >E</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=F"
                class="stock-name"
                title="F"
                >F</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=G"
                class="stock-name"
                title="G"
                >G</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=H"
                class="stock-name"
                title="H"
                >H</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=I"
                class="stock-name"
                title="I"
                >I</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=J"
                class="stock-name"
                title="J"
                >J</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=K"
                class="stock-name"
                title="K"
                >K</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=L"
                class="stock-name"
                title="L"
                >L</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=M"
                class="stock-name"
                title="M"
                >M</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=N"
                class="stock-name"
                title="N"
                >N</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=O"
                class="stock-name"
                title="O"
                >O</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=P"
                class="stock-name"
                title="P"
                >P</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=Q"
                class="stock-name"
                title="Q"
                >Q</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=R"
                class="stock-name"
                title="R"
                >R</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=S"
                class="stock-name"
                title="S"
                >S</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=T"
                class="stock-name"
                title="T"
                >T</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=U"
                class="stock-name"
                title="U"
                >U</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=V"
                class="stock-name"
                title="V"
                >V</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=W"
                class="stock-name"
                title="W"
                >W</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=X"
                class="stock-name"
                title="X"
                >X</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=Y"
                class="stock-name"
                title="Y"
                >Y</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=Z"
                class="stock-name"
                title="Z"
                >Z</a
              >
            </li>
            <li>
              <a
                href="/stocks-analysis/getstocksbyname?n=OTH"
                class="stock-name"
                title="Others"
                >Others</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <style>
      .footer-new-border6 .inputsubcribe2 {
        width: 94% !important;
        height: 28px !important;
        border-radius: 4px !important;
        border: 1px solid #474d5b !important;
        text-align: left !important;
        color: #fff !important;
        padding: 5px 0px 5px 35px !important;
        background: url(https://i.marketsmojo.com/mail-icon.png) no-repeat 6px
          9px #242731 !important;
        box-sizing: content-box !important;
      }
      .swiper-button-prev-logo,
      .swiper-container-rtl .swiper-button-next-logo {
        background-image: url(https://i.marketsmojo.com/leftarrow_new.png);
        left: 10px;
        right: auto;
      }
      .swiper-button-next-logo,
      .swiper-container-rtl .swiper-button-prev-logo {
        background-image: url(https://i.marketsmojo.com/rightarrow_new.png);
        right: 10px;
        left: auto;
      }
    </style>
    <div class="footerarea-new">
      <div class="footer-new-area">
        <div class="row rowmargin1">
          <div class="col-md-3 col-sm-12">
            <div class="row rowmargin1">
              <div class="col-md-12">
                <div class="footer-new-logo">
                  <img src="https://i.marketsmojo.com/bottom-logo.png" />
                </div>
              </div>
              <div class="col-xs-6 col-lg-5 col-sm-6 col-6">
                <form
                  name="fb_other_detail"
                  id="fb_other_detail"
                  method="post"
                  action="/mojo/feedback"
                  class="ng-pristine ng-valid"
                >
                  <input
                    type="hidden"
                    name="page"
                    value="4"
                    autocomplete="off"
                  />
                  <input
                    type="hidden"
                    name="other"
                    value="[]"
                    autocomplete="off"
                  />
                </form>

                <div class="footertextalg">
                  <!--                                    <div><a href="javascript:void(0);" class="footer-new-line">About Us</a></div>
                                  <div>
                                      <a ng-href="/mojo/search#team_slide" class="footer-new-line">Team</a>
                                  </div>-->
                  <div>
                    <a href="/mojo/career" class="footer-new-line">Careers</a>
                  </div>
                  <div>
                    <a
                      onclick="document.getElementById('fb_other_detail').submit()"
                      href="javascript:void(0);"
                      class="footer-new-line"
                      >Contact Us</a
                    >
                  </div>
                  <div>
                    <a href="/mojo/refundpolicy" class="footer-new-line"
                      >Refund Policy</a
                    >
                  </div>
                  <div>
                    <a href="/mojo/faq" class="footer-new-line">FAQ</a>
                  </div>
                  <div>
                    <a href="/mojo/complaints" class="footer-new-line"
                      >Regulatory Information</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-7 col-sm-6 col-6">
                <div class="footertextalg">
                  <div class="footnew">
                    <div>
                      <a href="/mojo/disclaimer" class="footer-new-line"
                        >Disclaimer</a
                      >
                    </div>
                    <div>
                      <a href="/mojo/termsofuse" class="footer-new-line"
                        >Terms and Conditions</a
                      >
                    </div>
                    <div>
                      <a href="/mojo/privacypolicy" class="footer-new-line"
                        >Privacy Policy</a
                      >
                    </div>
                    <div>
                      <a href="/mojo/processdisclosure" class="footer-new-line"
                        >Process Disclosure</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row rowmargin">
              <div class="col-md-12 colmargin">
                <div class="footer-new-border6 footer-new-border10">
                  <div
                    class="footer-new-sub footer-new-sub2"
                    id="subscribe_sect"
                  >
                    <form
                      ng-submit="subscribe(subscribe_email)"
                      class="ng-pristine ng-valid"
                    >
                      <div class="row rowmargin1">
                        <div class="col-xs-8 col-8 col-8">
                          <div class="sub">
                            <input
                              type="text"
                              id="subscribe_email_id"
                              class="form-control inputsubcribe2 ng-pristine ng-untouched ng-valid ng-empty"
                              ng-model="subscribe_email"
                              placeholder="abc@xyz.com"
                            />
                          </div>
                          <span
                            id="subscribe_msg"
                            ng-show="subscribe_err.flag == 1"
                            class="ng-binding ng-hide"
                          ></span>
                        </div>
                        <div class="col-xs-4 col-4 col-4">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <button
                                type="button"
                                class="btnsubbutton-new subbutton-new ng-binding"
                                ng-click="subscribe(subscribe_email)"
                              >
                                Subscribe
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row rowmargin1">
              <div class="col-md-12">
                <div class="footerul row rowmargin">
                  <div class="col-xs-3 col-3 col colmargin">
                    <div class="siocalicon-fb">
                      <a
                        href="https://www.facebook.com/marketsmojocom-819692454796606/"
                        target="blank"
                      >
                        <i class="fa fa-facebook siocalsize">
                          <span class="fbtext-new">Facebook</span>
                        </i>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-3 col-3 col colmargin">
                    <div class="siocalicon-linked">
                      <a href="https://twitter.com/Marketsmojo" target="blank">
                        <i class="fa fa-twitter siocalsize">
                          <span class="fbtext-new">Twitter</span>
                        </i>
                      </a>
                    </div>
                  </div>

                  <div class="col-xs-3 col-3 col colmargin">
                    <div class="siocalicon-twitter">
                      <a
                        href="https://www.linkedin.com/company/marketsmojo/"
                        target="blank"
                      >
                        <i class="fa fa-linkedin siocalsize">
                          <span class="fbtext-new">Linked in</span>
                        </i>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-3 col-3 col colmargin">
                    <div class="siocalicon-email">
                      <a href="mailto:Support@marketsmojo.com" target="blank">
                        <i class="fa fa-envelope siocalsize">
                          <span class="fbtext-new">Email Us</span>
                        </i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row rowmargin">
                  <div class="col-md-12 colmargin">
                    <div
                      class="footer-new-border6"
                      style="float: left; margin-bottom: 0px"
                    >
                      <div class="footerslidehead">
                        We Power Research and Services of-
                      </div>
                      <div class="ftslidearea">
                        <div class="col-md-12">
                          <div class="swiperCtrlDiv">
                            <div
                              class="swiper-container-new swiper-container-horizontal"
                            >
                              <div
                                class="swiper-wrapper"
                                style="
                                  transform: translate3d(-1292.67px, 0px, 0px);
                                  transition-duration: 0ms;
                                "
                              >
                                <div
                                  class="swiper-slide ng-scope swiper-slide-duplicate"
                                  ng-repeat="item in items_chk"
                                  data-swiper-slide-index="2"
                                  style="width: 184.667px"
                                >
                                  <img
                                    ng-src="https://i.marketsmojo.com/logo/gj-logo.png"
                                    class="foot-logo"
                                    src="https://i.marketsmojo.com/logo/gj-logo.png"
                                  />
                                </div>
                                <div
                                  class="swiper-slide ng-scope swiper-slide-duplicate"
                                  ng-repeat="item in items_chk"
                                  data-swiper-slide-index="3"
                                  style="width: 184.667px"
                                >
                                  <img
                                    ng-src="https://i.marketsmojo.com/logo/angel-logo-v1.png"
                                    class="foot-logo"
                                    src="https://i.marketsmojo.com/logo/angel-logo-v1.png"
                                  />
                                </div>
                                <div
                                  class="swiper-slide ng-scope swiper-slide-duplicate swiper-slide-duplicate-prev"
                                  ng-repeat="item in items_chk"
                                  data-swiper-slide-index="4"
                                  style="width: 184.667px"
                                >
                                  <img
                                    ng-src="https://i.marketsmojo.com/logo/integrated-logo-v1.png"
                                    class="foot-logo"
                                    src="https://i.marketsmojo.com/logo/integrated-logo-v1.png"
                                  />
                                </div>
                                <!-- ngRepeat: item in items_chk -->
                                <div
                                  class="swiper-slide ng-scope swiper-slide-duplicate-active"
                                  ng-repeat="item in items_chk"
                                  data-swiper-slide-index="0"
                                  style="width: 184.667px"
                                >
                                  <img
                                    ng-src="https://i.marketsmojo.com/logo/axis-securities-logo.png"
                                    class="foot-logo"
                                    src="https://i.marketsmojo.com/logo/axis-securities-logo.png"
                                  />
                                </div>
                                <!-- end ngRepeat: item in items_chk -->
                                <div
                                  class="swiper-slide ng-scope swiper-slide-duplicate-next"
                                  ng-repeat="item in items_chk"
                                  data-swiper-slide-index="1"
                                  style="width: 184.667px"
                                >
                                  <img
                                    ng-src="https://i.marketsmojo.com/logo/smc-logo.png"
                                    class="foot-logo"
                                    src="https://i.marketsmojo.com/logo/smc-logo.png"
                                  />
                                </div>
                                <!-- end ngRepeat: item in items_chk -->
                                <div
                                  class="swiper-slide ng-scope"
                                  ng-repeat="item in items_chk"
                                  data-swiper-slide-index="2"
                                  style="width: 184.667px"
                                >
                                  <img
                                    ng-src="https://i.marketsmojo.com/logo/gj-logo.png"
                                    class="foot-logo"
                                    src="https://i.marketsmojo.com/logo/gj-logo.png"
                                  />
                                </div>
                                <!-- end ngRepeat: item in items_chk -->
                                <div
                                  class="swiper-slide ng-scope"
                                  ng-repeat="item in items_chk"
                                  data-swiper-slide-index="3"
                                  style="width: 184.667px"
                                >
                                  <img
                                    ng-src="https://i.marketsmojo.com/logo/angel-logo-v1.png"
                                    class="foot-logo"
                                    src="https://i.marketsmojo.com/logo/angel-logo-v1.png"
                                  />
                                </div>
                                <!-- end ngRepeat: item in items_chk -->
                                <div
                                  class="swiper-slide ng-scope swiper-slide-prev"
                                  ng-repeat="item in items_chk"
                                  data-swiper-slide-index="4"
                                  style="width: 184.667px"
                                >
                                  <img
                                    ng-src="https://i.marketsmojo.com/logo/integrated-logo-v1.png"
                                    class="foot-logo"
                                    src="https://i.marketsmojo.com/logo/integrated-logo-v1.png"
                                  />
                                </div>
                                <!-- end ngRepeat: item in items_chk -->
                                <div
                                  class="swiper-slide ng-scope swiper-slide-duplicate swiper-slide-active"
                                  ng-repeat="item in items_chk"
                                  data-swiper-slide-index="0"
                                  style="width: 184.667px"
                                >
                                  <img
                                    ng-src="https://i.marketsmojo.com/logo/axis-securities-logo.png"
                                    class="foot-logo"
                                    src="https://i.marketsmojo.com/logo/axis-securities-logo.png"
                                  />
                                </div>
                                <div
                                  class="swiper-slide ng-scope swiper-slide-duplicate swiper-slide-next"
                                  ng-repeat="item in items_chk"
                                  data-swiper-slide-index="1"
                                  style="width: 184.667px"
                                >
                                  <img
                                    ng-src="https://i.marketsmojo.com/logo/smc-logo.png"
                                    class="foot-logo"
                                    src="https://i.marketsmojo.com/logo/smc-logo.png"
                                  />
                                </div>
                                <div
                                  class="swiper-slide ng-scope swiper-slide-duplicate"
                                  ng-repeat="item in items_chk"
                                  data-swiper-slide-index="2"
                                  style="width: 184.667px"
                                >
                                  <img
                                    ng-src="https://i.marketsmojo.com/logo/gj-logo.png"
                                    class="foot-logo"
                                    src="https://i.marketsmojo.com/logo/gj-logo.png"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="slidearrowleft swiper-button-prev_foot">
                        <i class="slidearrowcolor fa fa-chevron-left"></i>
                      </div>
                      <div class="slidearrowright swiper-button-next_foot">
                        <i class="slidearrowcolor fa fa-chevron-right"></i>
                      </div>
                      <div class="footerslidetext">
                        For Business Partnership, pls write to us at
                        <a
                          href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=partnership@marketsmojo.com"
                          target="_blank"
                          style="color: #416c9e"
                          >partnership&#64;marketsmojo.com</a
                        >
                      </div>
                      <!--<div class="footerslidetext">MOJO Markets Pvt. Ltd., 201 Garnet, Nirmal Lifestyle, LBS Road, Mulund West, Mumbai 400080</div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="row">
              <div class="col-md-12">
                <div class="appbgarea_footer">
                  <div class="appbg_footer">
                    <div class="appbgcontent_footer">
                      GET THE MARKETSMOJO APP
                    </div>
                    <div class="appbgimg_footer">
                      <div class="appg_footer">
                        <a
                          href="https://play.google.com/store/apps/details?id=com.Markets.Mojo&amp;hl=en"
                          ><img
                            src="https://i.marketsmojo.com/mailer/google_app_footer.svg"
                        /></a>
                      </div>
                      <div class="appios_footer">
                        <a
                          href="https://apps.apple.com/in/app/markets-mojo/id1192962208"
                          target="blank"
                          ><img
                            src="https://i.marketsmojo.com/mailer/ios_app_footer.svg"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyrightcontent2">
      <div class="row">
        <div class="col-md-12">
          <!-- <p class="sebitext text-center" style="margin-bottom:4px;"><b> Name:</b> Mojo Markets Pvt Ltd (Investment Advisor)  (INA000012528) (CIN: U67190MH2022PTC385279) (www.marketsmojo.com) GST NO.27AAJCM7871R1ZD​</p> -->
          <p class="sebitext text-center" style="margin-bottom: 4px">
            <b> Name:</b> InfinHub Market Technologies FZ-LLC
          </p>
          <!-- <p class="sebitext text-center" style="margin-bottom:4px;">
              <b>Address: </b><i class="fa fa-map-marker"></i> Benefice Business House, Office No. 3B, 3rd Floor, C.S. 242, Mathuradas Mills Estate, N.M. Joshi Marg, Tulsi Pipe Road, Lower Parel West, Mumbai- 400013 <a href="https://goo.gl/maps/i11XxWzgSJ4oTVih8" target="blank" style="color:#416c9e;">locate us on maps</a>
        </p> -->
          <p class="sebitext text-center" style="margin-bottom: 4px">
            <b>Address: </b><i class="fa fa-map-marker"></i> InfinHub Market
            Technologies FZ-LLC, Building-2, Unit 112, Dubai Internet City,
            Dubai, United Arab Emirates
          </p>
          <p class="sebitext text-center" style="margin-bottom: 4px">
            <b>Email:</b>
            <a href="mailto:support@marketsmojo.com"
              >support&#64;marketsmojo.com</a
            >​​
          </p>
          <p class="sebitext text-center" style="margin-bottom: 4px">
            <b>E-mail :</b>
            <a href="mailto:compliance@marketsmojo.com"
              >compliance&#64;marketsmojo.com​</a
            >
            ​
          </p>
          <!-- <p class="sebitext text-center" style="margin-bottom:4px;">Corresponding SEBI Address: Investment Management Department, CIS Division, SEBI Bhavan, Plot No.C4-"A", "G" Block, Bandra Kurla Complex, Bandra (E), Mumbai – 400051​​</p> -->

          <p class="sebitext text-center" style="margin-bottom: 4px">
            “Investment in securities market are subject to market risks. Read
            all the related documents carefully before investing.”
            <!-- “Registration granted by SEBI, membership of BASL (in case of IAs)  and  certification  from  NISM  in  no  way  guarantee  performance  of  the intermediary or provide any assurance of returns to investors”
                  “The securities quoted are for illustration only and are not recommendatory" -->
          </p>
        </div>
        <!-- 	<div class="col-md-12">
        <p class="sebitext text-center" style="margin-bottom:4px;">SEBI Registered Investment Advisor Registration No: INA000012528 (Non – Ind); GST NO.27AAJCM7871R1ZD</p>
        <p class="sebitext text-center" style="margin-bottom:4px;">Corresponding SEBI Address: Investment Management Department, CIS Division, SEBI Bhavan, Plot No.C4-"A", "G" Block, Bandra Kurla Complex, Bandra (E), Mumbai – 400 051</p>
        <p class="sebitext text-center" style="margin-bottom:4px;"><b>Principal Officer:</b> Mr.Karan Batra, Phone : 022 – 35121238 E-mail : <a href="mailto:compliance@marketsmojo.com" style="color:#416c9e;">compliance@marketsmojo.com</a></p>
        <p class="sebitext text-center" style="margin-bottom:4px;">
          <i class="fa fa-map-marker"></i> Benefice Business House, Office No. 3B, 3rd Floor, C.S. 242, Mathuradas Mills Estate, N.M. Joshi Marg, Tulsi Pipe Road, Lower Parel West, Mumbai- 400013 <a href="https://goo.gl/maps/i11XxWzgSJ4oTVih8" target="blank" style="color:#416c9e;">locate us on maps</a>
        </p>
      </div>	 -->
      </div>
    </div>

    <div class="copyrightcontent">
      <div class="row">
        <div class="col-md-12">
          <div class="copyrighttext text-center">
            Copyright © 2024 Markets Mojo
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
