<div class="card">
  <div class="card-content">
    <div class="card-head">
      <h2>
        {{ HEAD }}
        <span
          class="card-title activator info-act"
          ng-click="isCollapseQualDtls = !isCollapseQualDtls"
        ></span>
      </h2>
    </div>

    <div class="liquidityDetails list-mojo ng-scope">
      <table class="table25">
        <thead>
          <tr>
            <th class="textcenter">Company</th>
            <th class="textcenter no-mob">Industry</th>
            <!--                                        <th class="textcenter no-mob">Quarter</th>-->
            <th class="textcenter">Quality</th>

            <th class="no-mob textcenter">Portfolio<br />Weight</th>
            <th class="no-mob textcenter">Latest Value</th>
          </tr>
        </thead>
        <tbody *ngIf="holding_list!">
          <tr *ngFor="let item of holding_list | keyvalue" class="ng-scope">
            <td>
              <div>
                <a
                  [href]="'https://www.marketsmojo.com/Stocks?StockId=' + item.value.sid + '&Exchange=0'"
                  target="_blank"
                  class="ng-binding"
                  >{{ item.value.sname }}
                </a>
                <br />
                <span class="mojo-hover">
                  <span
                    [ngClass]="this.fun.getClassbyClr(item.value.dotsum.q_clr)"
                  ></span>
                  <span
                    [ngClass]="this.fun.getClassbyClr(item.value.dotsum.v_clr)"
                  ></span>
                  <span
                    [ngClass]="this.fun.getClassbyClr(item.value.dotsum.v_clr)"
                  ></span>
                </span>
              </div>
            </td>

            <td class="txt-lt no-mob ng-binding">
              {{ item.value.indname }}
            </td>

            <td
              class="txt-lt selected-td ng-binding ng-scope"
              [ngClass]="item.value.dotsum.q_clr"
            >
              {{ item.value.dotsum.q_txt }}
            </td>

            <td class="no-mob ng-binding">
              {{ item.value.pwt | roundOff | twoCommas }}%
            </td>
            <td class="no-mob ng-binding">
              {{ item.value.lval | roundOff | twoCommas }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end ngIf: loader[0].pf_qual_dtls == false && error_flag[0].quality_details == 0 -->
  </div>

  <!-- slider -->
  <div class="card-reveal animate-slide ng-hide" ng-show="isCollapseQualDtls">
    <span class="card-title grey-text text-darken-4"
      >Card Title<i
        class="material-icons right"
        ng-click="isCollapseQualDtls = !isCollapseQualDtls"
        >close</i
      ></span
    >
    <div class="card-reveal-text">
      <ul>
        <li>Holding and trading details of stocks in portfolio</li>
        <li>
          Stocks which may have liquidity issues are categorized as Yes under
          Liq Risk (Liquidity Risk)
        </li>
        <li>Click on Full details to see details of all portfolio stocks</li>
      </ul>
    </div>
  </div>
</div>

<!-- detail button -->
<div class="porbottomlink">
  <div class="bottom-card-links">
    <div class="bottom-card-links">
      <a
        (click)="sendToParent()"
        class="seefull waves-light"
        href="javascript:void(0)"
        ng-click="modalOpen('quality_details', 1)"
        ><img
          src="https://i.marketsmojo.com/arrow_rt.png"
          alt="ArrowRight"
          height="16"
        />
        Full Details</a
      >
    </div>
  </div>
</div>

<!-- details -->
<div [hidden]="true">
  <div
    #childDiv
    class="modal-content contentbg ng-scope"
    ng-if="loader[0].pf_holding != true"
  >
    <div class="list-mojo">
      <table class="table1 mod-table">
        <thead>
          <tr>
            <th class="textcenter">Company</th>
            <!-- <th class="textcenter no-mob">Industry</th> -->
            <!--                                        <th class="textcenter no-mob">Quarter</th>-->
            <th class="textcenter">Quality</th>
            <th class="textcenter">Valuation</th>
            <th class="textcenter">Fin Trend</th>
            <th class="no-mob textcenter">Portfolio<br />Weight</th>
            <th class="no-mob textcenter">Latest Value</th>
          </tr>
        </thead>
        <tbody *ngIf="holding_list!">
          <tr *ngFor="let item of holding_list | keyvalue" class="ng-scope">
            <td>
              <div>
                <a
                  [href]="'https://www.marketsmojo.com/Stocks?StockId=' + item.value.sid + '&Exchange=0'"
                  target="_blank"
                  class="ng-binding"
                  >{{ item.value.sname }}
                </a>
                <br />
                <span class="mojo-hover">
                  <span
                    [ngClass]="this.fun.getClassbyClr(item.value.dotsum.q_clr)"
                  ></span>
                  <span
                    [ngClass]="this.fun.getClassbyClr(item.value.dotsum.v_clr)"
                  ></span>
                  <span
                    [ngClass]="this.fun.getClassbyClr(item.value.dotsum.v_clr)"
                  ></span>
                </span>
              </div>
            </td>

            <td
              class="txt-lt selected-td ng-binding ng-scope change-compare-bg"
            >
              {{ item.value.dotsum.q_txt }}
            </td>

            <td
              class="txt-lt ng-binding"
              ng-class="(highlight!== undefined &amp;&amp; highlight=='valuation')?'change-compare-bg':''"
            >
              {{ item.value.dotsum.v_txt }}
            </td>

            <td
              class="txt-lt ng-binding"
              ng-class="(highlight!== undefined &amp;&amp; highlight=='fin_trend')?'change-compare-bg':''"
            >
              {{ item.value.dotsum.f_txt }}
              <p class="ng-binding">
                (Score {{ item.value.dotsum.mfin_score }} )
              </p>
            </td>

            <td class="no-mob ng-binding">
              {{ item.value.pwt | roundOff | twoCommas }}%
            </td>
            <td class="no-mob ng-binding">
              {{ item.value.lval | roundOff | twoCommas }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
