<div
  class="slide-card cf ng-scope"
  id="MenusectTax"
  ng-if="other_card_visibile"
>
  <div class="swiper-container swiper-6 swiper-container-horizontal">
    <div class="section-head cf">
      <h3>Tax Analysis</h3>
    </div>
    <div class="SectionDetails">
      <span class="txt-sml no-tab"></span>
      <div
        class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
      >
        <span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
        ></span
        ><span class="swiper-pagination-bullet"></span>
      </div>
    </div>
    <div
      class="swiper-wrapper reco-slide"
      id="sectTax"
      sect-reveal="true"
      style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px)"
    >
      <section
        data-reveal="true"
        id="sectTax_pst"
        class="swiper-slide small-card marginright swiper-slide-visible swiper-slide-active"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>Post Tax Value (Rs)</h2>
            </div>
            <!-- ngIf: loader[0].pf_tax_pst == true -->
            <!-- ngIf: loader[0].pf_tax_pst == false && error_flag[0].tax_pst == 1 -->

            <!-- ngIf: loader[0].pf_tax_pst == false && error_flag[0].tax_pst == 0 -->
            <div
              class="pf-profile taxAnalysis ng-scope"
              ng-if="loader[0].pf_tax_pst == false &amp;&amp; error_flag[0].tax_pst == 0"
              style=""
            >
              <div class="pf-profile-sec1">
                <div>
                  <div class="pf-profile-txt1">Portfolio Value</div>
                  <div class="pf-profile-txt2 ng-binding">2,30,769</div>
                </div>
                <div>
                  <div class="pf-profile-txt1">Post Tax Value</div>
                  <div class="pf-profile-txt2 ng-binding">2,30,769</div>
                </div>
              </div>
              <div class="pf-net-breakup">
                <table style="width: 100%">
                  <tbody>
                    <tr>
                      <td class="pf-">Short Term Capital Gains Tax</td>
                      <td
                        ng-class="getDirClrDefault(taxAnalysis.dir.sttax)"
                        class="ng-binding red"
                      >
                        -126
                      </td>
                    </tr>
                    <tr>
                      <td class="pf-">Long Term Capital Gains Tax</td>
                      <td
                        ng-class="getDirClrDefault(taxAnalysis.dir.lttax)"
                        class="ng-binding grey"
                      >
                        0
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th class="pf-">Total Tax:</th>
                      <th style="text-align: right" class="ng-binding">-126</th>
                    </tr>
                  </tfoot>
                </table>
                <div class="condi-p">
                  <div class="condi-p">
                    <p class="ng-binding">
                      The above tax will be applicable in case the portfolio is
                      liquidated at the prices assumed for the calculation.
                      Please note the above calculations are for illustration
                      purposes only. The actual Post tax value would be realised
                      basis the stock prices at the time of trade.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end ngIf: loader[0].pf_tax_pst == false && error_flag[0].tax_pst == 0 -->
            <div class="card-reveal" style="display: none">
              <span class="card-title grey-text text-darken-4"
                >Card Title<i class="material-icons right">close</i></span
              >
              <div class="card-reveal-text">
                <ul>
                  <li>
                    The card depicts the derivation of post-tax value of the
                    current portfolio assuming all stocks are sold at the latest
                    price
                  </li>
                  <li>
                    This is notional value and there is no guarantee that when
                    you go to sell in the market, the shares can be sold at the
                    exact same prices and realize the same value
                  </li>
                  <li>
                    Click on Past Tax history to see tax on stocks sold in the
                    past financial years
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links">
              <a
                class="seefull waves-light"
                href="javascript:void(0)"
                ng-click="getTaxAnalysisPop();modalOpen('tax_cap_gain_popup',1)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Past Tax History</a
              >
            </div>
          </div>
        </div>
      </section>

      <section
        class="swiper-slide small-card marginright swiper-slide-visible swiper-slide-next"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>
                Tax History<span
                  class="card-title activator info-act"
                  ng-click="isCollapseTaxHist = !isCollapseTaxHist"
                ></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_tax_hist == true -->
            <!-- ngIf: loader[0].pf_tax_hist == false && error_flag[0].tax_hist == 1 -->

            <!-- ngIf: loader[0].pf_tax_hist == false  && error_flag[0].tax_hist == 0 -->
            <div
              class="price-mojo col-green ng-scope"
              ng-if="loader[0].pf_tax_hist == false  &amp;&amp; error_flag[0].tax_hist == 0"
              style=""
            >
              <!-- ngIf: (taxHistory|filter:{ status: 1 }).length==0 -->
              <!-- ngIf: (taxHistory|filter:{ status: 1 }).length>0 -->
              <table
                class="table1 ng-scope"
                ng-if="(taxHistory | filter : { status: 1 }).length > 0"
              >
                <thead>
                  <tr>
                    <th class="textcenter">
                      Financial<br />
                      Year
                    </th>
                    <th class="textcenter">
                      Short<br />
                      Term Tax
                    </th>
                    <th class="textcenter">
                      Long<br />
                      Term Tax
                    </th>
                    <!--<th class="textcenter">Total Tax</th>-->
                  </tr>
                </thead>
                <tbody>
                  <!-- ngRepeat: value in taxHistory|limitTo:10 -->
                  <tr
                    ng-repeat="value in taxHistory|limitTo:10"
                    class="ng-scope"
                  >
                    <td class="ng-binding">2024-25</td>
                    <!-- ngIf: value.status == 1 -->
                    <!-- ngIf: value.status == 1 -->
                    <!--<td ng-if='value.status == 1'>{{value.totaltax|INR:0}}</td>-->
                    <!-- ngIf: value.status == 0 -->
                    <td ng-if="value.status == 0" colspan="2" class="ng-scope">
                      <div class="alerttax alert-warningtax mar-empty">
                        No Stocks sold during this year
                      </div>
                    </td>
                    <!-- end ngIf: value.status == 0 -->
                  </tr>
                  <!-- end ngRepeat: value in taxHistory|limitTo:10 -->
                  <tr
                    ng-repeat="value in taxHistory|limitTo:10"
                    class="ng-scope"
                  >
                    <td class="ng-binding">2023-24</td>
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      105
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      244
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!--<td ng-if='value.status == 1'>{{value.totaltax|INR:0}}</td>-->
                    <!-- ngIf: value.status == 0 -->
                  </tr>
                  <!-- end ngRepeat: value in taxHistory|limitTo:10 -->
                  <tr
                    ng-repeat="value in taxHistory|limitTo:10"
                    class="ng-scope"
                  >
                    <td class="ng-binding">2022-23</td>
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      0
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      197
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!--<td ng-if='value.status == 1'>{{value.totaltax|INR:0}}</td>-->
                    <!-- ngIf: value.status == 0 -->
                  </tr>
                  <!-- end ngRepeat: value in taxHistory|limitTo:10 -->
                  <tr
                    ng-repeat="value in taxHistory|limitTo:10"
                    class="ng-scope"
                  >
                    <td class="ng-binding">2021-22</td>
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      0
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      -590
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!--<td ng-if='value.status == 1'>{{value.totaltax|INR:0}}</td>-->
                    <!-- ngIf: value.status == 0 -->
                  </tr>
                  <!-- end ngRepeat: value in taxHistory|limitTo:10 -->
                  <tr
                    ng-repeat="value in taxHistory|limitTo:10"
                    class="ng-scope"
                  >
                    <td class="ng-binding">2019-20</td>
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      3,113
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      132
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!--<td ng-if='value.status == 1'>{{value.totaltax|INR:0}}</td>-->
                    <!-- ngIf: value.status == 0 -->
                  </tr>
                  <!-- end ngRepeat: value in taxHistory|limitTo:10 -->
                  <tr
                    ng-repeat="value in taxHistory|limitTo:10"
                    class="ng-scope"
                  >
                    <td class="ng-binding">2018-19</td>
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      99
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      0
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!--<td ng-if='value.status == 1'>{{value.totaltax|INR:0}}</td>-->
                    <!-- ngIf: value.status == 0 -->
                  </tr>
                  <!-- end ngRepeat: value in taxHistory|limitTo:10 -->
                  <tr
                    ng-repeat="value in taxHistory|limitTo:10"
                    class="ng-scope"
                  >
                    <td class="ng-binding">2017-18</td>
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      3,564
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      0
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!--<td ng-if='value.status == 1'>{{value.totaltax|INR:0}}</td>-->
                    <!-- ngIf: value.status == 0 -->
                  </tr>
                  <!-- end ngRepeat: value in taxHistory|limitTo:10 -->
                  <tr
                    ng-repeat="value in taxHistory|limitTo:10"
                    class="ng-scope"
                  >
                    <td class="ng-binding">2016-17</td>
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      3,060
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!-- ngIf: value.status == 1 -->
                    <td ng-if="value.status == 1" class="ng-binding ng-scope">
                      0
                    </td>
                    <!-- end ngIf: value.status == 1 -->
                    <!--<td ng-if='value.status == 1'>{{value.totaltax|INR:0}}</td>-->
                    <!-- ngIf: value.status == 0 -->
                  </tr>
                  <!-- end ngRepeat: value in taxHistory|limitTo:10 -->
                </tbody>
              </table>
              <!-- end ngIf: (taxHistory|filter:{ status: 1 }).length>0 -->
            </div>
            <!-- end ngIf: loader[0].pf_tax_hist == false  && error_flag[0].tax_hist == 0 -->
          </div>
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseTaxHist"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseTaxHist = !isCollapseTaxHist"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>
                  The card displays average age of your portfolio and portfolio
                  stocks
                </li>
                <li>
                  Average age refers to the average holding period of your
                  current investments
                </li>
                <li>Click on full details to see information on all stocks</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links">
              <a
                class="seefull waves-light"
                href="javascript:void(0)"
                ng-click="getTaxHistoryPopup();modalOpen('tax_history_popup',1)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
          </div>
        </div>
      </section>

      <section
        class="swiper-slide small-card marginright swiper-slide-visible"
        data-scrolled="0"
        data-visited="0"
        style="display: none"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>
                Advance Tax<span
                  class="card-title activator info-act"
                  ng-click="isCollapseTaxHistAD = !isCollapseTaxHistAD"
                ></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_tax_hist == true -->
            <!-- ngIf: loader[0].pf_tax_hist == false && error_flag[0].tax_hist == 1 -->

            <!-- ngIf: loader[0].pf_tax_hist == false  && error_flag[0].tax_hist == 0 -->
            <div
              class="price-mojo col-green ng-scope"
              ng-if="loader[0].pf_tax_hist == false  &amp;&amp; error_flag[0].tax_hist == 0"
              style=""
            >
              <!-- ngIf: advanceTax.length==0 -->
              <!-- ngIf: advanceTax.length>0 -->
              <table class="table1 ng-scope" ng-if="advanceTax.length > 0">
                <thead>
                  <tr>
                    <th class="textcenter">Date till<br /></th>
                    <th class="textcenter">ST Capital <br />Gains</th>
                    <th class="textcenter">LT Capital<br />Gains</th>
                    <th class="textcenter">Advance Tax <br />Payable</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- ngRepeat: value in advanceTax -->
                  <tr ng-repeat="value in advanceTax" class="ng-scope">
                    <td class="ng-binding">15-Jun-24</td>
                    <!-- ngIf: value.stgain == '-' -->
                    <td ng-if="value.stgain == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.stgain == '-' -->
                    <!-- ngIf: value.stgain !== '-' -->
                    <!-- ngIf: value.ltgain == '-' -->
                    <td ng-if="value.ltgain == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.ltgain == '-' -->
                    <!-- ngIf: value.ltgain !== '-' -->
                    <!-- ngIf: value.advtax == '-' -->
                    <td ng-if="value.advtax == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.advtax == '-' -->
                    <!-- ngIf: value.advtax !== '-' -->
                  </tr>
                  <!-- end ngRepeat: value in advanceTax -->
                  <tr ng-repeat="value in advanceTax" class="ng-scope">
                    <td class="ng-binding">15-Sep-24</td>
                    <!-- ngIf: value.stgain == '-' -->
                    <td ng-if="value.stgain == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.stgain == '-' -->
                    <!-- ngIf: value.stgain !== '-' -->
                    <!-- ngIf: value.ltgain == '-' -->
                    <td ng-if="value.ltgain == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.ltgain == '-' -->
                    <!-- ngIf: value.ltgain !== '-' -->
                    <!-- ngIf: value.advtax == '-' -->
                    <td ng-if="value.advtax == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.advtax == '-' -->
                    <!-- ngIf: value.advtax !== '-' -->
                  </tr>
                  <!-- end ngRepeat: value in advanceTax -->
                  <tr ng-repeat="value in advanceTax" class="ng-scope">
                    <td class="ng-binding">15-Dec-24</td>
                    <!-- ngIf: value.stgain == '-' -->
                    <td ng-if="value.stgain == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.stgain == '-' -->
                    <!-- ngIf: value.stgain !== '-' -->
                    <!-- ngIf: value.ltgain == '-' -->
                    <td ng-if="value.ltgain == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.ltgain == '-' -->
                    <!-- ngIf: value.ltgain !== '-' -->
                    <!-- ngIf: value.advtax == '-' -->
                    <td ng-if="value.advtax == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.advtax == '-' -->
                    <!-- ngIf: value.advtax !== '-' -->
                  </tr>
                  <!-- end ngRepeat: value in advanceTax -->
                  <tr ng-repeat="value in advanceTax" class="ng-scope">
                    <td class="ng-binding">15-Mar-25</td>
                    <!-- ngIf: value.stgain == '-' -->
                    <td ng-if="value.stgain == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.stgain == '-' -->
                    <!-- ngIf: value.stgain !== '-' -->
                    <!-- ngIf: value.ltgain == '-' -->
                    <td ng-if="value.ltgain == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.ltgain == '-' -->
                    <!-- ngIf: value.ltgain !== '-' -->
                    <!-- ngIf: value.advtax == '-' -->
                    <td ng-if="value.advtax == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.advtax == '-' -->
                    <!-- ngIf: value.advtax !== '-' -->
                  </tr>
                  <!-- end ngRepeat: value in advanceTax -->
                  <tr ng-repeat="value in advanceTax" class="ng-scope">
                    <td class="ng-binding">31-Mar-25</td>
                    <!-- ngIf: value.stgain == '-' -->
                    <td ng-if="value.stgain == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.stgain == '-' -->
                    <!-- ngIf: value.stgain !== '-' -->
                    <!-- ngIf: value.ltgain == '-' -->
                    <td ng-if="value.ltgain == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.ltgain == '-' -->
                    <!-- ngIf: value.ltgain !== '-' -->
                    <!-- ngIf: value.advtax == '-' -->
                    <td ng-if="value.advtax == '-'" class="ng-scope">-</td>
                    <!-- end ngIf: value.advtax == '-' -->
                    <!-- ngIf: value.advtax !== '-' -->
                  </tr>
                  <!-- end ngRepeat: value in advanceTax -->
                </tbody>
              </table>
              <!-- end ngIf: advanceTax.length>0 -->
            </div>
            <!-- end ngIf: loader[0].pf_tax_hist == false  && error_flag[0].tax_hist == 0 -->
          </div>
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseTaxHistAD"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseTaxHistAD = !isCollapseTaxHistAD"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>
                  The tax liability has been calculated only on the capital
                  gains realized during the year as reflecting above and does
                  not include advance tax on gains, if any, and on other income.
                  Surcharge and cess at applicable rates are charged.
                </li>
                <li>
                  The tax figure provided above is only indicative and the
                  subscriber/visitor on the site is advised to consult his/her
                  tax advisors for arriving at the final tax workings. The
                  website, ` directors of the company owning this website as
                  well as those employees engaged in carrying our any activity
                  for the company shall not be held responsible for any tax
                  workings.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links">
              <a
                class="seefull waves-light"
                href="javascript:void(0)"
                ng-click="getTaxHistoryPopup();modalOpen('tax_history_popup',1)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
          </div>
        </div>
      </section>

      <section
        class="swiper-slide small-card marginright swiper-slide-visible"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>
                Short Term Capital Gains<span
                  class="card-title activator info-act"
                  ng-click="isCollapseTaxCap = !isCollapseTaxCap"
                ></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_tax_cap_gain == true -->
            <!-- ngIf: loader[0].pf_tax_cap_gain == false && error_flag[0].tax_capgain == 1 -->

            <!-- ngIf: (taxAnalysis.expire.error) !== undefined && loader[0].pf_tax_cap_gain == false -->
            <div
              class="price-mojo col-green ng-scope"
              ng-if="(taxAnalysis.expire.error) !== undefined &amp;&amp; loader[0].pf_tax_cap_gain == false"
              style=""
            >
              <div
                class="alert alert-warning ng-binding"
                style="margin-top: 0px"
              >
                None of your portfolio stocks will complete 1 year holding
                period in the next 3 months
              </div>
            </div>
            <!-- end ngIf: (taxAnalysis.expire.error) !== undefined && loader[0].pf_tax_cap_gain == false -->
            <!-- ngIf: taxAnalysis.expire.error === undefined && loader[0].pf_tax_cap_gain == false  && error_flag[0].tax_capgain == 0 -->
          </div>
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseTaxCap"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseTaxCap = !isCollapseTaxCap"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>
                  The card gives transaction level information regarding number
                  of days left for a stock tranche purchased to move out of
                  short term capital gains tax territory
                </li>
                <li>
                  Click on full details for all transaction level information
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links">
              <a
                class="seefull waves-light"
                ng-click="getTaxAnalysisPop();modalOpen('tax_cap_gain_popup',1)"
                href="#SeeAllModal"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
          </div>
        </div>
      </section>

      <section
        data-reveal="true"
        id="sectTax_avgage"
        class="swiper-slide small-card marginright swiper-slide-visible"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>
                Average age<span class="card-title activator info-act"></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_tax_age == true -->
            <!-- ngIf: loader[0].pf_tax_age == false && error_flag[0].tax_age == 1 -->

            <!-- ngIf: loader[0].pf_tax_age == false && error_flag[0].tax_age == 0 -->
            <div
              class="price-mojo col-green list-mojo ng-scope"
              ng-if="loader[0].pf_tax_age == false &amp;&amp; error_flag[0].tax_age == 0"
              style=""
            >
              <div class=" ">
                <div class="txt-hed-1 priced ng-binding">
                  4 Years 5 Months 10 Days
                </div>
                <p>is the average age of your portfolio</p>
                <table class="table1">
                  <thead>
                    <tr>
                      <th class="textcenter">Stock Name</th>
                      <th class="textcenter">
                        Quantity
                        <p class="scr-txt-2">Latest Value</p>
                      </th>
                      <th class="textcenter">
                        Holdings <span class="scr-txt-2">(Yrs)</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- ngRepeat: value in taxAnalysis.list -->
                    <tr ng-repeat="value in taxAnalysis.list" class="ng-scope">
                      <td>
                        <div>
                          <a
                            ng-href="/Stocks?StockId=161419&amp;Exchange=0"
                            target="_blank"
                            class="ng-binding"
                            href="/Stocks?StockId=161419&amp;Exchange=0"
                            >Syschem (India) Ltd</a
                          >
                          <br />
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="red-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </div>
                      </td>
                      <td class="ng-binding">
                        1<br />
                        <p class="scr-txt-2 ng-binding">47</p>
                      </td>
                      <td class="ng-binding">0.08</td>
                    </tr>
                    <!-- end ngRepeat: value in taxAnalysis.list -->
                    <tr ng-repeat="value in taxAnalysis.list" class="ng-scope">
                      <td>
                        <div>
                          <a
                            ng-href="/Stocks?StockId=10039196&amp;Exchange=0"
                            target="_blank"
                            class="ng-binding"
                            href="/Stocks?StockId=10039196&amp;Exchange=0"
                            >Shree Karni Fabcom Ltd</a
                          >
                          <br />
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="red-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="grey-mojo"
                          ></span>
                        </div>
                      </td>
                      <td class="ng-binding">
                        1<br />
                        <p class="scr-txt-2 ng-binding">807</p>
                      </td>
                      <td class="ng-binding">0.10</td>
                    </tr>
                    <!-- end ngRepeat: value in taxAnalysis.list -->
                    <tr ng-repeat="value in taxAnalysis.list" class="ng-scope">
                      <td>
                        <div>
                          <a
                            ng-href="/Stocks?StockId=302744&amp;Exchange=0"
                            target="_blank"
                            class="ng-binding"
                            href="/Stocks?StockId=302744&amp;Exchange=0"
                            >Jaiprakash Power Ventures Ltd</a
                          >
                          <br />
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </div>
                      </td>
                      <td class="ng-binding">
                        403<br />
                        <p class="scr-txt-2 ng-binding">6,980</p>
                      </td>
                      <td class="ng-binding">0.28</td>
                    </tr>
                    <!-- end ngRepeat: value in taxAnalysis.list -->
                    <tr ng-repeat="value in taxAnalysis.list" class="ng-scope">
                      <td>
                        <div>
                          <a
                            ng-href="/Stocks?StockId=1002872&amp;Exchange=0"
                            target="_blank"
                            class="ng-binding"
                            href="/Stocks?StockId=1002872&amp;Exchange=0"
                            >HDFC Life Insurance Company Ltd</a
                          >
                          <br />
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="red-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </div>
                      </td>
                      <td class="ng-binding">
                        5<br />
                        <p class="scr-txt-2 ng-binding">3,526</p>
                      </td>
                      <td class="ng-binding">0.28</td>
                    </tr>
                    <!-- end ngRepeat: value in taxAnalysis.list -->
                    <tr ng-repeat="value in taxAnalysis.list" class="ng-scope">
                      <td>
                        <div>
                          <a
                            ng-href="/Stocks?StockId=616556&amp;Exchange=0"
                            target="_blank"
                            class="ng-binding"
                            href="/Stocks?StockId=616556&amp;Exchange=0"
                            >Punjab National Bank</a
                          >
                          <br />
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </div>
                      </td>
                      <td class="ng-binding">
                        50<br />
                        <p class="scr-txt-2 ng-binding">5,556</p>
                      </td>
                      <td class="ng-binding">0.59</td>
                    </tr>
                    <!-- end ngRepeat: value in taxAnalysis.list -->
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end ngIf: loader[0].pf_tax_age == false && error_flag[0].tax_age == 0 -->
          </div>
          <div class="card-reveal" style="display: none">
            <span class="card-title grey-text text-darken-4"
              >Card Title<i class="material-icons right">close</i></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>
                  The card displays average age of your portfolio and portfolio
                  stocks
                </li>
                <li>
                  Average age refers to the average holding period of your
                  current investments
                </li>
                <li>Click on full details to see information on all stocks</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links">
              <a
                class="seefull waves-light"
                href="javascript:void(0)"
                ng-click="getTaxAnalysisPop();modalOpen('tax_avg_gain_popup',1)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-button-next" style="margin-top: 0px">
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_next</i>
      </a>
    </div>
    <div
      class="swiper-button-prev swiper-button-disabled"
      style="margin-top: 0px"
    >
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_previous</i>
      </a>
    </div>
  </div>
</div>
