<div
  class="slide-card cf ng-scope"
  id="MenusectQuality"
  ng-if="other_card_visibile"
>
  <div class="swiper-container swiper-6 swiper-container-horizontal">
    <div class="section-head cf">
      <h3>Quality</h3>
    </div>
    <div class="SectionDetails">
      <span class="txt-sml no-tab"></span>
      <div
        class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
      >
        <span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
        ></span
        ><span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span>
      </div>
    </div>
    <div
      class="swiper-wrapper reco-slide"
      id="sectQuality"
      sect-reveal="true"
      style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px)"
    >
      <section
        data-reveal="true"
        id="sectQuality_scorecard"
        class="swiper-slide small-card marginright swiper-slide-visible swiper-slide-active"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>Quality Scorecard</h2>
            </div>
            <!-- ngIf: loader[0].pf_qual_score == true -->
            <!-- ngIf: loader[0].pf_qual_score == false && error_flag[0].qual_scorecard == 1 -->

            <!-- ngIf: loader[0].pf_qual_score == false && error_flag[0].qual_scorecard == 0 -->
            <div
              class="sevn-dot-card ng-scope"
              ng-if="loader[0].pf_qual_score == false &amp;&amp; error_flag[0].qual_scorecard == 0"
              style=""
            >
              <div class="head-7dot">Quality</div>
              <p
                class="sev-txt3 ng-binding"
                ng-bind-html="qvf.quality.score.text"
              >
                <b>59.0%</b> of your portfolio has Average or Below Average
                Quality
              </p>
              <div
                ng-class="qvf.quality.score.color + '-7dot'"
                class="red-7dot"
              >
                <div class="con-7dot">
                  <div class="sev-txt1"></div>
                  <!--div class="sev-txt2">Underperformed</div-->
                </div>
              </div>
              <div class="condi-p-7 red">
                For detailed Quality analysis<br />
                <span class="readon" style="color: black"
                  >Swipe right..
                  <img
                    src="https://i.marketsmojo.com/arrow_rt.png"
                    alt="ArrowRight"
                    data-pin-nopin="true"
                    height="16"
                    width="23"
                /></span>
              </div>
            </div>
            <!-- end ngIf: loader[0].pf_qual_score == false && error_flag[0].qual_scorecard == 0 -->
          </div>
        </div>
      </section>

      <section
        id="sectQuality_summary"
        class="swiper-slide padnno-sec marginright swiper-slide-visible swiper-slide-next"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content liquidity">
            <div class="card-head">
              <h2>
                Quality Summary
                <span
                  class="card-title activator info-act"
                  ng-click="isCollapseQualSum = !isCollapseQualSum"
                ></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_qual_summary == true -->
            <!-- ngIf: loader[0].pf_qual_summary == false && error_flag[0].qual_summary == 1 -->

            <div
              class="ql-sec"
              ng-show="loader[0].pf_qual_summary == false &amp;&amp; error_flag[0].qual_summary == 0"
              style=""
            >
              <div class="sec1">
                <div class="pbt-mojo">
                  <div
                    ng-class="
                      qvf.quality.score.color == 'yellow'
                        ? 'orange'
                        : qvf.quality.score.color
                    "
                    ng-bind-html="qvf.quality.score.text"
                    class="ng-binding red"
                    style=""
                  >
                    <b>59.0%</b> of your portfolio has Average or Below Average
                    Quality
                  </div>
                </div>
                <div
                  class="smallgraph"
                  id="container_qual_summary"
                  data-highcharts-chart="10"
                >
                  <div
                    id="highcharts-bb11egg-33"
                    dir="ltr"
                    class="highcharts-container"
                    style="
                      position: relative;
                      overflow: hidden;
                      width: 368px;
                      height: 200px;
                      text-align: left;
                      line-height: normal;
                      z-index: 0;
                      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    "
                  >
                    <svg
                      version="1.1"
                      class="highcharts-root"
                      style="
                        font-family: 'Lucida Grande', 'Lucida Sans Unicode',
                          Arial, Helvetica, sans-serif;
                        font-size: 12px;
                      "
                      xmlns="http://www.w3.org/2000/svg"
                      width="368"
                      height="200"
                      viewBox="0 0 368 200"
                    >
                      <desc>Created with Highstock 6.1.0</desc>
                      <defs>
                        <clipPath id="highcharts-bb11egg-34">
                          <rect
                            x="0"
                            y="0"
                            width="348"
                            height="175"
                            fill="none"
                          ></rect>
                        </clipPath>
                      </defs>
                      <rect
                        fill="#ffffff"
                        class="highcharts-background"
                        x="0"
                        y="0"
                        width="368"
                        height="200"
                        rx="0"
                        ry="0"
                      ></rect>
                      <rect
                        fill="none"
                        class="highcharts-plot-background"
                        x="10"
                        y="10"
                        width="348"
                        height="175"
                      ></rect>
                      <g class="highcharts-pane-group"></g>
                      <rect
                        fill="none"
                        class="highcharts-plot-border"
                        x="10"
                        y="10"
                        width="348"
                        height="175"
                      ></rect>
                      <g class="highcharts-series-group">
                        <g
                          class="highcharts-series highcharts-series-0 highcharts-pie-series highcharts-tracker"
                          transform="translate(10,10) scale(1 1)"
                          style="cursor: pointer"
                        >
                          <path
                            fill="orange"
                            visibility="hidden"
                            d="M 120.1507323869957 68.06243642986483 A 57.25 57.25 0 0 1 172.77557423807355 30.263095108544427 L 172.79696158762684 31.262866373024004 A 56.25 56.25 0 0 0 121.09133094792153 68.40195719091523 Z"
                            class="highcharts-halo highcharts-color-3"
                            fill-opacity="1"
                          ></path>
                          <path
                            fill="red"
                            d="M 173.98833970908845 30.25000118744442 A 57.25 57.25 0 0 1 207.4409109192053 133.96792417242 L 192.3925010055629 113.057358294831 A 31.4875 31.4875 0 0 0 173.99358683999864 56.01250065309443 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-0"
                          ></path>
                          <path
                            fill="green"
                            d="M 207.39442628232348 134.00134184380556 A 57.25 57.25 0 0 1 136.97844698415975 131.1688345653434 L 153.63814584128784 111.51785901093885 A 31.4875 31.4875 0 0 0 192.3669344552779 113.07573801409306 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-1"
                          ></path>
                          <path
                            fill="green"
                            d="M 136.9347966676475 131.13179118408232 A 57.25 57.25 0 0 1 120.13132175129672 68.11629540728393 L 144.3722269632132 76.83896247400615 A 31.4875 31.4875 0 0 0 153.61413816720614 111.49748515124529 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-2"
                          ></path>
                          <path
                            fill="orange"
                            d="M 120.1507323869957 68.06243642986483 A 57.25 57.25 0 0 1 172.77557423807355 30.263095108544427 L 173.32656583094044 56.01970230969943 A 31.4875 31.4875 0 0 0 144.38290281284765 76.80934003642565 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-3"
                          ></path>
                          <path
                            fill="grey"
                            d="M 172.83281174563837 30.261899301436628 A 57.25 57.25 0 0 1 173.9204808985454 30.250055225244942 L 173.95626449419996 56.012530373884715 A 31.4875 31.4875 0 0 0 173.3580464601011 56.01904461579015 Z"
                            transform="translate(0,0)"
                            stroke="#ffffff"
                            stroke-width="1"
                            stroke-linejoin="round"
                            class="highcharts-point highcharts-color-4"
                          ></path>
                        </g>
                        <g
                          class="highcharts-markers highcharts-series-0 highcharts-pie-series"
                          transform="translate(10,10) scale(1 1)"
                        ></g>
                      </g>
                      <text
                        x="184"
                        text-anchor="middle"
                        class="highcharts-title"
                        style="color: #333333; font-size: 18px; fill: #333333"
                        y="24"
                      ></text>
                      <text
                        x="184"
                        text-anchor="middle"
                        class="highcharts-subtitle"
                        style="color: #666666; fill: #666666"
                        y="24"
                      ></text>
                      <g
                        class="highcharts-data-labels highcharts-series-0 highcharts-pie-series highcharts-tracker"
                        transform="translate(10,10) scale(1 1)"
                        opacity="1"
                        style="cursor: pointer"
                      >
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-0"
                          stroke="red"
                          stroke-width="1"
                          d="M 247.76972878531282 65.34628918680853 C 242.76972878531282 65.34628918680853 234.2032573795299 68.10592098360746 231.3477669109356 69.02579824920711 L 228.4922764423413 69.94567551480677"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-1"
                          stroke="green"
                          stroke-width="1"
                          d="M 166.07275854458544 159.6906763887256 C 171.07275854458544 159.6906763887256 171.43739761861684 150.69806618113347 171.55894397662712 147.70052944526944 L 171.6804903346374 144.7029927094054"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-2"
                          stroke="green"
                          stroke-width="1"
                          d="M 99.17479092968647 106.06078334249405 C 104.17479092968647 106.06078334249405 112.87274084847984 103.74871344515915 115.77205748807764 102.97802347938085 L 118.67137412767543 102.20733351360255"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-3"
                          stroke="orange"
                          stroke-width="1"
                          d="M 103.9541694496616 56.05000114440918 C 108.9541694496616 56.05000114440918 137.12868028080314 36.10867503007182 138.87751757973737 38.54620823022652 L 140.6263548786716 40.983741430381215"
                        ></path>
                        <path
                          fill="none"
                          class="highcharts-data-label-connector highcharts-color-4"
                          stroke="grey"
                          stroke-width="1"
                          d="M 168.25097918919428 15.25 C 173.25097918919428 15.25 173.34428281960635 24.253399024300627 173.3753840297436 27.253237805756726 L 173.40648523988085 30.253076587212824"
                        ></path>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-0"
                          style="cursor: pointer"
                          transform="translate(253,55)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Below Average
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              40.08 %
                            </tspan>
                            <tspan x="5" y="16">Below Average</tspan>
                            <tspan x="5" dy="14">40.08 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-1"
                          style="cursor: pointer"
                          transform="translate(107,150)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Good
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              21.13 %
                            </tspan>
                            <tspan x="5" y="16">Good</tspan>
                            <tspan x="5" dy="14">21.13 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-2"
                          style="cursor: pointer"
                          transform="translate(36,96)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Excellent
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              19.31 %
                            </tspan>
                            <tspan x="5" y="16">Excellent</tspan>
                            <tspan x="5" dy="14">19.31 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-3"
                          style="cursor: pointer"
                          transform="translate(44,46)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Average
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              19.15 %
                            </tspan>
                            <tspan x="5" y="16">Average</tspan>
                            <tspan x="5" dy="14">19.15 %</tspan>
                          </text>
                        </g>
                        <g
                          class="highcharts-label highcharts-data-label highcharts-data-label-color-4"
                          style="cursor: pointer"
                          transform="translate(64,5)"
                        >
                          <text
                            x="5"
                            style="
                              font-size: 11px;
                              font-weight: bold;
                              color: black;
                              fill: black;
                            "
                            y="16"
                          >
                            <tspan
                              x="5"
                              y="16"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              Does not qualify
                            </tspan>
                            <tspan
                              x="5"
                              dy="14"
                              class="highcharts-text-outline"
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="2px"
                              stroke-linejoin="round"
                            >
                              0.33 %
                            </tspan>
                            <tspan x="5" y="16">Does not qualify</tspan>
                            <tspan x="5" dy="14">0.33 %</tspan>
                          </text>
                        </g>
                      </g>
                      <g class="highcharts-legend">
                        <rect
                          fill="none"
                          class="highcharts-legend-box"
                          rx="0"
                          ry="0"
                          x="0"
                          y="0"
                          width="8"
                          height="8"
                          visibility="hidden"
                        ></rect>
                        <g><g></g></g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="sec2">
                <strong> Stocks with Below Average Quality </strong>
                <ul class="ullist">
                  <!-- ngRepeat: value in qvf.quality.summary.avg -->
                  <li
                    ng-repeat="value in qvf.quality.summary.avg"
                    class="ng-binding ng-scope"
                    style=""
                  >
                    Jubilant Inds. 38.24%
                  </li>
                  <!-- end ngRepeat: value in qvf.quality.summary.avg -->
                  <li
                    ng-repeat="value in qvf.quality.summary.avg"
                    class="ng-binding ng-scope"
                  >
                    Reliance Infra. 1.84%
                  </li>
                  <!-- end ngRepeat: value in qvf.quality.summary.avg -->
                </ul>
              </div>
              <div class="sec2">
                <strong> Stocks with Excellent Quality </strong>
                <ul class="ullist">
                  <!-- ngRepeat: value in qvf.quality.summary.excel -->
                  <li
                    ng-repeat="value in qvf.quality.summary.excel"
                    class="ng-binding ng-scope"
                    style=""
                  >
                    Coal India 16.99%
                  </li>
                  <!-- end ngRepeat: value in qvf.quality.summary.excel -->
                  <li
                    ng-repeat="value in qvf.quality.summary.excel"
                    class="ng-binding ng-scope"
                  >
                    Persistent Sys 2.32%
                  </li>
                  <!-- end ngRepeat: value in qvf.quality.summary.excel -->
                  <!--										<li>Infosys 18.33%</li>
                                                                                                                  <li>Balrampur Chini 2.36%</li>
                                                                                                                  <li>Tata Coffee 0.11%</li>-->
                </ul>
              </div>
            </div>
            <p class="condi-p pad010 ng-binding">
              Quality signifies long term financial performance of a company
              vis-à- vis its competitors in the industry. We believe high
              quality companies with consistent record of financial performance
              will reward investors in the long run.
            </p>
          </div>
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseQualSum"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseQualSum = !isCollapseQualSum"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>
                  The card depicts the bifurcation of your portfolio as per the
                  quality grade calculated by Markets mojo process
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section
        id="sectQuality_details"
        class="swiper-slide padnno-sec marginright swiper-slide-visible"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>
                Quality Details
                <span
                  class="card-title activator info-act"
                  ng-click="isCollapseQualDtls = !isCollapseQualDtls"
                ></span>
              </h2>
            </div>
            <!-- ngIf: loader[0].pf_qual_dtls == true -->
            <!-- ngIf: loader[0].pf_qual_dtls == false && error_flag[0].quality_details == 1 -->

            <!-- ngIf: loader[0].pf_qual_dtls == false && error_flag[0].quality_details == 0 -->
            <div
              class="liquidityDetails list-mojo ng-scope"
              ng-if="loader[0].pf_qual_dtls == false &amp;&amp; error_flag[0].quality_details == 0"
            >
              <table class="table25">
                <thead>
                  <tr>
                    <th class="textcenter">Company</th>
                    <th class="textcenter no-mob">Industry</th>
                    <!--                                        <th class="textcenter no-mob">Quarter</th>-->
                    <th class="textcenter">Quality</th>

                    <th class="no-mob textcenter">Portfolio<br />Weight</th>
                    <th class="no-mob textcenter">Latest Value</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                    style=""
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=454045&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=454045&amp;Exchange=0"
                          >Jubilant Inds.</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="red-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="red-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td class="txt-lt no-mob ng-binding">
                      Pesticides &amp; Agrochemicals
                    </td>
                    <!--                                        <td class="txt-lt no-mob">quarter</td>-->
                    <!-- ngIf: value.dotsum.q_txt != "NA" -->
                    <td
                      class="txt-lt selected-td ng-binding ng-scope red"
                      ng-class="value.dotsum.q_clr"
                      ng-if="value.dotsum.q_txt != 'NA'"
                    >
                      Below Average
                    </td>
                    <!-- end ngIf: value.dotsum.q_txt != "NA" -->
                    <!-- ngIf: value.dotsum.q_txt == "NA" -->

                    <!-- ngIf: value.dotsum.q_txt == "NA" -->
                    <td class="no-mob ng-binding">38.23%</td>
                    <td class="no-mob ng-binding">88,228</td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=421555&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=421555&amp;Exchange=0"
                          >Coal India</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td class="txt-lt no-mob ng-binding">
                      Mining &amp; Minerals
                    </td>
                    <!--                                        <td class="txt-lt no-mob">quarter</td>-->
                    <!-- ngIf: value.dotsum.q_txt != "NA" -->
                    <td
                      class="txt-lt selected-td ng-binding ng-scope green"
                      ng-class="value.dotsum.q_clr"
                      ng-if="value.dotsum.q_txt != 'NA'"
                    >
                      Excellent
                    </td>
                    <!-- end ngIf: value.dotsum.q_txt != "NA" -->
                    <!-- ngIf: value.dotsum.q_txt == "NA" -->

                    <!-- ngIf: value.dotsum.q_txt == "NA" -->
                    <td class="no-mob ng-binding">17.00%</td>
                    <td class="no-mob ng-binding">39,220</td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=431628&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=431628&amp;Exchange=0"
                          >REC Ltd</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td class="txt-lt no-mob ng-binding">Finance/NBFC</td>
                    <!--                                        <td class="txt-lt no-mob">quarter</td>-->
                    <!-- ngIf: value.dotsum.q_txt != "NA" -->
                    <td
                      class="txt-lt selected-td ng-binding ng-scope green"
                      ng-class="value.dotsum.q_clr"
                      ng-if="value.dotsum.q_txt != 'NA'"
                    >
                      Good
                    </td>
                    <!-- end ngIf: value.dotsum.q_txt != "NA" -->
                    <!-- ngIf: value.dotsum.q_txt == "NA" -->

                    <!-- ngIf: value.dotsum.q_txt == "NA" -->
                    <td class="no-mob ng-binding">14.27%</td>
                    <td class="no-mob ng-binding">32,927</td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=837957&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=837957&amp;Exchange=0"
                          >Larsen &amp; Toubro</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td class="txt-lt no-mob ng-binding">Capital Goods</td>
                    <!--                                        <td class="txt-lt no-mob">quarter</td>-->
                    <!-- ngIf: value.dotsum.q_txt != "NA" -->
                    <td
                      class="txt-lt selected-td ng-binding ng-scope orange"
                      ng-class="value.dotsum.q_clr"
                      ng-if="value.dotsum.q_txt != 'NA'"
                    >
                      Average
                    </td>
                    <!-- end ngIf: value.dotsum.q_txt != "NA" -->
                    <!-- ngIf: value.dotsum.q_txt == "NA" -->

                    <!-- ngIf: value.dotsum.q_txt == "NA" -->
                    <td class="no-mob ng-binding">10.96%</td>
                    <td class="no-mob ng-binding">25,291</td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=119922&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=119922&amp;Exchange=0"
                          >City Union Bank</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="orange-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td class="txt-lt no-mob ng-binding">Bank - Private</td>
                    <!--                                        <td class="txt-lt no-mob">quarter</td>-->
                    <!-- ngIf: value.dotsum.q_txt != "NA" -->
                    <td
                      class="txt-lt selected-td ng-binding ng-scope green"
                      ng-class="value.dotsum.q_clr"
                      ng-if="value.dotsum.q_txt != 'NA'"
                    >
                      Good
                    </td>
                    <!-- end ngIf: value.dotsum.q_txt != "NA" -->
                    <!-- ngIf: value.dotsum.q_txt == "NA" -->

                    <!-- ngIf: value.dotsum.q_txt == "NA" -->
                    <td class="no-mob ng-binding">5.57%</td>
                    <td class="no-mob ng-binding">12,844</td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                  <tr
                    ng-repeat="(key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit"
                    class="ng-scope"
                  >
                    <td>
                      <div>
                        <a
                          ng-href="/Stocks?StockId=302744&amp;Exchange=0"
                          target="_blank"
                          class="ng-binding"
                          href="/Stocks?StockId=302744&amp;Exchange=0"
                          >JP Power Ven.</a
                        >
                        <br />
                        <span class="mojo-hover">
                          <span
                            ng-class="getClassbyClr(value.dotsum.q_clr)"
                            class="orange-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.v_clr)"
                            class="green-mojo"
                          ></span>
                          <span
                            ng-class="getClassbyClr(value.dotsum.f_clr)"
                            class="green-mojo"
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td class="txt-lt no-mob ng-binding">
                      Power Generation/Distribution
                    </td>
                    <!--                                        <td class="txt-lt no-mob">quarter</td>-->
                    <!-- ngIf: value.dotsum.q_txt != "NA" -->
                    <td
                      class="txt-lt selected-td ng-binding ng-scope orange"
                      ng-class="value.dotsum.q_clr"
                      ng-if="value.dotsum.q_txt != 'NA'"
                    >
                      Average
                    </td>
                    <!-- end ngIf: value.dotsum.q_txt != "NA" -->
                    <!-- ngIf: value.dotsum.q_txt == "NA" -->

                    <!-- ngIf: value.dotsum.q_txt == "NA" -->
                    <td class="no-mob ng-binding">3.02%</td>
                    <td class="no-mob ng-binding">6,980</td>
                  </tr>
                  <!-- end ngRepeat: (key,value) in transaction_list|orderBy:orderByFieldQuality:reverseSortQuality| limitTo:limit -->
                </tbody>
              </table>
            </div>
            <!-- end ngIf: loader[0].pf_qual_dtls == false && error_flag[0].quality_details == 0 -->
          </div>
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseQualDtls"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseQualDtls = !isCollapseQualDtls"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>Holding and trading details of stocks in portfolio</li>
                <li>
                  Stocks which may have liquidity issues are categorized as Yes
                  under Liq Risk (Liquidity Risk)
                </li>
                <li>
                  Click on Full details to see details of all portfolio stocks
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links">
              <a
                class="seefull waves-light"
                href="javascript:void(0)"
                ng-click="modalOpen('quality_details', 1)"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-button-next" style="margin-top: 0px">
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_next</i>
      </a>
    </div>
    <div
      class="swiper-button-prev swiper-button-disabled"
      style="margin-top: 0px"
    >
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_previous</i>
      </a>
    </div>
  </div>
</div>
