<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="mojohead2">{{verdictListHeader}}</p>
      <!--<p class="mojohead3">The world of stocks changes every second and so should research. You now don’t need to track anything as we track every second for every stock for you</p>-->
      <div class="bullet_cio2">
        <ul>
          <li *ngFor="let ver of verdictLists" >
            {{ver.text}}
          </li>
          <!-- <li>
            If you want a detailed read you can either download the full report
            or see it online, your choice
          </li>
          <li>
            Save it in watchlist to track, or simply add it to your portfolio if
            you are holding that stock
          </li> -->
        </ul>
      </div>


      <div class="col-md-4 no-web no-tab">
        <div class="anibanner" ng-cloak>
          <!-- <a href="javascript:void(0);"><img alt="img" src="{{ IMG_URL }}mojoprofessional/rtrr_image.png"></a> -->
        </div>
      </div>
      <!-- <div *ngIf="!data.ispaid && data.logged_in!" class="getstartedcontent">
        {{ home_button_html }}
      </div> -->

      <!-- *ngIf="!data.logged_in!"  -->
      <!-- <div
      class="getstartedcontent">
        <div ng-click="getStarted_nl()" class="paybuttonconetnt"><a href="javascript:void(0);">Get Started</a></div>
      </div> -->
    </div>
    <div class="col-md-6 no-mob no-tab2">
      <div class="anibanner" ng-cloak>
        <a href="javascript:void(0);">
          <img
            style="width: 500px"
            alt="imag"
            src="{{imgageUrl}}"
          />

          <!-- <img alt="Image" [src]="ver1" /> -->
        </a>
      </div>
    </div>
  </div>
</div>
