<!-- <div>
  <div *ngIf="DATA">
    <h1>{{ HEAD }}</h1>
    <div> {{DATA.quality.color}} </div>
    <pre>{{ DATA | json }}</pre>
  </div>
</div> -->

<div id="returnsOverview" class="card">
  <div class="card-content">
    <div class="card-head">
      <h2>
        {{ HEAD }}
        <span
          class="card-title activator info-act"
          (click)="isCollapseTodayContri = !isCollapseTodayContri"
        ></span>
      </h2>
    </div>

    <div class="card-body ng-scope" *ngIf="DATA">
      <div class="pf-overall-boxs">
        <div class="pf-box-set">
          <!-- returns -->
          <div
            class="pf-box red-bx"
            ng-click="other_section_visible('MenusectReturn')"
          >
            <a
              class="pf-bx-a"
              href="javascript:void(0)"
              (click)="jumpToElement('Returns')"
            >
              <div class="pf-box-hed">RETURNS</div>
              <small style="color: black"
                ><i class="ng-binding"> {{ DATA.return.dt }} </i></small
              >
              <div
                [ngClass]="getDirClrDefault(DATA.return.returndir, 'orange')"
                class="pf-box-txt1"
              >
                {{ DATA.return.return }}
              </div>
              <div class="pf-box-txt2 ng-binding">
                {{ DATA.return.txt1! }}
              </div>
              <div class="pf-box-txt4 ng-binding">
                {{ DATA.return.txt2! }}
              </div>
            </a>
          </div>

          <!-- risk -->
          <div
            class="pf-box red-bx"
            ng-click="other_section_visible('MenusectRisk')"
          >
            <a
              class="pf-bx-a"
              href="javascript:void(0)"
              (click)="jumpToElement('Risk')"
            >
              <div class="pf-box-hed">RISK</div>
              <div class="pf-box-txt1" [ngClass]="DATA.risk.color">
                {{ DATA.risk.c_text }}
              </div>
              <div class="pf-box-txt2 ng-binding">
                {{ DATA.risk.text }}
              </div>
            </a>
          </div>

          <!-- liaquidity -->
          <div
            class="pf-box green-bx"
            ng-click="other_section_visible('MenusectLiq')"
          >
            <a
              class="pf-bx-a"
              href="javascript:void(0)"
              (click)="jumpToElement('Liquidity')"
            >
              <div class="pf-box-hed">LIQUIDITY</div>
              <div class="pf-box-txt1" [ngClass]="DATA.liquidity.color">
                {{ DATA.liquidity.c_text }}
              </div>
              <div class="pf-box-txt2 ng-binding">
                {{ DATA.liquidity.text }}
              </div>
            </a>
          </div>

          <div
            class="pf-box red-bx"
            ng-click="other_section_visible('MenusectDiverse')"
          >
            <a
              class="pf-bx-a"
              href="javascript:void(0)"
              (click)="jumpToElement('Diversification')"
            >
              <div class="pf-box-hed">DIVERSIFICATION</div>
              <div class="pf-box-txt1" [ngClass]="DATA.diversified.color">
                {{ DATA.diversified.text }}
              </div>
              <!-- <div class="pf-box-txt2 ng-binding">
                {{ DATA.diversified.text }}
              </div> -->
            </a>
          </div>
        </div>
      </div>

      <div class="pf-overall-boxs2">
        <div class="pf-box-set">
          <div
            class="pf-box red-bx"
            ng-click="other_section_visible('MenusectQuality')"
          >
            <a
              class="pf-bx-a"
              href="javascript:void(0)"
              (click)="jumpToElement('Quality')"
            >
              <div class="pf-box-hed">QUALITY</div>
              <div
                class="pf-box-txt2 ng-binding"
                ng-bind-html="overall.quality.text"
              >
                <!-- <strong
                >60.0%</strong> of your portfolio has Average
                or Below Average Quality -->
                {{ DATA.quality.text }}
              </div>
            </a>
          </div>

          <div
            class="pf-box red-bx"
            ng-click="other_section_visible('MenusectValuation')"
          >
            <a
              class="pf-bx-a"
              href="javascript:void(0)"
              onclick="javascript:jumpToSectionV2('#navValuation')"
            >
              <div class="pf-box-hed">VALUATION</div>
              <div
                class="pf-box-txt2 ng-binding"
                ng-bind-html="overall.quality.text"
              >
                <!-- <strong
            >60.0%</strong> of your portfolio has Average
            or Below Average valuation -->
                {{ DATA.valuation.text }}
              </div>
            </a>
          </div>

          <div
            class="pf-box yellow-bx"
            ng-click="other_section_visible('MenusectFintrend')"
          >
            <a
              class="pf-bx-a"
              href="javascript:void(0)"
              onclick="javascript:jumpToSectionV2('#navFinancialTrend')"
            >
              <div class="pf-box-hed">FINANCIAL TREND</div>
              <div
                class="pf-box-txt2 ng-binding"
                ng-bind-html="overall.quality.text"
              >
                <!-- <strong
              >60.0%</strong> of your portfolio has Average
              or Below Average fin_trend -->
                {{ DATA.fin_trend.text }}
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- end ngIf: loader[0].pf_overall_analysis == false && error_flag[0].overall_analysis == 0 -->
  </div>

  <!-- after expand -->
  <div
    *ngIf="SHOW_BUTTON"
    class="card-reveal animate-slide"
    [ngClass]="{ 'ng-hide': isCollapseTodayContri }"
  >
    <span class="card-title grey-text text-darken-4">
      Card Title<i
        class="material-icons right"
        (click)="isCollapseTodayContri = !isCollapseTodayContri"
        >close</i
      >
    </span>
    <div class="card-reveal-text">
      <p>7 Dot Portfolio Analysis</p>
      <ul>
        <li>
          <b>Returns</b>
          <ul>
            <li>
              Your portfolio returns since you created your portfolio are
              compared to returns generated by your composite index during the
              same period
            </li>
            <li>
              Colour of the dot is dependent on the relative performance of your
              portfolio and composite index
            </li>
          </ul>
        </li>
        <li>
          <b>Risk</b>
          <ul>
            <li>
              Your portfolio volatility (standard deviation) since you created
              your portfolio is compared to volatility of your composite index
              during the same period
            </li>
            <li>
              Colour of the dot is dependent on the relative performance of your
              portfolio and composite index
            </li>
          </ul>
        </li>
        <li>
          <b> Liquidity</b>
          <ul>
            <li>
              Proportion of your portfolio that may consist of stocks with
              liquidity issue
            </li>
            <li>
              Liquidity issue may be if
              <ul>
                <li>
                  Quantity held is more than 2% of the stock’s 5-day average
                  volume or,
                </li>
                <li>
                  Quantity held is more than 5% of the stock’s 5-day average
                  delivery volume or,
                </li>
                <li>
                  Stocks that may take more than 1 day to liquidate (basis 2% of
                  5-day average volume) or,
                </li>
              </ul>
            </li>
            <li>
              While selling stocks with liquidity issues, you may face longer
              time or you may not get exit at your desired price Diversification
            </li>
          </ul>
        </li>
        <li>
          <b>Diversification</b>
          <ul>
            <li>
              Diversification is assessed basis the construct of your portfolio
            </li>
            <li>
              We not only look at the number of stocks but also your allocation
              to Sectors, Market Caps and holdings
            </li>
            <li>
              We exclude tail stocks while studying number of stocks; tail
              stocks are the ones with less than 1% allocation in portfolio
            </li>
            <li>We penalize under as well as over diversification</li>
          </ul>
        </li>
        <li>
          <b> Quality</b>
          <ul>
            <li>
              Construct of your portfolio and Quality of your portfolio stocks
              as per Markets Mojo’s Quality assessment module
            </li>
            <li>
              Quality signifies long term financial performance of a company
              vis-à-vis its competitors in the industry. We believe high quality
              companies with consistent record of financial performance will
              reward investors in the long run.
            </li>
          </ul>
        </li>
        <li>
          <b>Valuation</b>
          <ul>
            <li>
              Construct of your portfolio and Valuation of your portfolio stocks
              as per Markets Mojo’s Valuation assessment module
            </li>
            <li>
              Valuation refers to attractiveness of the company at its current
              stock price by looking at its past financial performance and
              valuation matrices. We believe valuation helps the investor to
              estimate the timing of entry and exit in stocks.
            </li>
          </ul>
        </li>
        <li>
          <b>Financial Trend</b>
          <ul>
            <li>
              Construct of your portfolio and Financial Trend of your portfolio
              stocks as per Markets Mojo’s Financial Trend assessment module
            </li>
            <li>
              Financial trend analyses result of the company in the recent
              quarters. We believe companies which have been trending higher on
              financial trend in the latest periods have potential to generate
              returns in the short term.
            </li>
          </ul>
        </li>
      </ul>
      <p><em>Colour Significance</em></p>
      <p><em>Green: Portfolio has done well in this area</em></p>
      <p><em>Yellow: Portfolio needs improvement in this area</em></p>
      <p><em>Red: Portfolio has done badly in this area</em></p>
    </div>
  </div>
</div>
