<div
  class="slide-card cf ng-scope"
  id="MenusectLiq"
  ng-if="other_card_visibile"
>
  <div class="swiper-container swiper-6 swiper-container-horizontal">
    <div class="section-head cf">
      <h3>Liquidity Analysis</h3>
    </div>
    <div class="SectionDetails">
      <span class="txt-sml no-tab"></span>
      <div
        class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
      >
        <span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
        ></span
        ><span class="swiper-pagination-bullet"></span
        ><span class="swiper-pagination-bullet"></span>
      </div>
    </div>

    <div
      class="swiper-wrapper reco-slide"
      id="sectLiq"
      sect-reveal="true"
      style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px)"
    >

      <section
        data-reveal="true"
        id="sectLiq_scorecard"
        class="swiper-slide small-card marginright swiper-slide-visible swiper-slide-active"
        data-scrolled="0"
        data-visited="0"
      >
        <div class="card">
          <div class="card-content">
            <div class="card-head">
              <h2>Liquidity Scorecard</h2>
            </div>
            <!-- ngIf: loader[0].pf_liq_score == true -->
            <!-- ngIf: loader[0].pf_liq_score == false && error_flag[0].liq_scorecard == 1 -->

            <!-- ngIf: loader[0].pf_liq_score != true && error_flag[0].liq_scorecard == 0 -->
            <div
              class="sevn-dot-card ng-scope"
              ng-if="loader[0].pf_liq_score != true &amp;&amp; error_flag[0].liq_scorecard == 0"
              style=""
            >
              <div class="head-7dot" style="">Liquidity</div>
              <p
                class="sev-txt3 ng-binding"
                ng-bind-html="qvf.liquidity.score.text"
              >
                None of your portfolio stocks seem to have liquidity issues
              </p>
              <div
                ng-class="qvf.liquidity.score.color + '-7dot'"
                class="green-7dot"
              >
                <div class="con-7dot">
                  <div class="sev-txt1 ng-binding">No Liquidity Issues</div>
                  <!--div class="sev-txt2">Underperformed</div-->
                </div>
              </div>
              <div class="condi-p-7 green">
                For detailed liquidity analysis<br />
                <span class="readon" style="color: black"
                  >Swipe right..
                  <img
                    src="https://i.marketsmojo.com/arrow_rt.png"
                    alt="ArrowRight"
                    data-pin-nopin="true"
                    height="16"
                    width="23"
                /></span>
              </div>
            </div>
            <!-- end ngIf: loader[0].pf_liq_score != true && error_flag[0].liq_scorecard == 0 -->
          </div>
        </div>
      </section>

      <!-- section -->
      <section
        id="sectLiq_summary"
        class="swiper-slide padnno-sec marginright swiper-slide-visible swiper-slide-next"
        data-scrolled="0"
        data-visited="0"
      >

      <app-summary
      [DATA]="qvflData"
      [HEAD]=" 'Liquidity'"
      />

      </section>

      <!-- table -->
      <section
        id="sectLiq_analysis"
        class="swiper-slide padnno-sec marginright swiper-slide-visible"
        data-scrolled="0"
        data-visited="0"
      >

        <div class="card">
          <div class="card-content LiquidityAnalysis">
            <div class="card-head">
              <h2>
                Liquidity Analysis Details
                <span
                  class="card-title activator info-act"
                  ng-click="isCollapseLiqAnalysis = !isCollapseLiqAnalysis"
                ></span>
              </h2>
            </div>

            <div
              class="list-mojo ng-scope"
              ng-if="loader[0].pf_liq_dtls != true &amp;&amp; error_flag[0].liq_details == 0"
              style=""
            >
              <table class="table1">
                <thead>
                  <tr>
                    <th class="textcenter">Company</th>
                    <th class="textcenter">Qnty</th>
                    <th class="no-mob textcenter">
                      Vol 20d avg
                      <p class="scr-txt-2">(Qnty/Vol)</p>
                    </th>
                    <th class="textcenter">
                      Del 20d avg
                      <p class="scr-txt-2">(Qnty/Vol)</p>
                    </th>
                    <!--									<th class="textcenter">Days to Liq</th>-->
                    <th class="no-mob textcenter">Liq Risk</th>
                    <th class="no-mob textcenter">Latest Value</th>
                  </tr>
                </thead>
                <tbody *ngIf="Liquidity_List!">
                  <!-- ngRepeat: (key,value) in liquidity_list|orderBy:orderByFieldLiq:reverseSortLiq | limitTo:7 -->
                  <tr *ngFor="let item of Liquidity_List" class="ng-scope">
                    <td>
                      <div>
                        <a
                          [href]="'/Stocks?StockId=' + item.sid + '&Exchange=0'"
                          target="_blank"
                          class="ng-binding"
                          >{{ item.sname }}
                        </a>
                        <br />
                        <span class="mojo-hover">
                          <span
                            [ngClass]="
                              this.fun.getClassbyClr(item.dotsum.q_clr)
                            "
                          ></span>
                          <span
                            [ngClass]="
                              this.fun.getClassbyClr(item.dotsum.v_clr)
                            "
                          ></span>
                          <span
                            [ngClass]="
                              this.fun.getClassbyClr(item.dotsum.v_clr)
                            "
                          ></span>
                        </span>
                      </div>
                    </td>
                    <td class="ng-binding">{{ item.dotsum.score }}</td>
                    <td class="no-mob ng-binding">
                      {{ item.d5avgvol | numberFormat }}
                      <p class="scr-txt-2 ng-binding">
                        {{ item.qtyvol | roundOff | twoCommas }}%
                      </p>
                    </td>
                    <td class="no-mob ng-binding">
                      {{ item.d5delivol | numberFormat }}
                      <p class="scr-txt-2 ng-binding">
                        {{ item.qtydeli | roundOff | twoCommas }}%
                      </p>
                    </td>
                    <td
                      class="no-web ng-binding green"
                      ng-class="getDirClrDefault(value.riskdir);"
                    >
                      {{ item.days | roundOff | twoCommas }}
                    </td>
                    <td
                      [ngClass]="
                        this.fun.getDirClrDefault(item.riskdir, 'orange')
                      "
                      class="no-mob ng-binding"
                    >
                      {{ item.risk }}
                    </td>
                    <td class="no-mob ng-binding">
                      {{ item.lval | roundOff | twoCommas }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end ngIf: loader[0].pf_liq_dtls != true && error_flag[0].liq_details == 0 -->
          </div>

          <!-- extend -->
          <div
            class="card-reveal animate-slide ng-hide"
            ng-show="isCollapseLiqAnalysis"
          >
            <span class="card-title grey-text text-darken-4"
              >Card Title<i
                class="material-icons right"
                ng-click="isCollapseLiqAnalysis = !isCollapseLiqAnalysis"
                >close</i
              ></span
            >
            <div class="card-reveal-text">
              <ul>
                <li>Holding and trading details of stocks in portfolio</li>
                <li>
                  Stocks which may have liquidity issues are categorized as Yes
                  under Liq Risk (Liquidity Risk)
                </li>
                <li>
                  Click on Full details to see details of all portfolio stocks
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="porbottomlink">
          <div class="bottom-card-links">
            <div class="bottom-card-links">
              <a
                class="seefull waves-light"
                href="javascript:void(0)"
                ng-click="modalOpen('liq_analysis')"
                ><img
                  src="https://i.marketsmojo.com/arrow_rt.png"
                  alt="ArrowRight"
                  height="16"
                />
                Full Details</a
              >
            </div>
          </div>
        </div>

      </section>

    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-button-next" style="margin-top: 0px">
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_next</i>
      </a>
    </div>
    <div
      class="swiper-button-prev swiper-button-disabled"
      style="margin-top: 0px"
    >
      <a class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons large">skip_previous</i>
      </a>
    </div>
  </div>
</div>
